<%= include_incremental_search_code %>
<%
  @jobs = [["なし",nil]]
  for y in Job.order(:name)
    @jobs << [y.name,y.id]
  end
@races = [['なし',nil]]
@races += Race::select_list
%>
<p><label for='job_idress_type'>種別：</label>
<label for='job_idress_idress_type_jobidress'>
<%= radio_button :job_idress , :idress_type , 'JobIdress' ,
      :onclick => 'update_form()' %>
 着用アイドレス（人＋職１～職３）</label>

<label for='job_idress_idress_type_playeridress'>
<%= radio_button :job_idress , :idress_type , 'PlayerIdress' ,
      :onclick => 'update_form()' %>職業４アイドレス</label>
<p>
<% if @owner_account.owner_type == 'Character' %>
<% hidden_field_tag 'job_idress_type' , :acquired_by_mile %>
<% else %>
<label for='job_idress_type_acquired_by_mile'>
  <%= radio_button_tag :job_idress_type , :acquired_by_mile , @job_idress.acquired_by_mile , {:onclick => 'update_regular_no()'} %>
  <%# %= check_box  :job_idress,:acquired_by_mile %> :12枠外（猫・犬士専用など）
</label> <br />
<label for='job_idress_type_regular'>
  <%= radio_button_tag :job_idress_type , :regular , @job_idress.regular , {:onclick => 'update_regular_no()'} %>
  <%#= check_box  :job_idress,:regular ,{:onclick => 'update_regular_no()'}%>：12枠内
</label>
<% regular_no_opt = {:size => 2}
   regular_no_opt[:disabled]=:disabled unless @job_idress.regular %>
  12枠番号：<%= text_field  :job_idress,:regular_no ,regular_no_opt %> <br />

<label for='job_idress_type_expired'>
  <%= radio_button_tag :job_idress_type , :expired , !@job_idress.regular && !@job_idress.acquired_by_mile, {:onclick => 'update_regular_no()'} %>
  <%#= check_box  :job_idress,:regular ,{:onclick => 'update_regular_no()'}%>：12枠落ち
</label>
<% end %>
</p>
<p>
  種族分類：<br/>
  <%= select :job_idress , :race_type ,%w!人 猫 犬 フェアリー!,{},:size => 4 %>
  
</p> 
人＋職１～３入力：<%= text_field_tag :job_idress_combo_increment , @job_idress.jobs.collect{|y|y.name}.join('+') , :size => 80 %>
<%#= observe_field :job_idress_combo_increment ,  :function => "incremental_select_all()" ,
   :frequency => 1.0 %>

<table>
<tr>
  <td>種族：</td>
  <td><%= incremental_select(:race , @job_idress , @races) %>
  </td>
  <td>職業１：</td>
  <td><%= incremental_select(:job1 , @job_idress , @jobs) %>
  </td>
  <td>職業２：</td>
  <td><%= incremental_select(:job2 , @job_idress, @jobs) %>
  </td>
  <td>職業３：</td>
  <td><%= incremental_select(:job3 , @job_idress, @jobs) %>
  </td>
  <td>職業４：</td>
  <td><%= incremental_select(:job4 , @job_idress, @jobs) %>
  </td>
</tr>
</table>

検索結果：<span id='job_idress_combo'> <%= @job_idress.jobs.collect{|y|y.name}.join('+') %> </span>
<script defer="defer " type="text/javascript">
function update_by_quality(index) {
  row_name = 'job_idress[bonuses][' + index + ']';
  flag = $F(row_name + '[quality]') == '0';
  $(row_name + '[hq_target]').disabled = flag;
  $(row_name + '[option]').disabled = flag || ($F(row_name + '[hq_target]') != '');
}

function update_by_target(index){
  row_name = 'job_idress[bonuses][' + index + ']';
  $(row_name + '[option]').disabled = ($F(row_name + '[hq_target]') != '');
}
</script>

<% @hq = @job_idress.hq %>
<p>HQボーナス：<br/>
<table>
  <tr><td>自身HQ：</td><td>
<%= hq_tags(:hq0 , @job_idress.bonuses) %></td></tr>
  <tr><td>１世代前より継承： </td><td>
<%= hq_tags(:hq1 , @job_idress.bonuses) %></td></tr>
  <tr><td>２世代前より継承：</td><td>
<%= hq_tags(:hq2 , @job_idress.bonuses) %></td></tr>
  <tr><td>３世代前より継承：</td><td>
<%= hq_tags(:hq3 , @job_idress.bonuses) %></td></tr>
  <tr><td>その他（HQ上限による他箇所振り分け等）：</td><td>
<%= hq_tags(:etc , @job_idress.bonuses) %></td></tr>
</table>

</p>

<p>
備考：<br/>
<%= text_area :job_idress , :note , :cols => 80, :rows => 10 %>
</p>
