<table>
  <tr>
    <th>識別番号</th>
    <th>保有者</th>
    <th>構成</th>
    <th>体格</th>
    <th>筋力</th>
    <th>耐久力</th>
    <th>外見</th>
    <th>敏捷</th>
    <th>器用</th>
    <th>感覚</th>
    <th>知識</th>
    <th>幸運</th>
    <th>HQ</th>
<% if @owner_account && @owner_account.owner_type == 'Nation' -%>
    <th>種族区分</th>
    <th>12枠No.</th>
<% end -%>
    <th>備考<th>
  </tr>
  
<% for job_idress in job_idresses %>
  <tr>
    <td><%= case job_idress.owner_account.owner_type 
    when 'Nation'
      job_idress.owner_account.owner.id
    when 'Character'
      job_idress.owner_account.owner.character_no
    else
      job_idress.owner_account.id
    end
  %>
  </td>
    <td><%= job_idress.owner_account.owner.name %></td>
    <td><%= job_idress_name = job_idress.jobs.map{|y|y.name}.join('+') %> <%= '(職業４)' if job_idress.idress_type == 'PlayerIdress' %></td>
    <td align=right> <%= job_idress.phy %> </td>
    <td align=right> <%= job_idress.str %> </td>
    <td align=right> <%= job_idress.dur %> </td>
    <td align=right> <%= job_idress.chr %> </td>
    <td align=right> <%= job_idress.agi %> </td>
    <td align=right> <%= job_idress.dex %> </td>
    <td align=right> <%= job_idress.sen %> </td>
    <td align=right> <%= job_idress.edu %> </td>
    <td align=right> <%= job_idress.luc %> </td>
    <td align=center> <%#= JobIdressesController::format_hq(job_idress.hq) %>
<%= JobIdressesController::format_hq(job_idress) %>
</td>
<% if @owner_account && @owner_account.owner_type == 'Nation' -%>
    <td align="right"> <%= if job_idress.idress_type == 'PlayerIdress'
     '－'
    else
      job_idress.race_type 
    end
    %> </td>
    <td align="right"><%= if (job_idress.idress_type == 'PlayerIdress' )
             '職４'
    elsif job_idress.acquired_by_mile
      '枠外'
    else
      job_idress.regular_no || '○'
    end
    %></td>
<% end -%>
    <td><%= truncate(job_idress.note.split(/\s+/).join(tag :br) , length: 20) if job_idress.note%> </td>

    <td><%= link_to '詳細', :action => 'show', :id => job_idress %></td>
<% if has_role?(:herald , :monju_maintainer) %>
    <td><%= link_to '編集', :action => 'edit', :id => job_idress %></td>
    <td><%= link_to '削除', owner_account_job_idress_path(job_idress.owner_account,job_idress),:confirm => job_idress_name + 'を削除します。よろしいですか？',:owner_account_id => params[:owner_account_id], :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>
