<h1>職業アイドレスの編集</h1>

<%= form_tag owner_account_job_idress_path(@owner_account , @job_idress) , :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to '[詳細]', :action => 'show', :id => @job_idress , :owner_accunt_id => params[:owner_account_id] %> |
<%= link_to '[戻る]', owner_account_job_idresses_path(@owner_account) %>
