<% @link = link_to "保有アイドレス一覧" %>
<% @nation_id = params[:nation_id]%>
<h1>保有アイドレス一覧</h1>
<%= render :partial => 'index' , :locals => {:job_idresses => @job_idresses }%>
<br />

<% if @expired_idresses && @expired_idresses.size > 0%>
<h3><%= link_to_function(' （１２枠外の職業アイドレス）' ,"new Effect.toggle('expired' , 'slide' , {duration:0.3})") %></h3>
<div id="expired"  style='overflow: visible; display: none;padding-left: 10px'>
<%= render :partial => 'index' , :locals => {:job_idresses => @expired_idresses }%>
</div>
<% end %>

<%= link_to_if has_role?(:herald,:monju_maintainer) ,'[新規職業アイドレス作成]', :action => 'new' %> |
<%= link_to '[戻る]' , @owner_account.owner %>
