<h1>職業アイドレス詳細</h1>
<p>
<b>構成：</b> <%= @job_idress.inspect_idresses %> <%= '（職業４）' if @job_idress.idress_type == 'PlayerIdress' %>
</p>

<p>
<b>保有者：</b> <%= @job_idress.owner_account.owner.name %>
</p>

<table border=1>
  <tr>
    <th>名称</th>
    <th>体格</th>
    <th>筋力</th>
    <th>耐久力</th>
    <th>外見</th>
    <th>敏捷</th>
    <th>器用</th>
    <th>感覚</th>
    <th>知識</th>
    <th>幸運</th>
    <th>参照</th>
  </tr>
<% sum = Hash.new{|hash,key| hash[key]=0}
   yggs = @job_idress.jobs
   for row in yggs %>
 <tr>
   <td> <%= row.name %> </td>
  <% for col in Job::Abilities %>
    <td align='right'> <%= row[col] %> <% sum[col] += row[col].to_i%> </td>
  <% end %>
    <td> 
      <%=link_to '[アイドレスWiki]' , 'http://farem.s101.xrea.com/idresswiki/index.php?'+URI.escape(row.name.toeuc) if row.class != Hash%>
    </td>
  </tr>
<% end %>
<% hq_indice = [:hq0,:hq1,:hq2,:hq3,:etc]
   hq_title = Hash[*hq_indice.zip(['自身ＨＱ','継承１世代','継承２世代','継承３世代','HQB振り分け']).flatten]
   options_sum = Hash.new{|hash,key| hash[key] = 0}
 %>
<% for lv in [:hq0,:hq1,:hq2,:hq3,:etc]
     if @job_idress.bonuses[lv][:quality] != '0'-%>
  <tr>
    <td> <%= hq_title[lv] %></td>
    <% for col in Job::Abilities %>
    <td align='right'> 
      <% val = col.to_s == @job_idress.bonuses[lv][:hq_target] ? @job_idress.bonuses[lv][:quality].to_i : 0
         sum[col] += val -%>
      <%= val == 0 ? '' : val %>
    </td>
    <% end %>
    <% if @job_idress.bonuses[lv][:hq_target] == '' 
      options_sum[@job_idress.bonuses[lv][:option]]+= @job_idress.bonuses[lv][:quality].to_i
       %>
      <td>
        <%= @job_idress.bonuses[lv][:option] %>+<%= @job_idress.bonuses[lv][:quality] %>
      </td>
    <% end %>
  </tr>
  <% end  -%>
<% end %>

  <tr>
    <td> <b>合計</b> </td>
    <% for col in Job::Abilities %>
    <td align='right'> <%= sum[col] %> </td>
  <% end %>
  <td> <%= options_sum.keys.collect{|k| k + '+' + options_sum[k].to_s}.join(',') %></td>
  </tr>
</table>
<p>備考：
<%= lf2br @job_idress.note %>
</p>
<%= link_to_if has_role?(:herald) ,'[編集]', :action => 'edit', :id => @job_idress %> |
<%= link_to '[戻る]', owner_account_job_idresses_path(@owner_account) %>
