<%= error_messages_for 'operation' %>

<!--[form:operation]-->
<p><label for="operation_name">Name</label><br/>
<%= text_field 'operation', 'name'  %></p>

<p><label for="operation_created">Created</label><br/>
<%= date_select 'operation', 'created'  %></p>

<p><label for="operation_limit">Limit</label><br/>
<%= date_select 'operation', 'limit'  %></p>

<p><label for="operation_note">Note</label><br/>
<%= text_area 'operation', 'note'  , :rows => 5%></p>
<!--[eoform:operation]-->

