  <td nowrap><%= @soldier.id %>:<%= @soldier.character.name %><br/><small><%=@soldier.job_idress.inspect_idresses %> </small></td>
    <td align=right> <%= @soldier.character.originator %> </td>
     <% for col in Job::Abilities %>
     <td align=right>
        <%= @soldier[col]  %>
     </td>
     <% end %>
    
     <td colspan = 6> <small>
     <%for mo in @soldier.modifications %>
        <% modes =  mo.modes %>
        <%= check_box_tag "children[#{@soldier.id}][modifications][#{mo.id}][enable]" ,"1" ,mo.enable %>
        <% if modes.size > 1
             options = []
             j = 0
             for mode in modes
               options.push [ mode[:name] , j]
               j += 1
             end %>
                
             <%= select_tag "children[#{@soldier.id}][modifications][#{mo.id}][mode]" ,options_for_select(options , mo.mode) %>
             <%= observe_field("children[#{@soldier.id}][modifications][#{mo.id}][mode]" , 
                            :on => :change ,
                            :with => "children[#{@soldier.id}][modifications][#{mo.id}][mode]" ,
                            :url => {:action => :update_soldier} ) %>
         <% else %> 
           <label for="children[<%= @soldier.id -%>][modifications][<%= mo.id -%>][enable]" >
               <%=  mo.name -%></label>
         <% end %>
         <%= hidden_field_tag "children[#{@soldier.id}][modifications][#{mo.id}][enable]","0" %>
         <%= observe_field("children[#{@soldier.id}][modifications][#{mo.id}][enable]" , 
                            :on => :click ,
                            :with => "children[#{@soldier.id}][modifications][#{mo.id}][enable]" ,
                            :url => {:action => :update_soldier} )
                            %>
       <% end %>
       </small>

</tr>