<%= error_messages_for 'operation' %>

<!--[form:operation]-->
<%= @troop.name %><br/>

<table>
  <% for c in @troop.children %>
     <%  case c[:type]
         when 'SoldierNode' %>
           <% @soldier = c %>
           <tr id="troop_<%=@soldier.id -%>">
           <%= render :partial => 'soldier' %>
           </tr>
       <%when IDGear
           @gear = c %>
           <%= render :partial => 'gear' %>
           </tr>
      <% end %>
  <% end %>
　　<tr id="troop_rd_sum_<%=@troop.id -%>">
     <%= render :partial => 'troop_rd_sum' %>
  </tr>
　　<tr id="troop_sum_<%=@troop.id -%>">
     <%= render :partial => 'troop_sum' %>
  </tr>
</table>
<div id="troop_<%= @troop.id%>_fuel">
  燃料消費：<%= @troop.fuel %>
</div>
<!--[eoform:operation]-->

