<h1>Editing operation</h1>

<%= form_tag :action => 'update', :id => @operation do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @operation %> |
<%= link_to 'Back', :action => 'list' %>
