<h1>Listing operations</h1>

<table>
  <tr>
    <th>name </th>
    <th>created </th>
    <th>num of troops </th>
  </tr>
  
<% for operation in @operations %>
  <tr>
    <td><%= operation.name %></td>
    <td><%= operation.created %></td>

    <td><%= link_to '部隊詳細', :controller => 'operations/troops' , :action => 'list', :id => operation %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => operation %></td>
    <td><%= link_to 'Plan', :action => 'plan', :id => operation %></td>
    <td><%= link_to '動員登録' ,:controller => 'operations/troops' , :action => 'register' ,:id => operation %> </td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => operation }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @operation_pages.current.previous } if @operation_pages.current.previous %>
<%= link_to 'Next page', { :page => @operation_pages.current.next } if @operation_pages.current.next %> 

<br />

<%= link_to 'New operation', :action => 'new' %>
