<h1>New operation</h1>

<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>

<table>
<% nations = Nation.find(:all , :order => :id)
while nations.size > 0
  for i in 0..3 
    nation = nations.shift 
    break if nations.size == 0 %>
   <%= "<tr>\n" if i == 0  %> 
      <td>
        <%= check_box_tag "#{nation.id }" ,true %>
        <%= hidden_field_tag "#{nation.id }" ,0 %>
        <label for="<%= nation.id -%>">
          <%= nation.name  %>
        </label>
      </td>
   <%= "</tr>\n" if i == 3 %>
<%    end
end %>
</table>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
