
<h1>Editing operation</h1>

<%= @operation.name %>

[部隊追加]<br/>
<%= form_tag :action => 'submit_plan', :id => @operation  do %>
  <% for @troop in @operation.troops %>
    <%= render :partial => 'troop' %>
  <% end %>
  
  <%= submit_tag "submit plan" %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @operation %> |
<%= link_to 'Back', :action => 'list' %>
