<% for column in Operation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @operation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @operation %> |
<%= link_to 'Back', :action => 'list' %>
