
<h1>Submitting operation</h1>
<pre>
<% children = @parameter[:children]
#  for cid in children.keys.sort
#    mo_params = children[cid][:modifications]
#    for mid in mo_params.keys.sort
#      mo = Modification.find(children[cid][:id])
#      if mo_params[mid][:mode].nil?
#        mo.mode = 0
#      else
#        mo.mode =  mo_params[mid][:mode].to_i
#      end
#      mo.enable = mo_params[mid][:enable] == "1"
      
#      mo.save
#      OperationNode.find(cid).modifications(mid)
#      @operation.troops
#    end
#  end

%>

<%= children.to_yaml %>

</pre>
<%= link_to 'Show', :action => 'show', :id => @operation %> |
<%= link_to 'Back', :action => 'list' %>
