<h1> <%= @ace.name %> のプロモーション処理 </h1>

<%= form_for(:object_definition , :url => {:action => :promote , :id => @ace} , :method => :post) do |f| %>

  <p>
    <b>プロモート後定義の名称</b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b>プロモート後定義の名称のふりがな</b><br />
    <%= f.text_field :hurigana %>
  </p>

  <p><b>プロモート後のi言語定義</b><br />
    <%= f.text_area :definition , :rows => 15 , :cols => 80 %>
  </p>
  <p>
    <b>アイテム図鑑上のACE定義へのURL</b><br />
    <%= text_field_tag :zukan_definition_url ,
       (@object_definition ? @object_definition.zukan_definition_url : '') ,
       :size => 100 %>
  </p>

  <p>
    <%= f.submit "プロモーション登録" %>
  </p>
<% end %>

<% @link = 'プロモーション' %>