<h1> ACE編集 </h1>

<%= error_messages_for :ace %>

<%= form_for(@ace) do |f| %>
    <p>
      <b>国民番号</b><br />
      <%= f.text_field :character_no %>
    </p>

  <p>
    <b>名称</b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b>ふりがな</b><br />
    <%= f.text_field :hurigana %>
  </p>
<p>
  <%= if @ace.object_definition
    link_to('[i言語定義編集]', edit_object_definition_path(@ace.object_definition) )
    else
      '<strike>[i言語定義編集]</strike> （プロモート処理で定義を登録して下さい。）'
    end
  %>
</p>

  <p>
    <%= link_to '[プロモート]' ,:action => :edit_promotion, :id => @ace %>
  </p>

  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<% if has_role?(:item_officer) %>
<%= link_to '[詳細]', @ace %> |
<%= link_to '[戻る]', aces_path %>
<% end  %>

<% @link = link_to '編集' %>