<h1>ACE 一覧</h1>

<%= link_to '[新規登録]', new_ace_path  if has_role?(:item_officer) %>
<%= link_to "[ACE所有アイテム一覧]" ,:controller => :aces , :action => :items %>
<%= link_to "(wiki書式出力)" ,:controller => :aces , :action => :items_for_wiki  if has_role?(:item_officer) %>
<table>
  <tr>
    <th>国民番号</th><th>名称</th> <th>関連PC</th>
  </tr>

<% for ace in @aces %>
  <tr>
    <td><%=ace.character_no %></td>
    <td><%=link_to( h(ace.name) , ace) %></td>
    <td> <%= (link_to ace.related_character.name  ,ace.related_character ) if ace.related_character %> </td>
    <td><%= link_to '[アイテム]' , owner_account_object_registries_path(ace.owner_account) %> <%= link_to '[コマンドリソース]' , owner_account_command_resources_path(ace.owner_account) %>
<% if has_role?(:item_officer) %>
    <td><%= link_to '[編集]', edit_ace_path(ace) %></td>
    <td><%= link_to '[削除]', ace, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<% @link = 'ACE一覧' %>