<textarea rows=20 cols=100>
|アイテム名|入手履歴|保有者|使用履歴|現在所持数|
<% rows_hash = @registries.group_by(&:name)
    for name in rows_hash.keys.sort_by{|key| 
          delegate = rows_hash[key].min{|a , b| a.created_at <=> b.created_at}
          delegate.object_definition ? delegate.object_definition.hurigana.to_s : ''
        }
      registries = rows_hash[name]
      by_characters = registries.group_by(&:owner_account)
      row_header = "|[[#{name}]]|"
  -%>
<%     for owner_account_id in by_characters.keys -%>
<%= row_header %><%= got_items_for_wiki(by_characters[owner_account_id]) %>|<%=OwnerAccount.find(owner_account_id).owner.name -%>
|<%= used_items_for_wiki(by_characters[owner_account_id]) %>|<%=by_characters[owner_account_id].sum{|o| o.number.to_i } %>|
<%     row_header = "|~|" 
       end -%>
<%     end -%>
</textarea>

<% @link = link_to '国別所有アイテム一覧(wiki書式)' %>