<h3>ACE所持アイテムリスト</h3>

<%= link_to "(wiki書式出力)" ,:controller => :aces , :action => :items_for_wiki  if has_role?(:item_officer) %>

<table border=1>
  <tr>
    <th> アイテム名 </th> <th> 入手履歴 </th><th> 所有者 </th><th> 備考 </th><th> 所持数 </th>
  </tr>

<% registries = []


%>  
  <% rows_hash = @registries.group_by(&:name)
    for name in rows_hash.keys.sort_by{|key| 
          delegate = rows_hash[key].min{|a , b| a.created_at <=> b.created_at}
          delegate.object_definition ? delegate.object_definition.hurigana.to_s : ''
        }
      registries = rows_hash[name]
      by_characters = registries.group_by(&:owner_account)
  %>
    <tr>
      <td rowspan=<%= by_characters.keys.size %> >
<%=link_to name , :controller => :object_definitions , :action => :owners_by_name , :name => name %> 
<%= link_to '[図鑑]' ,'http://www35.atwiki.jp/marsdaybreaker/?page=' + URI.encode(name) %> </td>
<%     for owner_account_id in by_characters.keys %>
      <td><%= got_items(by_characters[owner_account_id]) %></td>
      <td><%= link_to OwnerAccount.find(owner_account_id).owner.name ,owner_account_object_registries_path(owner_account_id)%> </td>
      <td><%= used_items(by_characters[owner_account_id])%></td>
      <td><%=by_characters[owner_account_id].sum{|o| o.number.to_i }%></td>
    </tr>
    <tr>
<%     end %>
  <% end %>
</tr>
</table>

<% @link = link_to 'ACE所有アイテム一覧' %>