<h1>新規ACE登録</h1>

<%= error_messages_for :ace %>

<%= form_for(@ace) do |f| %>
    <p>
      <b>国民番号</b><br />
      <%= f.text_field :character_no %>
    </p>


    <p>
    <b>名称</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>ふりがな</b><br />
    <%= f.text_field :hurigana %>
  </p>

  <p><b> i言語定義 （省略可）</b><br />
    <%= text_area_tag :definition ,'' , :rows => 15 , :cols => 80 %>
  </p>

  <p>
    <b>アイテム図鑑上の定義へのURL （省略可）</b><br />
    <%= text_field_tag :zukan_definition_url , '' ,:size => 100 %>
  </p>

  <p>
    <%= f.submit "登録" %>
  </p>
<% end %>

<%= link_to '[戻る]', aces_path %>
<% @link = link_to '新規登録'  %>