<p>
  <b>国民番号</b>
  <%=h @ace.character_no %>
</p>
<p>
  <b>名称</b>
  <%=h @ace.name %> （<%= @ace.hurigana %>）　
</p>

<% if @ace.related_character %>
<p>
  <b>関連PC：</b>
  <%=link_to @ace.related_character.name , @ace.related_character%> 
</p>

<% end %>
<pre>
<%= @ace.object_definition.definition if @ace.object_definition %>  
</pre>

<%= link_to '[アイテム]' , owner_account_object_registries_path(@ace.owner_account) %> |
<%= link_to '[コマンドリソース]' , owner_account_command_resources_path(@ace.owner_account) %> |
<%= link_to '[ユニット定義]' , owner_account_unit_registries_path(@ace.owner_account) %>
<% if has_role?(:item_officer) %>|
<%= link_to '[プロモート]' ,:action => :edit_promotion , :id => @ace %> |
<%= link_to '[編集]', edit_ace_path(@ace) %> |
<%= link_to '[戻る]', aces_path %>
<% end  %>

<% @link = link_to @ace.name %>