
<table>
<tr>      
  <td align=right>  事由：</td> 
  <td> <%= f.text_field  :reason ,:size => 60%>  </td>
  </tr>
  <tr>
    <td align=right>マイル変動：</td>
    <td><%= f.text_field  :mile , :size => 3 %> </td>
  </tr>
  <tr>
    <td align=right>備考：</td>
    <td><%= f.text_area  :note , :rows => 5 , :cols => 60  %> </td>
  </tr>
  <tr>
    <td align=right>申請URL：</td>
    <td><%= f.text_field  :application_url , :size => 80 %> </td>
  </tr>
  <tr>
    <td align=right>根拠URL：</td>
    <td><%= f.text_field  :ground_url , :size => 80 %> </td>
  </tr>
  <tr>
    <td align=right>ターン：</td>
    <td><%= f.text_field  :turn , :size => 3 %> </td>
  </tr>
</table>
<%= f.hidden_field :owner_account_id  %>

