<h1>マイル出納履歴の編集</h1>

<%= error_messages_for :mile_change %>

<%= form_for( @mile_change , :url => owner_account_mile_change_path(@owner_account ,  @mile_change)  ) do |f| %>

  <%= render :partial => 'form' ,:locals => { :f => f }%>
  <%= f.submit "Update" %>
<% end %>

<%= link_to '[ 戻る ]', owner_account_mile_changes_path(@mile_change.owner_account , turn: @mile_change.turn ) %>
