<h2> <%= @owner_account.owner.name %> マイル口座</h2>
<% if controller.has_role?(:accountant) -%>
<%= button_to '新規マイル出納', new_owner_account_mile_change_path(@owner_account) , :method => :get %>
<% end -%>
<br/>
ターン：<%= turn_link(@target_turn) %>
<% if @offset || params[:limit] == 'all'%>
<br/> 
<%= offset_link(@count , @target_turn , @limit) %>
<% end %>
<table border=1>
  <tbody>
  <tr>
    <th>日時</th> <th> 事由 </th> <th> マイル収入 </th> <th> マイル支出 </th><th> 備考 </th> <th> 申請 </th> <th> 根拠 </th> <th> ターン </th> 
  </tr>

<% sum = 0 
  plus = 0
  minus = 0
%>
<% if @zandaka %>
  <tr>
    <td> </td>
    <td> 繰り越し </td>
    <td align=right> <%= @zandaka.miles %> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  
<% plus += @zandaka.miles.to_i

  end -%>
<% for changes in @mile_changes%>
  <tr>
  	<td><%= link_to(changes.created_at.strftime('%y/%m/%d') ,owner_account_mile_changes_path(@owner_account , :date => changes.created_at.strftime('%Y-%m-%d') ) )%></td>
  	<td><%= changes.reason %></td>
   	<td align=right><%= changes.mile if changes.mile && changes.mile > 0%></td>
  	<td align=right><%= changes.mile if changes.mile && changes.mile <= 0%></td>
  	<td><%= to_note_str changes.note %></td>
  	<td align=center><%= raw changes.application_url ? url2link(changes.application_url,'●') : '' %></td>
  	<td align=center><%= raw changes.ground_url ? url2link(changes.ground_url,'●') :''%></td>
  	<td><%= h changes.turn %></td>
<%   if controller.has_role?(:accountant) -%>
    <td><%= link_to '編集', edit_owner_account_mile_change_path(@owner_account , changes) %></td>
    <td><%= link_to '削除', owner_account_mile_change_path(@owner_account ,changes), :confirm => "マイル履歴１件を削除します。\nよろしいですか？", :method => :delete %></td>
<%   end %>
      </tr>
<% sum += changes.mile.to_i %>  
<% if changes.mile.to_i > 0 
     plus += changes.mile.to_i
   else
     minus += changes.mile.to_i
   end %>  
<% end %>
  <tr>
  <th colspan = 2>合計</th>
	
  <td align=right><%= plus %></td>
  <td align=right><%= minus %></td>
  <td>総計：<%= plus + minus %></td>
  </tr>
</tbody>
</table>
<br />
<% case @owner_account.owner_type 
  when 'Character' 
  %>
  <%= link_to '[ 個人詳細 ]', @owner_account.owner %>
  <%  @nation = @owner_account.owner.nation %> 
  <%= link_to '[ 国民一覧 ]', nation_characters_path(@nation) %>
<% 
  when 'Nation'
      @nation = @owner_account.owner
  %>
  <%= link_to '[ 藩国メニュー ]', @nation %>
<%
  when 'Organization'
%>
  <%= link_to '[組織一覧]' , associated_nations_path %>
<%
  end
%>

<%= link_to '[ 金庫番トップ ]' , facade_owner_accounts_path if has_role?(:accountant) %>

<% args = {}
   args.merge({params: params[:turn]}) if params[:turn]
   @link = link_to( 'マイル口座' , owner_account_mile_changes_path(owner_account_id: @owner_account , turn: params[:turn]) )

%>