<h1>新規マイル出納伝票</h1>

<%= error_messages_for :mile_change %>

<%= form_for(@mile_change ) do |f| %>
  <%= render :partial => 'form' ,:locals => { :f => f }%>
      <%= f.submit "追加" %>
	  
<% end %>

<%= link_to 'Back', owner_account_path(params[:owner_account_id]) %>
