  <p>
    <%= f.label 'ターン' %>：<%= f.text_field :turn ,:size => 3%>
  </p>
  <p>
    <%= f.label '編成名称' %>：<%= f.text_field :name , :size => 80%>
  </p>

  <p>
    <%= f.label '母体藩国' %>:
    <% nations = [['00:宰相府藩国',0]] + Nation.find(:all , :conditions => ['belong != ?',:associated] ,:order => :id).collect{|nation| [sprintf("%02d:%s",nation.id,nation.name) , nation.id]} %>
    <%= f.select 'nation_id' , nations %>
  </p>
  <p>
    <%= f.label '編成表URL'%>：<%= f.text_field :source_url ,:size => 100%>
  </p>
  <p>
    <%= f.label '太元書式による編成データ' %>：<br />
    <%= f.text_area :taigen_def  , :cols => 100 , :lines => 80%>
  </p>