<p>
修正する編成データ：<br/>
<%= form_tag :action => 'diff_update' ,:id => @troop_definition do %>
  <%= text_area_tag :source ,h(params[:source] || @troop_definition.taigen_def),:rows => 20 ,:cols=>100 %> <br/>
  <label for="modify_after">  <%= radio_button_tag :modify , :after , true %> 修正前 － 修正後 </label> <br>
  <label for="modify_before"> <%= radio_button_tag :modify , :before %> 修正後 － 修正前 </label> <br>
<p>
  <%= submit_tag '差分出力' %>
</p>
<% end %>

</p>

<% if @source && @troop1 && @troop2 %>
<h2>差分:</h2>
<%= print_all_diffs(@troop1,@troop2 ) %>
<%  end %>

<% if @erros && @errors.size > 0 %>
<pre>
<%= @errors.to_s %>
</pre>
<% end %>
<% @link = topic_path_base + " > " + link_to( '評価差分抽出' , diff_form_troop_definition_path(@troop_definition) )%>
<% @title = "T#{@troop_definition.turn} #{@troop_definition.name} 評価差分抽出" %>