<h1>編成表管理情報の編集</h1>

<%= form_for(@troop_definition) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form' ,:locals => {:f => f}%>
  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to '[詳細]', @troop_definition %> |
<%= link_to '[一覧]', troop_definitions_path %>
