<h1>編成表一覧</h1>
<%= turn_link(@target_turn || params[:turn]) %>
<table>
  <tr>
    <th>ターン</th>
    <th>編成名称</th>
  </tr>

<% for troop_definition in @troop_definitions %>
  <tr>
    <td><%=h troop_definition.turn %></td>
    <td><%=link_to  sprintf("%02d:%s",troop_definition.nation_id , troop_definition.name)  , troop_definition %> </td>
    <td><%=h troop_definition.source_updated_at %></td>
    <td><%=h troop_definition.taigen_def_updated_at %></td>

    <td>
    <%= link_to '[編成表]' , troop_definition.source_url %>
    <%= link_to '[＃！解析]' , parse_troop_definition_path(troop_definition) %>
    <%= link_to '[ルールchk]' , validation_troop_definition_path(troop_definition) %></td>
    <% if has_role?(:monju_maintainer) %>
    <td><%= link_to '[編集]', edit_troop_definition_path(troop_definition) %></td>
    <td><%= link_to '[削除]', troop_definition, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[新規登録]', new_troop_definition_path if has_role?(:monju_maintainer)%> 
<%= link_to '[評価比較ツール]' ,:controller => :troop_checker , :action => 'eval_comparison_form'  %> <br/>
