<h1>編成表の新規登録</h1>

<%= form_for(@troop_definition) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form' ,:locals => {:f => f}%>
  <p>
    <%= f.submit "新規登録" %>
  </p>
<% end %>

<%= link_to 'Back', troop_definitions_path %>
