<% content_for :javascript do -%>
<%= render :partial => 'scripts'  %>
<% javascript_tag do %>
function change_color(button){
  val = button.value;
  change_style(val , {
      "color":  (button.checked ? 'red' : 'black') ,
      "font-weight": (button.checked ? 'bold' : 'normal')
    }
  );
}
<% end %>
<% end -%>
<h1><%=  @troop_definition.nation_id.to_s + ':' + @troop_definition.name %>  ターン<%= @troop_definition.turn.to_s %></h1>

<% for directive_type in [:ConditionDef , :PartialConditionDef , :IdressAppendantDef ,
    :TroopBonusDef , :ResourceModificationHQDef , :SituationDef ,
    :ParticularSituationDef , :DisableDef] -%>
<%= directives_check_tag directive_type %>
<% end  %>
<% if @directives.keys.size == 0 %>
（ディレクティブ使用なし）
<% end %>
<div id="collection"></div>
<hr/>
<p>
<%  for line in @troop_definition.taigen_def.each_line -%>
<%= directive_em_tag(line) -%><br/>
<%  end -%>
</p>

<% @title = "T#{@troop_definition.turn} #{@troop_definition.name} 太元書式解析" %>
<% @link = topic_path_base() + " > " + link_to("編成解析（太元書式）")%>