<p>
  <b>ターン：</b>
  <%=h @troop_definition.turn %>
</p>

<p>
  <b>編成名称:</b>
  <%=h @troop_definition.name %>
</p>

<p>
  <b>母体藩国:</b>
  <%=h @troop_definition.nation_formated %>
</p>

<p>
  <b>編成表URL:</b>
  <%=link_to  @troop_definition.source_url ,@troop_definition.source_url%>
</p>

<p>
  <b>太元書式による編成データ:</b> <br/>
  <%= text_area_tag 'taigen_def' , h(@troop_definition.taigen_def)  , :rows => 40 , :cols => 100 , :readonly  => true %>
</p>

<p>
  <b>太元による評価値出力：</b> <br/>
  <%= text_area_tag 'taigen_def' , h(@troop_definition.evaluations)  , :rows => 40 , :cols => 100 , :readonly  => true %>
</p>

<p>
  <b>編成表更新日時:</b>
  <%=h @troop_definition.source_updated_at %>
</p>

<p>
  <b>（文殊登録済み）編成表更新日時:</b>
  <%=h @troop_definition.taigen_def_updated_at %>
</p>

<p>
  編成チェック：
<%= link_to '[ディレクティブ解析]' , parse_troop_definition_path(@troop_definition) %>
<%= link_to '[編成ルールチェック]' , validation_troop_definition_path(@troop_definition) %>
<%= link_to '[転記チェックリスト]' , value_check_list_troop_definition_path(@troop_definition) %>
<%= link_to '[評価差分抽出]' , diff_form_troop_definition_path(@troop_definition) %>

</p>
<% @link = topic_path_base %>
<% @title = "T#{@troop_definition.turn} #{@troop_definition.name}" %>
<% if has_role?(:monju_maintainer) %>
<%= link_to('[編集]', edit_troop_definition_path(@troop_definition))  %> |
<% end  %>
<%= link_to "[一覧(T#{@troop_definition.turn})]", troop_definitions_path(:turn => @troop_definition.turn) %>
