<% content_for :javascript do -%>
<%= render :partial => 'scripts'  %>
<% end -%>

<h1><%=  @troop_definition.nation_id.to_s + ':' + @troop_definition.name %>  ターン<%= @troop_definition.turn.to_s %></h1>

<h2>■太元書式妥当性チェック 5.1 ～ 5.2 （分隊メンバーの過不足がないこと）</h2>
<p>※部隊のメンバー名の上にマウスカーソルをあてると、そのメンバーが属する全部隊・分隊の表でセルの色が変わります。</p>

<% result = @t_results['5'][:result][0] %>
<% for div in  [result.info[:troop]] + result.info[:divisions] %>
<table border=1 style="float:left">
  <tr><th><%= div.shift %></th></tr>
<%   for member in  div %>
  <tr><td class='<%= member.hash %>'
          onMouseOver="em('<%= member.hash %>');"
          onMouseOut="normal('<%= member.hash %>');"
          > <%= member %> </td></tr>
<%   end %>
</table>
<% end %>

<hr style="clear:both" />
<h2>■ルール妥当性チェック 1.1～1.3 （３分隊・３兵科以上への分割、及び分割と降機を同時に行っていない）</h2>
<p>※部隊の可能行為名の上にマウスカーソルをあてると、他の分隊での同名の行為も色が変わります。</p>
<% result = @r_results['1.1'][:result][0] %>
<% for div in  [result.info[:troop]] + result.info[:divisions] %>
<table border=1 style="float:left">
  <tr><th><%= div[:name] %></th></tr>
<%   for action in  div[:actions] %>
  <tr><td class='<%= action.hash %>'
          onMouseOver="em('<%= action.hash %>');"
          onMouseOut="normal('<%= action.hash %>');"
          > <%= action %> </td></tr>
<%   end %>
</table>
<% end %>
<hr style="clear:both" />
<h2>■ルール妥当性チェック 2.1～2.3 （着用型アイテムの装備箇所明記、５個制限、及び全身装備との兼ね合い） </h2>
※各部隊メンバーの所有アイテム欄の記載を抽出します。着用型アイテムの場合は色が変わり、Ｌ：での各用箇所定義も併せて表示されます。「着用箇所の記載」「５個制限」を満たす事を確認して下さい。<br/>
※ウォードレス着用時は赤字で警告が出ます。着用型アイテムとの併用（武装及び”その他”除く）が無いか確認してください。

<% if @r_results['2.1'][:result].nil?
%>
  （対象なし）
<% else
%>
<% for result in @r_results['2.1'][:result] %>
<h3><%= h result.info[:name]%> </h3>
<ol>
<%   for item in result.info[:items]
%>
  <li> <span style='color:<%= item[:equip_point] ? "#AAAA00" : :black %>;font-weight:<%=item[:equip_point] ? :bold : :normal %>'  >
    <%=  h item[:source] %>
    </span>
  <% if item[:equip_point]
  %>
    <br/>（ <%= item[:equip_point] %> ）
  <% end %>
  </li>
<%   end
%>
  
</ol>

<%   if result.unit.placements.find{|pl| pl =~ /ウォードレス/ } %>
<span style="font-weight:bold;color:red">ウォードレス着用あり。 武装以外の着用型アイテムと併用していない事を確認して下さい。</span>
<%   end %>
<hr/>
<% end %>
<%  end %>



<h2>■ルール妥当性チェック 3.1～3.3 （パイロット・コパイロット要件と搭乗資格）</h2>
※乗り物のカテゴリ・パイロット・コパイロット要件、及びパイロット・コパイロットが持つ搭乗資格が表示されます。</br>
※乗り物のオプション装備についても、装備するための要件を満たしているか確認して下さい。
<% if @r_results['3.1'][:result].nil? %>
<p>（乗り物無し）</p>
<hr/>
<% else %>
<% for result in @r_results['3.1'][:result] %>
<h3><%= h result.info[:name]%> </h3>
<ul>
  <li>機体Ｌ名：<%= h result.info[:vehicle_type_name] %> </li>
  <li>オプション装備名：｛<%= result.info[:options].join(' , ') %>｝</li>
  <li>乗り物カテゴリ：｛<%= result.info[:vehicle_categories].join(' , ') %>｝</li>
  <li>必要乗員数：パイロット<%= result.info[:pilot_requirement]['人数'] %>
<% if result.info[:copilot_requirement]  %>
    コパイロット<%= result.info[:copilot_requirement]['人数'] %>
<% end %>
  </li>
  <li>パイロット：<%= result.judge[:pilot_requirement] ? valid_tag('ＯＫ') : invalid_tag('ＮＧ？') %>
    <ol>
  <%  for index in 0...result.info[:pilot_names].size %>
    <li><%= result.info[:pilot_names][index] %>：｛ <%= licences_tag(result , index , :pilot) %> ｝</li>
  <%  end %>
    </ol>
  </li>
  <li>コパイロット：<%= result.judge[:copilot_requirement] ? valid_tag('ＯＫ') : invalid_tag('ＮＧ？') %>
    <ol>
  <%  for index in 0...result.info[:copilot_names].size %>
      <li><%= h result.info[:copilot_names][index] %>：｛ <%= licences_tag(result , index , :copilot) %> ｝</li>
  <%  end %>
    </ol>
  </li>
</ul>

<hr/>
<%   end %>
<% end %>


<% @link = topic_path_base() + " > " + link_to("編成解析")%>
<% @title = "T#{@troop_definition.turn} #{@troop_definition.name} 編成解析" %>
<%= link_to "[一覧(T#{@troop_definition.turn})]", troop_definitions_path(:turn => @troop_definition.turn) %>