<h1> 編成表転記チェック・チェックリストテンプレート </h1>
<h2><%=  @troop_definition.nation_id.to_s + ':' + @troop_definition.name %>  ターン<%= @troop_definition.turn.to_s %></h2>

<p>
<%= text_area_tag :check_list , @check_list , :cols => 100 , :rows => 15%>
</p>
<% @link = topic_path_base() + " > " + link_to("転記チェック項目")%>
<% @title = "T#{@troop_definition.turn} #{@troop_definition.name} 転記チェックテンプレート" %>
<%= link_to "[一覧(T#{@troop_definition.turn})]", troop_definitions_path(:turn => @troop_definition.turn) %>