<b>職業４習得</b><br/>
<ul>
  <%   for acquirements in @results[:acquirements] %>
      <% acquired = acquirements.acquired_idress %>
      <li> <%= link_to acquirements.character.character_no  + ':' + acquirements.character.name ,acquirements.character %> ：
        <%= link_to "#{acquired.inspect_idresses}(#{acquired.owner_account.owner.name})" , owner_account_job_idress_path(acquired.owner_account , acquired) %> </li>
  <%   end %>
</ul>