CSV形式でダウンロード:
<%= link_to '(Shift-JIS)' , :action=>:result_by_csv,:keyword => params[:keyword],:charset => :sjis
%>,<%=link_to '(UTF-8)' , :action=>:result_by_csv,:keyword => params[:keyword] %><br/>
<%  cols = [:fund , :resource , :food , :fuel , :amusement , :num_npc ]
    sums = Hash.new{|hash,key|hash[key]=0}
%>
<table border = 1>
  <tr>
    <th> 口座 </th>
    <th> 種別 </th>
    <th>Ev No</th>
    <th>イベント名</th>
    <th>詳細</th>
    <th>資金</th>
    <th>資源</th>
    <th>食料</th>
    <th>燃料</th>
    <th>生物資源</th>
    <th>猫・犬士</th>
    <th>ターン</th>
    <th>該当ページ</th>
  </tr>
  <%    for cash_record in results[:cash_records] %>
      <tr>
        <td><%= cash_record.owner_account.owner.name %> </td>
        <td><%= owner_type_string(cash_record.owner_account)
        %> </td>
        <td><%= cash_record.event_no == '' ?  raw( '&nbsp') : cash_record.event_no  %></td>
        <td><%=h cash_record.event_name %></td>
        <td><%=link_to_if cash_record.reference_url , "●" , cash_record.reference_url %></td>
        <% for col in cols %>
            <td align=right>   <%= h cash_record[col].to_i %> <% sums[col] += cash_record[col].to_i%> </td>
        <% end %>
        <td><%=h cash_record.turn %></td>
        <td><%= link_to '[財務表]' , owner_account_cash_records_path(cash_record.owner_account , :turn=>cash_record.turn) %>
      </tr>
  <%    end  %>
  <tr>
    <td colspan=5>合計</td>
    <% for col in cols %>
        <td align=right>   <%= h sums[col].to_i %></td>
    <% end %>
  </tr>
</table>
