<ul>
  <% for cr in results[:command_resources] %>
      <li>
        <%= cr.to_form %> <br/><%= link_to_toggle_part(format('所有者:%d名',cr.owner_accounts.size) , cr.name   ) {
        controller.render_to_string(partial: "characters" , locals: {
                results: {characters: cr.owner_accounts.to_a.sort_by{|o|o.number.to_s}}
        }).html_safe
      }%>
      </li>
  <% end %>
</ul>