<br/>
<b>派生職業アイドレス</b><br/>
<ul>
  <%   for job_idress in results[:derived_job_idresses] %>
      <li> <%= link_to job_idress.name , 'http://farem.s101.xrea.com/idresswiki/index.php?'+URI.escape(job_idress.name.toeuc) %> </li>
  <%   end %>
</ul>
