<%= form_tag({controller: :search , action: :result}  , method: :get) do -%>

  キーワード：<%= text_field_tag :keyword ,nil , :size => 40%> 
<%= submit_tag '文殊検索' ,:value => nil , :name => nil %><br/>
  <label for='target_characters'><%= radio_button_tag :target , :characters ,true %> キャラクター</label>
  <label for='target_cash'><%= radio_button_tag :target , :cash ,false %> 財務表 </label>
  <label for='target_mile'><%= radio_button_tag :target , :mile ,false %> マイル </label>
  <label for='target_results'><%= radio_button_tag :target , :results ,false %> リザルト </label><br/>
  <label for='target_idress'><%= radio_button_tag :target , :idress ,false %> 職業アイドレス </label>
  <label for='target_items'><%= radio_button_tag :target , :items ,false %> アイテム </label>
  <label for='target_weapons'><%= radio_button_tag :target , :weapons ,false %> 兵器 </label>
  <label for='target_command_resources'><%= radio_button_tag :target , :command_resources ,false %> コマンドリソース </label>
<% end  %>
