<b>アイドレス保有</b><br/>
<ul>
  <%   for job_idress in @results[:job_idresses] %>
      <li> <%= link_to job_idress.owner_account.owner.name ,job_idress.owner_account.owner %> ： <%= link_to job_idress.inspect_idresses , owner_account_job_idress_path(job_idress.owner_account , job_idress) %> </li>
  <%   end %>
</ul>