CSV形式でダウンロード:
<%= link_to '(Shift-JIS)', :action => :mile_by_csv, :keyword => params[:keyword], :charset => :sjis %>,
<%= link_to '(UTF-8)',     :action => :mile_by_csv, :keyword => params[:keyword] %><br/>
<table border=1>
  <tr>
    <th rowspan="2">所属</th>
    <th rowspan="2">番号</th>
    <th rowspan="2">口座名義</th>
    <th rowspan="2">事由</th>
    <th colspan="2">マイル</th>
    <th rowspan="2">申請</th>
    <th rowspan="2">根拠</th>
    <th rowspan="2">備考</th>
    <th rowspan="2">ターン</th>
    <th rowspan="2">登録日時</th>
  </tr>
  <tr>
    <th>収入</th>
    <th>支出</th>
  </tr>
  <% for row in results[:mile_changes] %>
      <tr>
        <td>
          <%=  row.owner_account.nation.name %>
        </td>
        <td>
          <%=   case row.owner_account.owner_type
                  when 'Character'
                    row.owner_account.owner.character_no
                  when 'Nation'
                    row.owner_account.owner.id
                  else
                    ''
                end -%>
        </td>
        <td> <%= row.owner_account.owner.name %> </td>
        <td> <%= row.reason %> </td>
        <td align=right> <%= row.mile if row.mile > 0 %> </td>
        <td align=right> <%= row.mile if row.mile < 0 %> </td>
        <td> <%= url2link(row.application_url , '●') %> </td>
        <td> <%= url2link(row.ground_url  , '●' ) %> </td>
        <td> <%= to_note_str row.note %> </td>
        <td> <%= row.turn %> </td>
        <td> <%= row.created_at.strftime('%y%m%d %H:%M') %> </td>
      </tr>
  <% end %>
</table>
