<table border=1>
  <tr>
    <th>イベント名</th><th>国民番号</th><th width=100>キャラクター名</th><th>根源力</th><th>マジックアイテム</th><th>備考</th><th>リンク</th>
  </tr>
  <% for result in results[:results] %>
      <tr>
        <td> <%= result.event_name %> </td>
        <td> <%= result.character.character_no %> </td>
        <td> <%= result.character.name %> </td>
        <td align=right> <%= result.originator %> </td>
        <td> <%= raw result.magic_item %> </td>
        <td> <%= raw result.note %> </td>
        <td> <%= link_to '根源力表',:controller => :nations , :action => :format ,:id => result.character.nation ,:anchor => result.character.character_no  %> </td>
      </tr>
  <% end %>
</table>