<%
   result_hash = results[:weapons].group_by(&:name )
%>
<br/>
<% for key in result_hash.keys.sort %>
    <br/>
    <b> <%= key %> </b>
    <ul>
      <% for result in result_hash[key] %>
          <li>
            <%= link_to result.owner_account.owner.name , weapons_path(result.owner_account) %> ：
            <%= result.number %> ： <%= link_to '[履歴]' , owner_account_weapon_registries_path(result.owner_account , :name => key)  %>
          </li>
      <% end %>
    </ul>
<% end %>