<h1>検索</h1>

<%= render :partial => 'form' %>

<h2>使い方</h2>
<p>
 文殊内のデータについてキーワード検索を行います。キーワードは一つだけ指定できます。
</p>
<dl>
  <dt><b> キャラクター検索 </b> </dt>
  <dd> 国民番号・国民名の一部一致検索を行います。<br/>
  国民番号を全て入力('2桁-5桁-2桁'数字の形式)した場合、一致するキャラクターがあれば、直接そのキャラの詳細ページを表示します。<br/>
  国民番号は全て半角数字と半角ハイフン('-')でなければなりません。</dd>
  
  <dt><b>  財務表検索  </b> </dt>
  <dd> 財務表の項目のうち、イベント番号・事由・備考欄から、キーワードを含むものを全て表示します。<br/>
     数字のみを入力した場合は、ターンとイベント番号が検索条件となります。</dd>
  
  <dt><b>  マイル検索  </b> </dt>
  <dd> マイル変動の項目のうち、事由・備考欄からキーワードを含むものを全て表示します。<br/>
  　キーワードが半角数字のみ（及び負符号）だった場合、上記に加え、マイル変動およびターン数も検索条件に含みます。</dd>
  <dt><b>  リザルト検索  </b> </dt>
  <dd> イベント名・マジックアイテム・備考欄のうち、キーワードを含むものを全て表示します。</dd>
  
  <dt><b>  職業アイドレス </b> </dt>
  <dd> アイドレス名にキーワードを含むものを表示します。<br/>
    職業４アイドレスが該当した場合は、それを習得した人も表示します。</dd>
  
</dl>
<% @link = '' %>