所属,番号,口座名義,事由,マイル収入,マイル支出,申請,根拠,備考,ターン,登録日時
<% for row in @results -%>
<%=  row.owner_account.nation.name -%>
,<%=
  case row.owner_account.owner_type 
    when 'Character' 
      row.owner_account.owner.character_no 
    when 'Nation' 
      row.owner_account.owner.id 
    else
      ''
  end -%>
,<%= row.owner_account.owner.name -%>
,<%= row.reason -%>
,<%= row.mile if row.mile > 0 -%>
,<%= row.mile if row.mile < 0 -%>
,<%= row.application_url -%>
,<%= row.ground_url -%>
,<%= raw ('"' + row.note.gsub(/\r/,'') + '"' ) -%>
,<%= row.turn -%>
,<%= row.created_at.strftime('%y-%m-%d %H:%M') -%>
<%= "\r\n" -%>
<% end -%>
