<h1>検索結果</h1>

<b>検索対象：<%=  {'characters' => 'キャラクター','cash' => '財務表' , 
                 'results' => 'リザルト','mile' => 'マイル', 
                 'items' => 'アイテム' , 'weapons' => '兵器' ,
                 'command_resource' => 'コマンドリソース'}[params[:target]] %> </b><br/>
<%
  count = 0
  for key in [:characters , :cash_records , :mile_changes ,:results,:derived_job_idresses , :job_idresses , :acquirements ,:weapons , :command_resources]
    count += @results[key].size if @results[key]
  end

  if @results[:items]
    by_object_definition_id = @results[:items].group_by(&:object_definition_id)
    for object_definition_id in by_object_definition_id.keys
      count += by_object_definition_id[object_definition_id].group_by(&:owner_account_id).size
    end
  end
  %>
  <b>該当数：</b><%= count %>件<br/>

<% if count > 0 %>
<% if @results[:characters] %>
        <%= render partial: 'characters' , locals: {results: @results} %>
<% end #for :characters %>

<% if @results[:cash_records] %>
<%= render partial: 'cash_records' , locals: {results: @results} %>
<% end  %>

<% if @results[:mile_changes] %>
        <%= render partial: 'mile_changes' , locals:  {results: @results} %>
<% end %>
<%    if @results[:results] %>
        <%= render partial: 'results' , locals:  {results: @results} %>
<%   end # of :results %>
<% end %>
<% if @results[:derived_job_idresses]%>
    <%= render partial: 'derived_job_idresses' , locals:  {results: @results} %>
<% end %>
<% if @results[:job_idresses]%>
    <%= render partial: 'job_idresses' , locals:  {results: @results} %>
<% end %>
<% if @results[:acquirements]%>
    <%= render partial: 'acquirements' , locals:  {results: @results} %>
<% end %>
<%   if @results[:items]%>
    <%= render partial: 'items' , locals:  {results: @results} %>
<%   end # of :items %>
<% if @results[:weapons] %>
    <%= render partial: 'weapons' , locals:  {results: @results} %>
<% end  %>
<% if @results[:command_resources] %>
    <%= render partial: 'command_resources' , locals:  {results: @results} %>
<% end  %>

<% @link = link_to '検索結果' ,:action => :result , :keyword => params[:keyword] , :target => params[:target] %>
