口座,種別,Ev No,イベント名,詳細,資金,資源,食料,燃料,生物資源,猫・犬士,ターン,該当ページ
<% for cash_record in @results -%>
<%= cash_record.owner_account.owner.name 
-%>,<%= owner_type_string(cash_record.owner_account)
-%>,<%= cash_record.event_no == '' ?  '' : cash_record.event_no  
-%>,<%= cash_record.event_name 
-%>,<%= cash_record.reference_url 
-%><% for col in  [:fund , :resource , :food , :fuel , :amusement , :num_npc ]
-%>,<%= cash_record[col].to_i -%>
<% end -%>,<%=h cash_record.turn 
-%>,<%= owner_account_cash_records_url(cash_record.owner_account , :turn=>cash_record.turn) %>
<% end %>
