  <%= f.error_messages %>

  <p>
    <%= f.label 'ターン：' %>
    <%= f.text_field :turn ,:size => 4%>
  </p>
  <p>
    <%= f.label '表題：'%>
    <%= f.text_field :title ,:size => 40 %>
  </p>
  <p>

  <script type="text/javascript">
//<![CDATA[
  var job_list = <%= @nation_job_idresses.to_json %>
  var personal_job_list = <%= @person_job_idresses.to_json %>
  var character_race_list = <%= @character_races.to_json %>
  var job4_list = <%= @person_job4_idresses.to_json %>
  
  var candidate_list = function() {
    // init
    this.clearSuggestArea();
    this.suggestIndexList = [];
    var text = this.getInputText();
    var resultList = [];

    for (var i = 0, length = this.candidateList.length; i < length; i++) {
      resultList.push(this.candidateList[i]);
      this.suggestIndexList.push(i);
      if (this.dispMax != 0 && resultList.length >= this.dispMax) break;
    }

    this.hookBeforeSearch(text);
    if (resultList != 0) this.createSuggestArea(resultList);
  }

  function id_str(i){
    str = '000'+i
    index = str.length - 3;
    return ('000'+i).substr(index,3);
  }

  function extend_suggester(suggest_id,field_id,list){
      field = $(field_id)
      width = field.getWidth() + 'px';
      $(suggest_id).style.width = width;
      $(suggest_id).style.left  = '30px'
      $(suggest_id).style.top   = '1.1em';

      field.suggest = new Suggest.Local(field_id, suggest_id, list);
      field.suggest.dispMax = 30;
      field.suggest.search = candidate_list;
      return;
  }

  function create_suggester(i){
      id_key = id_str(i);
      head_id = 'idress_wearing_table_idress_wearings__' + id_key
      field_id = head_id + '_job_idress'
      suggest_id = 'suggest_' + id_key;

      character_no = $F(head_id + '_number');
      personal_jobs = personal_job_list[character_no] ? personal_job_list[character_no] : [];

      race = character_race_list[character_no] || null
      race_job_list = job_list.select(function(j){
        if(race){
          return (j.race_type.match(new RegExp(race)) || j.race_type == '')
        }else{
          return (j.race_type != '人');
        }
      }).collect(function(j){ return j.name});

      extend_suggester(suggest_id , field_id , race_job_list.concat(personal_jobs));

      suggest_job4_id = 'suggest_job4_' + id_key;
      field_job4_id = head_id + '_personal_idress'
      job4s = job4_list[character_no] ? job4_list[character_no]  : [];
      extend_suggester(suggest_job4_id , field_job4_id , job4s);
  }
  var start = function(){
    for(i=0;i < <%= idress_wearing_table.idress_wearings.size %> ; i++ ){
      create_suggester(i);
    }
  };
  window.addEventListener ?
    window.addEventListener('load', start, false) :
    window.attachEvent('onload', start);

  function make_row(index){
    id_key = id_str(index);
    result = "<tr id='row_"+id_key + "'>\n"
    id_header = '<td> #{before} <input id="idress_wearing_table_idress_wearings__';
    name_header = 'idress_wearing_table[idress_wearings]['+id_key+']';
    cell_tmpl = new Template(id_header+'#{i}_#{key}" name="idress_wearing_table[idress_wearings][#{i}][#{key}]" #{opts}/>  </td>');
    div_tmpl = new Template('<div class="suggest-container"><div id="suggest_#{i}" class="suggest"></div></div>');
    result = result + cell_tmpl.evaluate({i: id_key , key: 'number' , opts: ' size="14" type="text" '});
    result = result + cell_tmpl.evaluate({i: id_key , key: 'name' , opts: 'size="20" ' });
    div_tag =  div_tmpl.evaluate({i: id_key});
    result = result + cell_tmpl.evaluate({i: id_key , before: div_tag, key: 'job_idress' , opts: ' size="60" onfocus="this.suggest.search()" ' });
    div_tag2 = div_tmpl.evaluate({i: "job4_"+id_key});
    result = result + cell_tmpl.evaluate({i: id_key , before: div_tag2 , key: 'personal_idress' , opts: ' size="30"  onfocus="this.suggest.search()" '});
    result = result + cell_tmpl.evaluate({i: id_key , key: 'belongs' ,opts: ' size="50" ' })
    result = result + "\n</tr>\n"
    return result
  }
  function addRow(){
    table = $('wearing_table_body');
    rows = table.rows.length;
    row_doc = make_row(rows);
    new Insertion.Bottom('wearing_table_body',row_doc);
    create_suggester(rows);
  }

  function removeRow(){
    table = $('wearing_table_body');
    rows = table.rows.length - 1;
    row_id = 'row_'+id_str(rows);
　　$(row_id).remove();
  }
//]]>
</script>

<table border="1"  id="wearing_table">
  <thead>
    <tr> <th>国民番号</th> <th>国民名</th> <th>着用アイドレス</th><th>職業４</th><th>配置</th> </tr>
  </thead>
  <tbody id="wearing_table_body">
<% index = 0 %>
<% for wearing in idress_wearing_table.idress_wearings
   idx_str = sprintf('%03d',index) %>
<%= fields_for "idress_wearing_table[idress_wearings][#{sprintf('%03d',index)}]", wearing do |wf| %>
<tr id="row_<%= idx_str %>" >
  <td> <%= wf.text_field :number ,:size=>14%>  </td>
  <td> <%= wf.text_field :name ,:size=>20 %> </td>
  <td> 
    <div class="suggest-container">
      <div id="suggest_<%= idx_str %>" class="suggest"></div>
    </div>
    <%= wf.text_field :job_idress  ,:size=>60 ,:autocomplete=>:off , :onfocus => 'this.suggest.search()' %>
  </td>
  <td>
    <div class="suggest-container">
     <div id="suggest_job4_<%= idx_str %>" class="suggest"></div>
    </div>
    <%= wf.text_field :personal_idress , :size=> 20 , :autocomplete=>:off , :onfocus => 'this.suggest.search()' %></td>
  <td> <%= wf.text_field :belongs ,:size=>50 %> </td>
</tr>
    <% end %>
<% index += 1
  end %>
  </tbody>
</table>
  </p>
  <p>
    <%= button_to_function '１行追加' , 'addRow();' %>
    <%= button_to_function '末尾１行削除' , 'removeRow();' %>
  </p>
  <p>
    
    <%= f.check_box :is_current %>
    <%= f.label :is_current ,'この表の記載を現在値とする。' %><br />
  </p>

  <p>
    <%= f.label '備考' %><br />
    <%= f.text_area :note ,:cols => 80 , :rows => 8%>
  </p>


