<h1>着用アイドレス表の編集</h1>

<%= form_for(@idress_wearing_table ,
  {:url => nation_idress_wearing_table_path(params[:nation_id],@idress_wearing_table) }
  ) do |f| %>
  <%= render :partial => 'form' , :locals => {:f => f , :idress_wearing_table => @idress_wearing_table} %>
  <label name="update_list">
  <%= check_box_tag :update_list %> 現在の国民登録内容で表の記載を更新する。
  </label><br/>
  <p>
    <%= hidden_field_tag :password , params[:password] %>
  </p>
  <p>
    <%= f.submit "編集" %>
  </p>
  <br/>
<% end %>
<br/>
<%= link_to '[表示]', nation_idress_wearing_table_path(params[:nation_id],@idress_wearing_table) %> |
<%= link_to '[一覧へ戻る]', nation_idress_wearing_tables_path(params[:nation_id]) %> |
<%= link_to '[機能説明]' , 'http://www27.atwiki.jp/echizen/pages/442.html' , :target => '_blank' %>

<% @link = (link_to 'ターン別着用アイドレス登録' , nation_idress_wearing_tables_path(params[:nation_id]) ) +
           ' > ' + (link_to @idress_wearing_table.title ,nation_idress_wearing_table_path(params[:nation_id],@idress_wearing_table) ) + 
           ' > 編集' %>