<h1>着用アイドレス表一覧</h1>

<table border="1">
  <tr>
    <th>最新</th>
    <th>ターン</th>
    <th>表題</th>
    <th>作成日時</th>
    <th>最終更新日時</th>
    <th>根源力チェック</th>
    <th>VCC書式出力</th>
  </tr>

<% for idress_wearing_table in @idress_wearing_tables %>
  <tr>
    <td align="center"><font size="+1"><%= idress_wearing_table.is_current ? '◎' : ' ' %> </font></td>
    <td><%=h idress_wearing_table.turn %></td>
    <td><%=link_to(h(idress_wearing_table.title),nation_idress_wearing_table_path(params[:nation_id],idress_wearing_table)) %></td>
    <td><%= idress_wearing_table.created_at.strftime('%Y/%m/%d %H:%M')  %></td>
    <td><%= idress_wearing_table.updated_at.strftime('%Y/%m/%d %H:%M')  %></td>
    <td align="center"><%=link_to '[=>]' , restriction_check_nation_idress_wearing_table_path(params[:nation_id],idress_wearing_table)%></td>
    <td align="center"><%=link_to '[=>]' , vcc_format_nation_idress_wearing_table_path(params[:nation_id],idress_wearing_table)%></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to '新規作成', new_nation_idress_wearing_table_path(params[:nation_id]) ,:method => :get %>
<br/>
<br/>

<%= link_to '[機能説明]' , 'http://www27.atwiki.jp/echizen/pages/442.html' , :target => '_blank' %>
<% @link = link_to 'ターン別着用アイドレス登録' %>