<h1>着用アイドレス表の新規作成</h1>

<%= form_for(@idress_wearing_table ,
  {:url => nation_idress_wearing_tables_path(params[:nation_id]) }
  ) do |f| %>
  <%= render :partial => 'form' , :locals => {:f => f , :idress_wearing_table => @idress_wearing_table} %>
  <p>
    <%= label_tag :password ,  'パスワード：' %>
    <%= password_field_tag :password , params[:password] %>
  </p>
  <p>
    <%= f.submit "登録" %>
  </p>
<% end %>

<%= link_to '[戻る]', nation_idress_wearing_tables_path(params[:nation_id]) %> |
<%= link_to '[機能説明]' , 'http://www27.atwiki.jp/echizen/pages/442.html' , :target => '_blank' %>
<% @link = (link_to 'ターン別着用アイドレス登録' , nation_idress_wearing_tables_path(params[:nation_id]) ) +
           ' > ' + (link_to '新規作成') %>