<table border="1">
<tr> <th>国民番号</th> <th>国民名</th> <th>根源力</th> <th>職業アイドレス</th><th>所属</th> </tr>
<% for wearing in @idress_wearing_table.idress_wearings %>
<tr>
<% wearing[:number].strip =~ /\d{2}-(.{5}\-.{2})/
character_no = $1
character = Character.find(:first , :conditions => ['character_no like ?' , '%'+character_no])
%>
  <td> <%= link_to_if character , wearing[:number] ,character %>  </td>
  <td> <%= link_to_if character , wearing[:name] , character %> </td>
  <td> <% if character %>

  <%= originator = character.sum_originator%>
<% if ['吏族','法官','護民官','星見司','参謀'].any?{|item| item == wearing[:personal_idress]} %>
  +20000=<%= originator + 20000 -%>
<% end -%>
<% end -%>
</td>
  <td> <%= wearing[:job_idress] %><%= '＋'+wearing[:personal_idress] unless wearing[:personal_idress].blank?%>
<% restrictions = find_all_originator_restriction(wearing)
   if restrictions.size > 0
-%><br/>
<%= restrictions.join("<br/>\n") -%>
<% end %>
<% if @originator_check_results[wearing] -%>
<br/><font style="color:red">(根源力制限違反：
<%= @originator_check_results[wearing]['根源力']%> ， <%=
 @originator_check_results[wearing]['定義'] -%> )
</font>
<% end -%>
</td>
  <td> <%= to_note_str(wearing[:belongs],'[参照]') %> </td>
</tr>
<% end %>
</table>

<% @link = (link_to 'ターン別着用アイドレス登録' , nation_idress_wearing_tables_path(params[:nation_id]) ) +
  link_to(@idress_wearing_table.title , nation_idress_wearing_table_path(params[:nation_id],@idress_wearing_table)) +
  ' > ' + link_to('根源力チェック') %>