<p>
  <b>藩国：</b>
  <%=h @idress_wearing_table.nation.name %>
</p>

<p>
  <b>ターン：</b>
  <%=h @idress_wearing_table.turn %>
</p>

<p>
  <b>表題：</b>
  <%=h @idress_wearing_table.title %>
</p>

<p>
  <b>最終更新日時：</b> <%= @idress_wearing_table.updated_at.strftime("%Y/%m/%d %H:%M") %>
</p>
<p>
  <b>着用アイドレス登録表:</b>
<table border="1">
<tr> <th>国民番号</th> <th>国民名</th> <th>職業アイドレス</th><th>所属</th> </tr>
<% for wearing in @idress_wearing_table.idress_wearings %>
<tr>
<% wearing[:number].strip =~ /\d{2}-(.{5}\-.{2})/
character_no = $1
character = Character.where('character_no like ?' , '%'+character_no).first

%>
  <td> <%= link_to_if character , h(wearing[:number]) ,character %>  </td>
  <td> <%= link_to_if character , h(wearing[:name]) , character %> </td>
  <td> <%= h(wearing[:job_idress]) %><%= '＋'+ h(wearing[:personal_idress]) unless wearing[:personal_idress].blank?%>
<% if @originator_check_results[wearing] -%>
<br/><span style="color:red">(根源力制限違反：
<%= @originator_check_results[wearing]['根源力']%> ， <%=
 @originator_check_results[wearing]['定義'] -%> )
</span>
<% end -%>
</td>
  <td> <%= to_note_str(h(wearing[:belongs]),'[参照]') %> </td>
</tr>
<% end %>

</table>
<%= link_to '[VCC書式]', vcc_format_nation_idress_wearing_table_path(params[:nation_id]) %> |
<%= link_to '[' + @idress_wearing_table.nation.name + '保有職業アイドレス表]' ,
  owner_account_job_idresses_path(@idress_wearing_table.nation.owner_account)  %> |
<%= link_to '[根源力制限チェック]' ,
  restriction_check_nation_idress_wearing_table_path(params[:nation_id],@idress_wearing_table)  %>

</p>
<p>
<hr/>
  <h3>備考:</h3>
  <%= to_note_str @idress_wearing_table[:note].html_safe %>
</p>
<hr/>
<p>
  <b><%= link_to_toggle_part '編集履歴' ,'deltas' do %></b>
<% col_names = {:note => '備考',:title => '表題' , :turn => 'ターン',:is_current => '最新フラグ'} %>

<h4>アイドレス表</h4>
<table border="1">
  <tr>
    <th rowspan="2">年月日</th> <th colspan="6">変更点</th>
  </tr>
  <tr>
    <th> </th><th>国民番号</th> <th>国民名</th> <th>職業アイドレス</th><th>職業４</th><th>所属</th>
  </tr>
<% etc_deltas = []
   for delta in @idress_wearing_table[:deltas].flatten
     next unless delta
     if delta.new_data && delta.new_data.keys.any?{|item| col_names.keys.include?(item)}
       etc_deltas << delta
       next
     end
   %>
<% if delta.source %>
  <tr>
    <td rowspan="2"><%= delta.updated_at.strftime("%Y/%m/%d %H:%M")  if delta.updated_at%></td>
    <td style="color:#3333ff">編集前</td>
    <td style="color:#3333ff"> <%= delta.source[:number] %>  </td>
    <td style="color:#3333ff"> <%= delta.source[:name] %> </td>
    <td style="color:#3333ff"> <%= delta.source[:job_idress] %> </td>
    <td style="color:#3333ff"> <%= delta.source[:personal_idress] %> </td>
    <td style="color:#3333ff"> <%= delta.source[:belongs] %> </td>
  </tr>
  <tr>
    <td style="color:#aa3333">編集後</td>
    <td style="color:#aa3333"><%= delta.new_data[:number] || delta.source[:number] %> </td>
    <td style="color:#aa3333"><%= delta.new_data[:name] || delta.source[:name] %> </td>
    <td style="color:#aa3333"><%= delta.new_data[:job_idress] ||  delta.source[:job_idress]  %> </td>
    <td style="color:#aa3333"><%= delta.new_data[:personal_idress] || delta.source[:personal_idress] %> </td>
    <td style="color:#aa3333"><%= delta.new_data[:belongs] || delta.source[:belongs]%> </td>
  </tr>
  <% elsif delta.new_data  %>
  <tr>
    <td><%= delta.updated_at.strftime("%Y/%m/%d %H:%M")   if delta.updated_at%> </td>
    <td style="color:#3333ff">行追加</td>
    <td style="color:#3333ff"> <%= delta.new_data[:number] %>  </td>
    <td style="color:#3333ff"> <%= delta.new_data[:name] %> </td>
    <td style="color:#3333ff"> <%= delta.new_data[:job_idress] %> </td>
    <td style="color:#3333ff"> <%= delta.new_data[:personal_idress] %> </td>
    <td style="color:#3333ff"> <%= delta.new_data[:belongs] %> </td>
  </tr>
  <% else %>
  <tr>
    <td><%= delta.updated_at.strftime("%Y/%m/%d %H:%M")   if delta.updated_at %> </td>
    <td style="color:#aa3333">行削除</td>
    <td style="color:#aa3333"> <%= delta.old_data[:number] %>  </td>
    <td style="color:#aa3333"> <%= delta.old_data[:name] %> </td>
    <td style="color:#aa3333"> <%= delta.old_data[:job_idress] %> </td>
    <td style="color:#aa3333"> <%= delta.old_data[:personal_idress] %> </td>
    <td style="color:#aa3333"> <%= delta.old_data[:belongs] %> </td>
  </tr>
  <% end %>
<% end %>
</table>

<h4>その他</h4>
<table border="1">
  <tr>
    <th rowspan="2">年月日</th> <th rowspan="2">変更点</th><th>変更前</th>
  </tr>
  <tr> <th>変更後</th> </tr>
<% for delta in etc_deltas
  cols = delta.new_data.keys
  flag = true
  %>
  <% for col in cols %>
  <tr>
    <% if flag %>
      <td rowspan="<%= cols.size*2 %>"> <%= delta.updated_at.strftime("%Y/%m/%d %H:%M")   if delta.updated_at%> </td>
    <%   flag = false
       end %>
    <td rowspan="2"> <%= col_names[col]  %> </td>
    <td style="color:#3333ff"> <%= to_note_str delta.old_data[col].to_s %></td>
  </tr>
  <tr>
    <td style="color:#aa3333"> <%= to_note_str delta.new_data[col].to_s %> </td>
  </tr>
  <% end %>
<% end %>
</table>

<% end #end of delta %>
</p>
<hr/>

<p>

<%= form_tag edit_nation_idress_wearing_table_path(params[:nation_id],@idress_wearing_table) do %>
  <%= select_tag(:task , options_for_select(['編集','削除'])) %>
  パスワード：<%= password_field_tag(:password ,nil,:size=>6) %>
  <%= submit_tag '送信' %>
<%  end %>

<%= button_to 'この表からコピーして新規作成' ,
  copy_nation_idress_wearing_table_path(params[:nation_id],@idress_wearing_table) ,:method => :get%>
</p>
<br/>
<%= link_to '[戻る]', nation_idress_wearing_tables_path(params[:nation_id]) %> |
<%= link_to '[機能説明]' , 'http://www27.atwiki.jp/echizen/pages/442.html' , :target => '_blank' %>
<% @link = (link_to 'ターン別着用アイドレス登録' , nation_idress_wearing_tables_path(params[:nation_id]) ) +
           ' > ' + (link_to @idress_wearing_table.title) %>