<% @link = link_to('ターン別着用アイドレス登録' , nation_idress_wearing_tables_path(params[:nation_id]) ) +
           ' > ' + (link_to @idress_wearing_table.title , @idress_wearing_table) + ' > ' + link_to( "VCC書式出力" )-%>
<strong>
  <%= link_to "Vis・CombatCal #{Property['vcc_version'].to_s} （羅幻藩国提供）",Property['vcc_url'].to_s,{:target=>"_blank" }%>
 <br />
  <%= link_to "太元(β v#{TaigenController::VERSION})", 'http://maki.wanwan-empire.net/taigen/edit' %>
 </strong>

<pre>
<%
belongs = ''
for ch in @idress_wearing_table.idress_wearings.sort_by{|row|[row[:belongs].to_s , row[:job_idress].to_s , row[:number].to_s]}
  -%><%= if belongs != ch[:belongs].to_s
    belongs = ch[:belongs].to_s
    "\n/* "+belongs+" */\n"
  else
    ''
  end
  -%><%= format_soldier( ch , params[:nation_id]) -%>
<%- end -%>
</pre>

<%= render :partial => "shared/vcc_format" %>