<%= error_messages_for 'yggdrasill' %>

<!--[form:yggdrasill]-->
<p><label for="yggdrasill_name">名称</label>
<%= text_field 'yggdrasill', 'name'  %></p>

<p><label for="yggdrasill_phy">体格</label>
<%= text_field 'yggdrasill', 'phy'  %></p>

<p><label for="yggdrasill_str">筋力</label>
<%= text_field 'yggdrasill', 'str'  %></p>

<p><label for="yggdrasill_dur">耐久力</label>
<%= text_field 'yggdrasill', 'dur'  %></p>

<p><label for="yggdrasill_chr">外見</label>
<%= text_field 'yggdrasill', 'chr'  %></p>

<p><label for="yggdrasill_agi">敏捷</label>
<%= text_field 'yggdrasill', 'agi'  %></p>

<p><label for="yggdrasill_dex">器用</label>
<%= text_field 'yggdrasill', 'dex'  %></p>

<p><label for="yggdrasill_sen">感覚</label>
<%= text_field 'yggdrasill', 'sen'  %></p>

<p><label for="yggdrasill_edu">知識</label>
<%= text_field 'yggdrasill', 'edu'  %></p>

<p><label for="yggdrasill_luc">幸運</label>
<%= text_field 'yggdrasill', 'luc'  %></p>

<p><label for="yggdrasill_note">備考</label><br/>
<%= text_field 'yggdrasill', 'note'  %></p>

<!--[eoform:yggdrasill]-->

