<h1>Editing yggdrasill</h1>

<%= form_tag :action => 'update', :id => @yggdrasill do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @yggdrasill %> |
<%= link_to 'Back', :action => 'list' %>
