<h1> 管理者用メニュー </h1>

<ul>
  <li> <%= link_to 'サインアップ（ユーザ登録）' , :controller => 'account' , :action => 'signup'%> </li>
  <li> <%= link_to 'ユーザ権限管理' , :controller => 'account' , :action => 'users'%> </li>
  <li> <%= link_to '編集制限指定' , :action => 'restriction_list'%> ：　各国の編集制限を管理します。　</li><br/>
  <li> <%= link_to 'お知らせ' ,:controller => :information ,:action => :list %> ：　文殊の冒頭に表示する「お知らせ」を編集・管理します。</li> <br/>
  <li> <%= link_to 'リザルト書式で全国一括入力' ,:controller => :nations ,:action => :register_result_form , :id=>'admin' %>　： リザルト提出書式を元に、リザルトを一括入力します。</li>
  <li> <%= link_to 'マイル・根源力の一括入力' ,:controller => :packaged_register , :action => :register_form %>　： 根源力、ないしマイルの一括入力を行います。
  <li> <%= link_to 'アイドレス・コマンドリソース一括入力' ,:controller => :packaged_register , :action => :register_command_resources %>　：
    アイドレスないし単体コマンドリソースの一括入力を行います。</li><br/>
  <li> <%= link_to 'イベント名一覧(全国範囲）' ,:controller => :nations ,:action => :event_list , :id=>'admin' %> : 各キャラに登録されたリザルトを、イベント名別で一覧します。 </li>
  <li> <%= link_to 'テンダイスエントリー一覧' , :controller => :events , :action => :list , :turn => Property['current_turn'].to_i %>  : テンダイスの記事へのリンクをターン毎に表示します。</li>
  <li> <%= link_to 'リザルト＞テンダイスエントリーへの関連付け' , :action => :select_results , :type=>:none %> : 各キャラクターが取得したリザルトから、テンダイスへのリンク付けを行います。</li>
  <li> <%= link_to '個人修正一覧' , :controller => :characters , :action => :bonus_list %> : 全キャラクターの個人修正を表示します。</li>
  <li> <%= link_to 'リザルト提出書式で個人修正を更新' , :controller => :nations , :action => :update_bonus_form , :id => 'admin' %> : 全キャラクターの個人修正を表示します。</li>
</ul>

<h2>職業アイドレス管理</h2>

<ul>
<li><%= link_to 'アイドレス管理' , :controller => 'jobs' , :action => :list %> ：職業アイドレスの定義を追加・編集します。</li>
</ul>

<h2>組織管理（藩国・騎士団・冒険組合・前線基地）</h2>

<ul>
<li> <%= link_to '藩国の新規追加' , :controller => :nations , :action => :new %> :新しい藩国を追加します。
<li><%= link_to '組織管理' , organizations_path %></li>
</ul>

<h2>オブジェクト定義管理</h2>
<ul>
  <li> <%= link_to 'オブジェクト定義管理',object_definitions_path %>
  
</ul>