<h1>Listing yggdrasills</h1>

<table>
  <tr>
  <% 
    cols = ['name','phy','str','dur','chr','agi','dex','sen','edu','luc','note']
    col_name = ['名称','体格','筋力','耐久力','外見','敏捷','器用','感覚','知識','幸運','備考']
    
   for c_name in col_name %>
    <th><%= c_name %></th>
  <% end %>
  </tr>
  
<% for yggdrasill in @yggdrasills %>
  <tr>
  <% for column in cols.each{|c| Yggrasill.columns_hash[c]} %>
    <td><%=h yggdrasill.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => yggdrasill %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => yggdrasill %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => yggdrasill }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @yggdrasill_pages.current.previous } if @yggdrasill_pages.current.previous %>
<%= link_to 'Next page', { :page => @yggdrasill_pages.current.next } if @yggdrasill_pages.current.next %> 

<br />

<%= link_to 'New yggdrasill', :action => 'new' %>
