<h1>編集制約の一覧</h1>
<%= link_to "トップ" , :controller => :nations , :action => :top %>
<%= form_for :nation , :url => {:action => :update_restriction } do %>
<table border=1 cellspacing=0>
  <tbody>
  <tr>
    <th> no </th>
    <th>藩国名</th>
    <th>編集制約<br />（チェック有＝認証が必要）    </th>
  </tr>
  
<% for @nation in @nations %>
  <tr>
    <td><%= sprintf("%02d",@nation[:id]) %></td>
    <td><%= @nation.name %></td>
    <td align="center"><%= check_box 'nation[]' , 'restriction' ,{}%></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= submit_tag '変更' %>
<% end %>
