<h1>リザルトからテンダイスへのリンク</h1>

<%= form_tag :action => :select_results , :type => :none do  %>
キーワード：<%= text_field "keyword" , "" %> <%= submit_tag "フィルタ" %>
<% end %>
<%= form_tag :action => :select_relation_to_result do %>
<%= submit_tag "次へ"  %>
<ul>
<% for @result_item in @results_list %>
  <li> 
         <%= check_box_tag "result_item[#{@result_item[:id]}]" %>
         <%= link_to @result_item.event_name , :controller => :nations , :action => :results_by_event , 
            :result_id => @result_item , :id => :admin%>
  </li>
<% end %>

</ul>
<% end %>