<h1>リザルトからテンダイスへのリンク</h1>

<%= form_tag :action => :add_relation_to_results do %>

ターン：<%= select_tag 'turn' , options_for_select((0..(Property[:current_turn].to_i)).collect{|i|[i,i]} ) %>

<%= observe_field(:turn , :on=>:changed , :update => :entry_list_part ,
                  :url => {:action => :update_entry_list })%>
<span id='entry_list_part'>
  <%= render :partial => 'entry_list' %>
</span>

<%= submit_tag "関連付けを実行" %>
<p>
関連付けるリザルト

<ul>
  <% for r in @selected_results %>
  <li> <%= r.event_name %> <%= hidden_field_tag "results[#{r[:id]}]" , r[:id] %></li>
  <% end %>
</ul>
<p>
<% end %>