<% for column in Job.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @yggdrasill.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @yggdrasill %> |
<%= link_to 'Back', :action => 'list' %>
