  <%- unless @controller.class.hidden_field?(@action_name, 'id') -%>
    <%= hidden_field("cash_record_detail", 'id') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'detail_type') -%>
    <%= hidden_field("cash_record_detail", 'detail_type') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'character_no') -%>
    <%= hidden_field("cash_record_detail", 'character_no') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'pc_name') -%>
    <%= hidden_field("cash_record_detail", 'pc_name') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'job_type') -%>
    <%= hidden_field("cash_record_detail", 'job_type') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'fund') -%>
    <%= hidden_field("cash_record_detail", 'fund') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'resource') -%>
    <%= hidden_field("cash_record_detail", 'resource') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'food') -%>
    <%= hidden_field("cash_record_detail", 'food') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'fuel') -%>
    <%= hidden_field("cash_record_detail", 'fuel') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'amusement') -%>
    <%= hidden_field("cash_record_detail", 'amusement') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'num_npc') -%>
    <%= hidden_field("cash_record_detail", 'num_npc') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'num_id') -%>
    <%= hidden_field("cash_record_detail", 'num_id') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'cash_record_id') -%>
    <%= hidden_field("cash_record_detail", 'cash_record_id') %>
  <%- end -%>
