<table class="confirm">
<%- for column in CashRecordDetailController.visible_columns(@action_name) -%>
  <%- case column.name -%>
  <%- when 'id' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'id') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'id') %></td>
  </tr>
  <%- when 'type' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'detail_type') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'detail_type') %></td>
  </tr>
  <%- when 'character_no' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'character_no') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'character_no') %></td>
  </tr>
  <%- when 'pc_name' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'pc_name') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'pc_name') %></td>
  </tr>
  <%- when 'job_type' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'job_type') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'job_type') %></td>
  </tr>
  <%- when 'fund' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'fund') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'fund') %></td>
  </tr>
  <%- when 'resource' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'resource') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'resource') %></td>
  </tr>
  <%- when 'food' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'food') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'food') %></td>
  </tr>
  <%- when 'fuel' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'fuel') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'fuel') %></td>
  </tr>
  <%- when 'amusement' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'amusement') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'amusement') %></td>
  </tr>
  <%- when 'num_npc' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'num_npc') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'num_npc') %></td>
  </tr>
  <%- when 'num_id' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'num_id') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'num_id') %></td>
  </tr>
  <%- when 'cash_record_id' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record_detail, 'cash_record_id') %></td>
    <td><%= human_attribute_value(@cash_record_detail, 'cash_record_id') %></td>
  </tr>
  <%- end -%>
<%- end -%>
</table>
