<%- for column in CashRecordDetailController.visible_columns(@action_name) -%>
  <%- case column.name -%>
  <%- when 'id' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'id') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'id') %>
    </p>
  <%- when 'type' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'detail_type') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'detail_type') %>
    </p>
  <%- when 'character_no' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'character_no') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'character_no') %>
    </p>
  <%- when 'pc_name' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'pc_name') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'pc_name') %>
    </p>
  <%- when 'job_type' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'job_type') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'job_type') %>
    </p>
  <%- when 'fund' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'fund') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'fund') %>
    </p>
  <%- when 'resource' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'resource') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'resource') %>
    </p>
  <%- when 'food' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'food') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'food') %>
    </p>
  <%- when 'fuel' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'fuel') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'fuel') %>
    </p>
  <%- when 'amusement' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'amusement') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'amusement') %>
    </p>
  <%- when 'num_npc' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'num_npc') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'num_npc') %>
    </p>
  <%- when 'num_id' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'num_id') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'num_id') %>
    </p>
  <%- when 'cash_record_id' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record_detail, 'cash_record_id') %></label><br/>
      <%= human_attribute_value(@cash_record_detail, 'cash_record_id') %>
    </p>
  <%- end -%>
<%- end -%>
