<%= error_messages_for 'job' %>

<!--[form:job]-->
<p><label for="job_name">名称</label><br/>
<%= text_field 'job', 'name'  %></p>

<label for="job_phy">体格</label>
<%= text_field 'job', 'phy' , :size => 3 %>　

<label for="job_str">筋力</label>
<%= text_field 'job', 'str'  , :size => 3%>　

<label for="job_dur">耐久力</label>
<%= text_field 'job', 'dur'  , :size => 3%>　

<label for="job_chr">外見</label>
<%= text_field 'job', 'chr' , :size => 3%>　

<label for="job_agi">敏捷</label>
<%= text_field 'job', 'agi'  , :size => 3%>　

<label for="job_dex">器用</label>
<%= text_field 'job', 'dex'  , :size => 3%>　

<label for="job_sen">感覚</label>
<%= text_field 'job', 'sen'  , :size => 3%>　

<label for="job_edu">知識</label>
<%= text_field 'job', 'edu'  , :size => 3%>　

<label for="job_luc">幸運</label>
<%= text_field 'job', 'luc'  , :size => 3%>　

<br/>
<br/>

<label for="job_note">備考</label><br/>
<%= text_area 'job', 'note' ,:size=>"80x8" %>
<br/>
<br/>
<label for="job_note">ｉ言語定義</label> <%=
submit_to_remote :parse_idef_button , 'アイドレス定義を解析' , :url => {:action=>:parse_idef}
%> <br/>
<%= text_area_tag 'i_definition' ,'',:size=>"100x20" %>

<!--[eoform:job]-->

