<h1>職業アイドレス定義の編集</h1>

<%= form_tag :action => 'update', :id => @job do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to '[詳細]', :action => 'show', :id => @job %> |
<%= link_to '[戻る]', :action => 'list' %>
