<h1>職業アイドレス定義一覧</h1>

<%= link_to '[新規登録]', :action => 'new' if has_role?(:herald)%>

<table>
  <tr>
  <th>id</th>
  <th>名称</th>
  <th>体格</th>
  <th>筋力</th>
  <th>耐久力</th>
  <th>外見</th>
  <th>敏捷</th>
  <th>器用</th>
  <th>感覚</th>
  <th>知識</th>
  <th>幸運</th>
  <th>備考</th>
  </tr>
  
<% for job in @jobs %>
  <tr>
    <td><%= job[:id] %></td>
    <td><%= job.name %></td>
    <td><%= job.phy %></td>
    <td><%= job.str %></td>
    <td><%= job.dur %></td>
    <td><%= job.chr %></td>
    <td><%= job.agi %></td>
    <td><%= job.dex %></td>
    <td><%= job.sen %></td>
    <td><%= job.edu %></td>
    <td><%= job.luc %></td>
    <td><%= job.note ? job.note.split(/\s+/).join("<BR>") : "" %></td>
    <td><%= link_to '詳細', :action => 'show', :id => job %></td>
    <td><%= link_to '編集', :action => 'edit', :id => job %></td>
    <td><%= link_to '削除', { :action => 'destroy', :id => job }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>
<%= will_paginate(@items) %>
<%#= link_to '[Previous]', { :page => @job_pages.current.previous } if @job_pages.current.previous %>
<%#= link_to '[Next]', { :page => @job_pages.current.next } if @job_pages.current.next %> 

<br />


