<p>
  <b>名称：</b><%=@job.name%>
</p>

  <p>
  <b>体格：</b><%=@job.phy  %>
  <b>筋力：</b><%=@job.str  %>
  <b>耐久力：</b><%=@job.dur  %>
  <b>外見：</b><%=@job.chr  %>
  <b>敏捷：</b><%=@job.agi  %>
  <b>器用：</b><%=@job.dex  %>
  <b>感覚：</b><%=@job.sen  %>
  <b>知識：</b><%=@job.edu  %>
  <b>幸運：</b><%=@job.luc  %>
  </p>
<p>
  <b>備考:</b><br/>
<%= lf2br @job.note %>
</p>

<%= link_to '[編集]', :action => 'edit', :id => @job %> |
<%= link_to '[戻る]', :action => 'list' %>
