<h2>解析結果の詳細:</h2>
<table cellspacing=1 border=0 cellpadding=0>
<tbody>
<tr align=left >
  <th>元の入力</th> <th> </th><th>番号</th><th>入力された名義：DB登録名</th>
<% if params[:format_type] == 'mile_with_event_name' %>
  <th>事由</th>
<% end -%>
<% if params[:format_type] =~ /originator/ %>  
<th>根源力</th>
<% end -%>
<% if params[:format_type] =~ /mile/ %>  
<th>マイル</th>
<% end -%>
<% if params[:format_type] == 'idress' %>
    <th>アイドレス</th>
<% end -%>
<th>備考</th><th align=left>URL</th>
<%
 text_size = 50
 for result in @parse_results 
   next if result.text == ""
 %>
 <% if result.matched? 
   if result.db_name
     colorval = 'ddddff'
   else
     colorval = 'ffaaaa'
   end
 else
   colorval =  'ffdddd'
 end
%>
</tr>
<tr style="background-color: #<%= colorval %>" >
<td>
<%= result.text[0..text_size] %> <%= '...' if result.text.length > text_size %>
</td>
<td style="background-color: #ffffff"> => 
</td>
<% if result.matched? %>
<td><%= result.character_no %></td>
<td><%= result.name %>:<%= result.db_name ? result.db_name : "(データベース登録なし）" %>
</td>
<% if params[:format_type] =~ /mile_with_event_name/ %>
<td><%= result.event_name %>
</td>
<% end -%>
<% if params[:format_type] =~ /originator/ %>  
<td><%= result.originator %></td>
<% end -%>
<% if params[:format_type] =~ /mile/ %>  
<td><%= result.mile %></td>
<% end -%>
<% if params[:format_type] == 'idress' %>
<td>
  <%= result.idress %>
</td>
<% end -%>
<td><%= result.note %> </td>
<td><%= link_to(result.url[0..30] + (result.url.length > 30 ? "..." : ""), result.url ) if result.url%> </td>
<% else %>
<td></td><td></td><td></td><td></td><td></td>
<% end  %>

</tr>
<% end %>
</tbody>
</table>
