<% @link = link_to "リザルト一括入力(確認）",:action => :register_result_form , :id=>params[:id] %>
<h1>リザルト一括入力(確認）</h1>

<p>
<% if @null_check %>
<h3>以下の通り解釈しました。<%= "この内容で登録してよろしいですか？" if (has_role?(:herald) || has_role?(:accountant) ) %></h3>
<% else  -%>
<h3 style='color: red' >マイル、ないし根源力が空欄になっている入力があります。入力内容を確認してください。</h3>
<% end -%>
<%= form_tag :action => :register_result ,:id => params[:id] do %>
<%= button_to_function "前の画面に戻る" , "javascript:history.back();" %>

<%= submit_tag " OK " if @null_check && ((has_role?(:herald) || has_role?(:accountant) ) )%>
<h3>イベント名：<%= @event_name %> <%= hidden_field_tag :event_name ,@event_name %></h3>
<% if params[:format_type] == 'originator' || params[:format_type] == 'originator_and_mile' %>
<strong>入手マジックアイテム：</strong><%= @magic_item %> <%= hidden_field_tag :magic_item , @magic_item %><br/>
<strong>提出状態：</strong><%= @not_yet == "1" ? "未提出、まだリザルト適用せず" : "提出済み、リザルト適用" %> <%= hidden_field_tag :not_yet , @not_yet %>
<% elsif params[:format_type] == 'idress' %>

<% end %>
<%= hidden_field_tag :format_type , params[:format_type] %> <br/>
<%= hidden_field_tag :turn , params[:turn] %>
    <br/>
<br/>
<table border=1 cellspacing=0 >
<tbody>
<tr><th>番号</th><th>口座名義</th>
<% case params[:format_type]
  when 'originator' %>
  <th>根源力</th>
<% when 'mile' %>
  <th>マイル</th>
<% when 'mile_with_event_name' %>
  <th>事由</th>
  <th>マイル</th>
<% when 'originator_and_mile' %>
  <th>根源力</th>
  <th>マイル</th>
<% when 'idress' %>
  <th>リザルトアイドレス</th>
<% end %>
<th>備考</th><th>参照URL</th>
<%= if params[:format_type] =~ /mile/ 
  '<th>ターン</th> <th>編集前マイル合計</th> <th>編集後マイル合計</th> ' 
    end %> </tr>
<% idx = 1 %>
<% for reg in @register_data.sort_by{|data|data.character_no } %>
<tr>
  <td> <%= reg.character_no %> 
  <%= hidden_field_tag "results[#{idx}][character_no]" , reg.character_no  %>
  </td>
  <td> <%= reg.name %>
  <%= hidden_field_tag "results[#{idx}][name]" , reg.name  %>
  </td>
<% if params[:format_type] == 'mile_with_event_name' %>
  <td> <%= event_name = ((reg.event_name && !reg.event_name.empty?) ? reg.event_name : @event_name )%>
  <%= hidden_field_tag "results[#{idx}][event_name]" , event_name %>
  </td>
<% end %>
<% if params[:format_type] =~ /originator/  %>
  <%= tag(:td , :style => (reg.originator.nil? || (reg.originator.class != Fixnum && reg.originator.empty?)) ? 'background-color: #ffcccc' : '' )%> 
    <%= reg.originator %>
  <%= hidden_field_tag "results[#{idx}][originator]" , reg.originator  %>
  </td>
<% end %>
<% if params[:format_type] =~ /mile/  %>
  <%= tag(:td , :style => (reg.mile.nil? || (reg.mile.class != Fixnum && reg.mile.empty?)) ? 'background-color: #ffcccc' : '' ,:align=>:right)%> 
    <%= reg.mile %>
  <%= hidden_field_tag "results[#{idx}][mile]" , reg.mile  %>
  </td>
<% end %>
<% if params[:format_type] == 'idress' %>
      <%= tag(:td , :style =>  reg.idress_not_found ? 'background-color: #ffcccc'  : '' ,:align=> :left)%>
      <%= reg.idress %> <%= "(定義未登録)" if reg.idress_not_found %>
      <%= hidden_field_tag "results[#{idx}][idress]" , reg.idress  %>
    </td>
<% end %>
  <td> <%= reg.note %>
  <%= hidden_field_tag "results[#{idx}][note]" , reg.note  %>
  </td>
  <% if reg.url %>
  <td>
        <%= link_to reg.url ,reg.url%>
        <%= hidden_field_tag "results[#{idx}][url]" , reg.url  %>
    <%   else %>
  <td style="background-color: #ffcccc">
        (URLなし)
    <%   end %>
  </td>
<% if params[:format_type] =~ /mile/ 
  target = controller.find_target(reg.character_no , reg.name)
%>
  <td> <%= params[:turn] %> </td>
  <td align=right> <%= target.owner_account.miles if target %> </td>
  <td align=right> <%= negative_warned_tag(target.owner_account.miles + reg.mile.to_i)  if target %> </td>
<% end %>
</tr>
<%   idx += 1
   end %>
</tbody>
</table>
<% end %>
</p>
<%= render :partial => "db_not_found" %>

<%= render :partial => "parse_results" %>

<p />