<% @link = link_to "マイル・根源力一括入力",:action => :register_result_form , :id=>params[:id]   %>
<h1>アイドレス・コマンドリソース一括入力</h1>

<%= form_tag :action => :confirm_register_result do %>
    <%= hidden_field_tag  :format_type , :idress %>
<p/>
<table>
<tr>
<td align=right>入手アイドレス or コマンドリソース名：</td><td><%= text_field_tag 'magic_item',nil %>  （全員に与えられるリザルト。１個のみ）</td>
</tr>
<tr>
  <tr>
    <td align=right>備考：</td><td><%= text_area_tag 'event_name' ,nil , :size => "80x3"%><br/>
    （通常はブランチ名＋エントリーリストURL）
  </td>
  </tr>
<td align=right>参照URL：</td><td><%= text_field_tag 'reference_url' , nil , :size => 80 %> <br/>（通常はリザルトリストが提出された記事のニセトレURLを入力してください）<br/> </td>
</tr>
</table>テキスト書式：<br/>
【国民番号】：【ＰＣ名 or ＡＣＥ名】（：【備考欄】：【参照ＵＲＬ】）<br/>

<%= text_area_tag :submit_format, nil,:size=>"100x30" %>

<br/>
<%= submit_tag '書式を解析' %>
<% end %>

<h2>説明</h2>
<p>
アイドレス or コマンドリソースを一括入力します。<br/>
藩国の場合は「国番号：藩国名（：【備考欄】：【参照ＵＲＬ】）」となります。<br/>
組織（騎士団・ショップ等）の場合は「-：組織名（：【備考欄】：【参照ＵＲＬ】）」として下さい。<br/>
備考・参照URLは各行で個別に指定可能です。省略もできます。<br/>
リザルトアイドレスの登録は、その定義を先に太元ないしオブジェクト定義に登録していないかぎり入力できません。<br/>
リザルトアイドレス・コマンドリソースが複数種類ある場合、それぞれに分けて登録してください。（行ごとに追加するアイドレスを指定することはできません）
</p>

<h2>解析ルール</h2>
<ol>
<li>行頭から”(国民番号)：PC名：（任意文字列）”となっていない行を無視する。":"（コロン）は全角とする。</li>
<li>（任意文字列）もまた、":"（全角コロン）で区切られているものとする。</li>
<li>行頭の国民番号によるキャラクターが文殊に登録されていない場合、PC名をＡＣＥとみなして検索する。ＡＣＥにも対象がいない場合、その行を無視する。</li>
<li>行頭が'-'（ハイフン）ないし'－'（全角マイナス）だった場合、次のＰＣ名欄を組織口座名とみなし、完全一致する口座を対象と見なす。</li>
</ol>

