<% @link = link_to "マイル・根源力一括入力",:action => :register_result_form , :id=>params[:id]   %>
<h1>マイル・根源力一括入力</h1>

<%= form_tag :action => :confirm_register_result do %>
  <label for='format_type_mile'>
    <%= radio_button_tag  :format_type , :mile ,has_role?(:accountant) , :disabled => ! has_role?(:accountant)  %> 
    マイル一括登録 （国民番号：PC名：マイル（：備考：参照URL））
  </label><br/>
  <label for='format_type_mile_with_event_name'>
    <%= radio_button_tag  :format_type , :mile_with_event_name ,has_role?(:accountant) , :disabled => ! has_role?(:accountant)  %> 
    マイル一括登録・個別事由付き （国民番号：PC名：事由：マイル（：備考：参照URL））
  </label><br/>
  <label for='format_type_originator'>
    <%= radio_button_tag  :format_type , :originator, has_role?(:herald) , :disabled => ! has_role?(:herald)  %> 
    根源力一括登録（国民番号：PC名：根源力（：備考：参照URL）） 
  </label><br/>
  <label for='format_type_originator_and_mile'>
    <%= radio_button_tag  :format_type , :originator_and_mile , has_role?(:herald) , :disabled => ! has_role?(:herald) %> 
    根源力マイル一括登録（国民番号：PC名：根源力：マイル（：備考：参照URL）） 
  </label><br/>
  <label for='format_type_idress'>
    <%= radio_button_tag  :format_type , :idress , has_role?(:herald) , :disabled => ! has_role?(:herald) %>
    リザルトアイドレス一括登録（国民番号：PC名（：備考：参照URL））
  </label><br/>
<p/>
<table>
<tr>
<td align=right>イベント名・事由：</td><td><%= text_field_tag 'event_name' ,nil , :size => 80%></td>
</tr>
<tr>
<td align=right>デフォルト根源力：</td><td><%= text_field_tag 'default_originator' ,nil , :disabled => ! has_role?(:herald) %> (各PCの根源力リザルト数値がない時に、この値が一括して適用されます。）<br/> </td>
</tr>
<tr>
<td align=right>入手マジックアイテムorアイドレス：</td><td><%= text_field_tag 'magic_item',nil , :disabled => ! has_role?(:herald)  %> (こちらを入力した場合、全員が入手した扱いになります。リザルトアイドレスでは必須）<br/> </td>
</tr>
<tr>
<td align=right>デフォルトマイル：</td><td><%= text_field_tag 'default_mile' %> (こちらを入力した場合、全員が入手した扱いになります）<br/> </td>
</tr>
<tr>
<td align=right>参照URL：</td><td><%= text_field_tag 'reference_url' , nil , :size => 80 %> <br/>(全ての登録の参照URLがこの内容になります）<br/> </td>
</tr>
<tr>
<td align=right>ターン：</td><td><%= text_field_tag 'turn' , Property[:current_turn] , :size => 3%> </td>
</tr>
</table>テキスト書式：<br/>

<%= text_area_tag :submit_format, nil,:size=>"100x30" %>

<br/>
<%= check_box_tag :not_yet ,'1' , false , :disabled => ! has_role?(:herald) %>未提出扱い（登録するが根源力に加算しない）
<br/>
<br/>
<%= submit_tag '書式を解析' %>
<% end %>

<h2>説明</h2>
<p>
”国民番号：PC名：マイルor根源力”の書式のテキストで、マイルor根源力orアイドレスを一括入力します。<br/>
藩国口座の場合は「国番号：藩国名：マイル」となります。<br/>
組織口座（騎士団・ショップ等）の場合は「-：組織名：マイル」として下さい。<br/>
マイルor根源力を省略した場合（"国民番号：PC名"の形式）、その行は「デフォルトマイル」・「デフォルト根源力」の値として解釈されます。<br/>
備考・参照URLは各行で個別に指定可能です。省略もできます。<br/>
リザルトアイドレスの登録は、その定義を先に太元ないしオブジェクト定義に登録していないかぎり入力できません。<br/>
</p>

<h2>入力例</h2>
<pre>
32-00622-01：セントラル越前：1：ttp://maki.wanwan-empire.net　（※１）
32-00623-01：幸村：2：ttp://maki.wanwan-empire.net （※２）
32-00624-01：Ｗｉｓｈ：3：備考：ttp://maki.wanwan-empire.net　（※３）
32-00625-01：ＳＥＩＲＹＵ（※４）
</pre>

※１：マイル収入に１マイル、参照URLに”http://maki.wanwan-empire.net”として解釈されます。<br/>
※２：URLは先頭のhを省略することもできます。<br/>
※３：URL形式でない文字列があった場合（この場合は「備考」）は、それを備考欄の文字列として扱います。<br/>
※４：マイル以降の内容を全て省略した場合、デフォルトのマイル値が採用されます。<br/>

<h2>解析ルール</h2>
<ol>
<li>行頭から”(国民番号)：PC名：（任意文字列）”となっていない行を無視する。":"（コロン）は全角とする。</li>
<li>（任意文字列）もまた、":"（全角コロン）で区切られているものとする。</li>
<li>行頭の国民番号によるキャラクターが文殊に登録されていない場合、その行は無視する。</li>
<li>行頭が'-'（ハイフン）ないし'－'（全角マイナス）だった場合、次のＰＣ名欄を組織口座名とみなし、完全一致する口座を対象と見なす。</li>
<li>コロンで区切られたそれぞれの文字列について、以下のルールで解釈する。</li>
<ol>
  <li>半角数字の羅列：根源力もしくはマイル。どちらかは選択肢に拠る。</li>
  <li>上記以外：備考欄</li>
</ol>
</ol>

