<%= error_messages_for 'information' %>

<!--[form:information]-->
<p><label for="information_title">Title</label><br/>
<%= text_field 'information', 'title'  %></p>

<p><label for="information_content">Content</label><br/>
<%= text_area 'information', 'content'  %></p>

<p><label for="information_created_at">Created at</label><br/>
<%= datetime_select 'information', 'created_at'  %></p>

<p><label for="information_updated_at">Updated at</label><br/>
<%= datetime_select 'information', 'updated_at'  %></p>

<p><label for="information_url">Url</label><br/>
<%= text_field 'information', 'url'  %></p>

<p><label for="information_expired">Expired</label><br/>
<select id="information_expired" name="information[expired]"><option value="false">False</option><option value="true">True</option></select></p>
<!--[eoform:information]-->

