<% latest_info = latest_information -%>
<% if latest_info -%>
<h2> <%=raw latest_info.title %> </h2>
<p>
  <%=raw latest_info.content %>
<%= link_to( "[詳細]" , latest_info.url ) if latest_info.url != ""%>
</p>
<% end -%>
