<% @link = link_to "お知らせの編集" ,  :id => @information %>
<h1>お知らせの編集n</h1>

<%= form_tag :action => 'update', :id => @information do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @information %> |
<%= link_to 'Back', :action => 'list' %>
