<% if @latest_info -%>
<hr>
<h2> <%= @latest_info.title %> <%= @latest_info.updated_at.strftime("%Y/%m/%d  %H:%M") %></h2>
<p>
  <%=raw @latest_info.content %>
<%= link_to( "[詳細]" , @latest_info.url ) if @latest_info.url != ""%>
</p>
<hr>
<% end -%>