<% @link = link_to "お知らせの一覧" %>

<h1>お知らせの一覧</h1>

<table border=1>
  <tr>
    <th> タイトル </th>
    <th> 作成日 </th>
    <th> 期限切れ </th>
    
  </tr>
  
<% for information in @information %>
  <tr>
    <td>
      <strong> <%= information.title %> </strong>
    </td>
    <td>
      <%=jst(information.created_at).strftime("%Y%m%d %H:%M:%S") %>
    </td>
    <td>
      <%=information.expired %>
    </td>
    <td><%= link_to '詳細', :action => 'show', :id => information %></td>
    <td><%= link_to '編集', :action => 'edit', :id => information %></td>
    <td><%= link_to '削除', { :action => 'destroy', :id => information }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
  <tr>
    <td colspan=3>
      <%=information.content[0..160] %>
    </td>
  
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @information_pages.current.previous } if @information_pages.current.previous %>
<%= link_to 'Next page', { :page => @information_pages.current.next } if @information_pages.current.next %> 

<br />

<%= link_to 'お知らせの作成', :action => 'new' %>
