<% for column in Information.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @information.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @information %> |
<%= link_to 'Back', :action => 'list' %>
