<br/><br/>
<div class='menu' style="width: 100%; clear: both;text-align: center">
フィードバック　：　<a href="http://echizen-rnd.at.webry.info/200706/article_3.html">障害</a>　：　
<a href="http://echizen-rnd.at.webry.info/200706/article_2.html">要望</a>　：　
<a href="http://echizen-rnd.at.webry.info/200706/article_4.html">質問</a>　｜　
<a href="http://echizen-rnd.at.webry.info/">開発Blog</a>　｜　
メッセンジャー：kurosaki_koh ☆ hotmail.co.jp　｜　
<a href='http://bu.wanwan-empire.net/nations/top'>ミラーサイト</a>
</div>
