<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title> <%= @monju_title || '文殊：' %><%= @title %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <% if @option_style_sheets
       @option_style_sheets = [@option_style_sheets] if @option_style_sheets === String || @option_style_sheets === Symbol
       for ss in @option_style_sheets.each_line -%>
  <%= stylesheet_link_tag ss %>
  <%   end -%>
  <% end -%>
  <%= javascript_include_tag :application %>

  <% if @option_js
       @option_js = [@option_js] if @option_js === String || @option_js === Symbol
       for js in @option_js -%>
  <%= javascript_include_tag js %>
  <%   end -%>
  <% end -%>
  <%= yield :javascript %>
  <%= yield :css %>
  </head>
<%= javascript_tag @onload if @onload %>
<body>
<%
  prepare_ids
%>
<div class='menu'>
 <span style="float: left" >
     &nbsp;
     <%= link_to "トップ" , :controller => :nations %>
     <%= raw path_link %>
     <%= raw (@title && @link.nil? ) ? (" > " + link_to(@title) ): (@link.empty? ? '' : ' > ' +  @link )%>
 </span>
     <%= render :partial => "shared/login_link" %>
 &nbsp;
</div>


<p style="color: green"><%= flash[:notice] %>
  <span style='color: #888800'> <%= flash[:warning] %></span>
</p>

<%= yield  %>

<%= render :partial => "shared/bottom_links" %>

</body>

</html>
