検索：<%= text_field_tag target.to_s + '_inclemental' , '' %> <br/>
<%#= observe_field target.to_s + '_inclemental' ,  :function => "incremental_select('#{target.to_s}')" ,
   :frequency => 0.5 %>
 
  <%= select "job_idress" , "#{target.to_s}_id" ,opts,{},:size => 5 ,
    :disabled => if target == :job4 
      job_idress.idress_type != 'PlayerIdress'
    else
      job_idress.idress_type != 'JobIdress'
    end ,
    :onchange => 'update_job_idress_name()'%>