 <span style="float: right" >
    <%= link_to(current_user.name || current_user.login, :controller => :account , :action => :edit , :id => current_user ) if current_user != :false %> : 
    <%= link_to("管理者メニュー" , :controller => 'admin' , :action => 'index') + " | " if controller.is_admin?  %>
    <% if logged_in? %>
      <%= link_to  "ログアウト"  ,:action => :logout , :controller => :account %>
    <% else %>
      <%= link_to  " ログイン" , :action => :login , :controller => :account ,:refferer => url_for() %>
    <% end %>
 ｜　<a href="http://www27.atwiki.jp/echizen/pages/91.html">ヘルプWiki</a> &nbsp
 </span>
