<% javascript_tag :defer => 'defer ' do %>
var loading = false;
var length = <%= length %>;
function row_radio_clicked(i){
      if( i == 1){
          $$('.up_button').each(function(b){b.disable();});
        }else{
          $$('.up_button').each(function(b){b.enable();});
      }
      if( i == length){
          $$('.down_button').each(function(b){b.disable();});
      }else{
          $$('.down_button').each(function(b){b.enable();});
      }
}

function call_move_row(dir){
   $('up_button').disable();
   $('down_button').disable();
  var value;
  $$('input[type=radio]').each(function(radio) {
    if(radio.checked){
        value = radio.value;
    }
  });
  loading = true;
  new Ajax.Request('/<%= controller %>/move_position', 
    {asynchronous:true, evalScripts:true, method:'post',
     parameters:'direction=' + dir + '&target_id=' + value+ "'"});
  return false;
}
<% end %>
