使い方<br/>

羅幻藩国さん提供の「Vis・CombatCal」で利用できる書式を出力します。
<ol>
  <li>このページが出力したテキストをメモ帳などにコピーする。</li>
  <li>部隊に編成するキャラの行のみ残し、他を消す。</li>
  <li>犬士を編入する場合は、「犬士１：○国人＋職１＋職２＋職３；」といった行を犬士の数だけ追加する。</li>
  <li>テキストをコピーし、Vis・CombatCalに入力する。</li>
</ol>
（2009/11/9）キャラクターが所有するアイテムについても出力するようになりました。アイテムが能力値への補正を持つ場合、個人修正欄にその補正が反映されます。<br/>
もしアイテムに関する追加情報が不要な場合は、下のボタンで消去してください。<br/>
<%= javascript_include_tag 'prototype'%>
<% javascript_tag :defer => 'defer' do %>
function erase_tags(target,button_id){
  $$(target).each(function(tag){tag.remove();});
  $(button_id).disable();
}
<%  end %>
<%= button_to_function('所有アイテム欄を消去(VCC向け)','erase_tags("span.items","erase_items");',:id => 'erase_items') %>
<%= button_to_function('アイテム名注釈を消去','erase_tags("span.item_name","erase_item_name");',:id => 'erase_item_name') %>
<%= button_to_function('アイテムによる個人修正を消去(太元向け)','erase_tags("span.item_bonus","erase_item_bonus");',:id => 'erase_item_bonus') %>
<p>
<font color="red"><strong>注意１：</strong></font>アイテムにHQ効果があった場合、その分は出力に反映されません。
（アイテムのHQは文殊で管理できていないためです）<br/>
<font color="red"><strong>注意２：</strong></font>「個人取得ＨＱ根拠ＵＲＬ」のURLは、ごく稀にリンク切れしている可能性があります。<br/>
このURLは国民番号＋キャラクター名から生成していますが、アイドレスWiki側のページタイトルの誤字等がある場合、対応するページのURLと一致しない事が有り得ます。
<br/>
</p>