<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<% bu_url = 'http://bu.wanwan-empire.net' + request.path -%>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="refresh" CONTENT="4;URL=<%=bu_url%>">
  <title>サーバ障害発生中</title>
	<style type="text/css">
		body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
		div.dialog {
			width: 25em;
			padding: 0 4em;
			margin: 4em auto 0 auto;
			border: 1px solid #ccc;
			border-right-color: #999;
			border-bottom-color: #999;
		}
		h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
	</style>
</head>

<body>
  <div class="center">
  文殊サーバーにて障害発生中。数秒後にバックアップサイトへ転送します。<br/>
  
  転送されない場合はこちらをクリック。＞<%= link_to bu_url ,bu_url %>
  </div>
  <% @link_to = '転送中...' %>  
</body>
</html>

