<table>
  <tr>
    <th>Object</th>
    <th>Name</th>
    <th>Type</th>
  </tr>

<% for i_objects in @i_objects %>
  <tr>
    <td><%=h i_objects.object_id %></td>
    <td><%=h i_objects.name %></td>
    <td><%=h i_objects.type %></td>
  </tr>
<% end %>
</table>
