<h1>Listing i_objects</h1>

<table>
  <tr>
    <th>Object</th>
    <th>Name</th>
    <th>Type</th>
  </tr>

<% for i_objects in @i_objects %>
  <tr>
    <td><%=h i_objects.object_id %></td>
    <td><%=h i_objects.name %></td>
    <td><%=h i_objects.type %></td>
    <td><%#= link_to 'Show', i_objects %></td>
    <td><%#= link_to 'Edit', edit_i_objects_path(i_objects) %></td>
    <td><%#= link_to 'Destroy', i_objects, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New i_objects', new_i_objects_path %>
