    <td> <%= radio_button_tag 'target_row' , specification.id ,selected , :onClick => "row_radio_clicked(#{specification.position});"%> </td>
    <td> <%= h specification.name%> </td>
    <td> <%= h specification.type_no %></td>
    <td><%= link_to '詳細', specification %></td>
    <td><%= link_to '編集', edit_specification_path(specification) %></td>
    <td><%= link_to '削除', specification, :confirm => 'Are you sure?', :method => :delete %></td>
