<h1>兵器品目の編集</h1>

<%= error_messages_for :specification %>

<%= form_for(@specification) do |f| %>
<p>
名称：<%= f.text_field :name %>
</p>
<p>
識別番号：<%= f.text_field :type_no %>
</p>
<p>
定義：<%= f.text_area :i_spec ,:cols=>80, :rows => 20%>
</p>
<p>
原本URL：<%= f.text_field :original_url ,:size => 120 %>
</p>

  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to '[詳細]', @specification %> |
<%= link_to '[戻る]', specifications_path %>
