<%= render :partial => 'shared/move_position_func', 
    :locals => {:controller => "specifications" ,
                :length => @specifications.size } %>

<h1>兵器品目一覧</h1>

<%= link_to '新規追加', new_specification_path %>
<table>

  <tr>
  </tr>
<% i = 0 %>
<% for specification in @specifications %>
  <tr id="row_<%=specification.position %>" >
    <%= render :partial => 'specification' , :locals => {:specification => specification ,:selected => false} %>
  </tr>
<% i += 1 %>
  <% if i == 10 %>
  <tr>
    <td colspan=2>
      <%= move_button :up %> 
      <%= move_button :down %>
    </td>
  </tr>
  <% i = 0 %> 
  <% end %>
<% end %>
</table>
<%= move_button :up %> 
<%= move_button :down %>

<br />
<% @title = '兵器品目管理' %>
<% @path_link = '> ' + link_to('金庫番トップ',:controller => :owner_accounts , :action => :facade )%>