<h1>New specification</h1>

<%= error_messages_for :specification %>

<%= form_for(@specification) do |f| %>
<p>
名称：<%= f.text_field :name %>
</p>
<p>
識別番号：<%= f.text_field :type_no %>
</p>
<p>
定義：<%= f.text_field :i_spec %>
</p>
<p>
原本URL：<%= f.text_field :original_url %>
</p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', specifications_path %>
