<p>
名称：<%= h @specification.name %>
</p>
<p>
識別番号：<%= h @specification.type_no %>
</p>
<p>
定義：<pre>
<%=  h @specification.i_spec %>
  </pre>
</p>
<p>
原本URL：<%= url2link h @specification.original_url %>
</p>
<%= link_to '[編集]', edit_specification_path(@specification) %> |
<%= link_to '[戻る]', specifications_path %>
