<%= error_messages_for 'event' %>

<!--[form:event]-->
<p><label for="event_name">イベント</label><br/>
<%= text_field 'event', 'name'  %></p>

<p><label for="event_results_url">参照URL</label><br/>
<%= text_field 'event', 'results_url'  %></p>

<p><label for="event_turn">ターン</label><br/>
<%= text_field 'event', 'turn'  %></p>

<p><label for="event_order_no">順番</label><br/>
<%= text_field 'event', 'order_no'  %></p>

<p><label for="event_has_result">リザルトあり(チェック有り＝リザルトあり）：</label>
<%= check_box 'event' , 'has_result' %></p>

<!--[eoform:event]-->

