<h1>イベント一覧<%= @turn ? "(ターン#{@turn})" : "" %></h1>

ターン：<% for i in 0..(Property[:current_turn].to_i) %>
<%= link_to i , :action => :list , :turn => i%> 
<% end %>

<table>
  <tr>
    <th>イベント名&リンク</th>
<% if controller.is_admin? %>
    <th>順番</th>
    <th>リザルト有無</th>
    <th>ターン</th>
<% end %>
  </tr>
  
<% for event in @events %>
  <tr>
    <td> <%= link_to event.name , event.results_url %> </td>
<% if controller.is_admin? %>
    <td> <%= event.order_no %>
    <td> <%= event.has_result %>
    <td> <%= event.turn %>
    <td><%= link_to '詳細', :action => 'show', :id => event %></td>
    <td><%= link_to '編集', :action => 'edit', :id => event %></td>
    <td><%= link_to '削除', { :action => 'destroy', :id => event }, :confirm => 'Are you sure?', :method => :post %></td>
<% end %>
  </tr>
<% end %>
</table>
<br />
ターン：<% for i in 0..(Property[:current_turn].to_i) %>
<%= link_to i , :action => :list , :turn => i%> 
<% end %>

<br /><br />

<%= link_to '新規イベント登録', :action => 'new' %>
