<h1>太元 v<%= TaigenController::VERSION %> <%= "（定義Rev=#{@rev}）" if @rev%> </h1>
<%= javascript_tag :defer => 'defer' do %>
    function insert_condition_enabler_directive(condition){
//      $('source').value = "＃！有効条件："+condition + "\n"+$F('source')
      $('#source').val( "＃！有効条件："+condition + "\n"+ $('#source').val());
    }
<% end %>
  <%= form_tag :action => 'update' , :id => @rev do %>
  <%= text_area_tag :source ,h(@source),:rows => 20 ,:cols=>100 %> <br/>
  <%= hidden_field_tag(:revision , @rev) if @rev %>
  <% if params[:download] %>
 出力結果（<%= "#{Time.now.strftime('%Y/%m/%d %H:%M')} 作成" %>）
　　<% else %>
     <%= submit_tag '分析' %>
     <label for='do_break'>
       <%= check_box_tag :do_break%> 評価まとめを全て改行表示
     </label>

     <label for='download'>
　　    <%= check_box_tag :download%> 出力結果をダウンロード
     </label>
   <% end %>
<% end %>

<%
  @hints += @exceptions if @exceptions
%>

<% if @hints.size > 0 %>
<pre>
<%= @hints.collect{|str|auto_link(str){'[詳細]'}}.join("\n")  -%>
</pre>
<% end %>

<% if @troop
     @errors = []
-%>
<%= troop_tag(@troop) %>
<%   if @errors.size > 0 -%>
<pre>
<%=    @errors.join("<br/>\n") %>
</pre>
<%   end %>
<% if @troop.children.size != 0
    #update_page_tag {|page|
    #  page[:cost_tab_content].replace_html( costs_tab_content(@troop) )
    #}
%>
    <%= javascript_tag "$('#cost_tab_content').html('#{ j costs_tab_content(@troop) }');" %>
<% end %>
<% end %>



<%= link_to '[更新履歴]' , Property['taigen_changelog_url'] %>
<%= link_to '[マニュアル]' , :action => :manual%>
<%= link_to '[その他ドキュメント]' , Property['taigen_documents_url'] %>
<%= link_to '[太元の障害・バグ報告はこちらへ]' , Property['echizen_support_url'] %>

<%  @link = '太元' %>
