<h1> 太元リファレンスマニュアル</h1>
<ul>
  <li> <a href="#description">太元書式の説明</a> </li>
  <li> <a href="#directives">計算に関する指定（太元ディレクティブ）</a></li>
  <ul>
    <li> <a href="#d1">＃！有効条件</a> （特殊の使用条件の指定）</li>
    <li> <a href="#d2">＃！部分有効条件</a>（複数の前提条件からなる特殊の一部条件のみを有効化する指定）</li>
    <li> <a href="#d3">＃！特殊無効</a>（特殊の無効化指定）</li>
    <li> <a href="#d4">＃！部隊補正</a>（本隊への補正指定） <font color="red">＃古い仕様の為、使用非推奨</font></li>
    <li> <a href="#d5">＃！個別付与</a>（任意のユニットに対するアイドレスの追加付与）</li>
    <li> <a href="#d6">＃！除外</a>（付与されたアイドレスの除外）</li>
    <li> <a href="#d7">＃！任意補正</a>（”任意の能力”に対する補正特殊の対象指定）</li>
    <li> <a href="#d8">＃！補正ＨＱ</a></li>
    <li> <a href="#d9">＃！消費削減ＨＱ</a></li>
    <li> <a href="#d10">＃！状況</a>（複数の有効条件等の組み合わせ定義）</li>
    <li> <a href="#d11">＃！評価派生</a>（複数の有効条件等の組み合わせによる、任意の評価の場合分け定義）</li>
    <li> <a href="#d16">＃！評価派生，一般評価（体格～幸運評価の派生）</a></li>
    <li> <a href="#d12">特定ユニット指定</a></li>
    <li> <a href="#d13">＃！評価無効</a>（任意の判定評価の評価まとめ出力を抑止）</li>
    <li> <a href="#d14">＃！編成種別</a>（軽・重編成及び多兵科混成の明示）</li>
    <li> <a href="#d15">＃！費用計上</a>（本隊以外で特殊の費用を計上すべき分隊の指定）</li>
  </ul>
  <li> <a href="#dp">オブジェクト定義パッチ</a></li>
  <li> <a href="#sp">特殊定義パッチ</a></li>
  <li> <a href="#ed">独自評価定義</a></li>
</ul>
<hr/>
<h2>太元書式の説明</h2>

<ul>
<li>VCC書式と前方互換性を持つ。</li>

<li>（ユニットタグ）国民名：人＋職業１＋職業２＋職業３＋職業４＋ＷＤ（：個人修正）（：判定修正）;
</li>

<li>ＶＣＣ書式との違い </li>
<ul>
  <li>職業アイドレス欄にアイテムや他者補正（「藩王の指揮」「王の契約による強化」「賢者の助言」等）を列挙できる。但し、通常、これらはアイテム欄（後述）に書くべきである。
  </li>
  <li>
    「判定修正」欄を記述できる。<strike>「白兵距離戦闘+１*情報戦闘+2」</strike> 「白兵戦+1*情報戦+2*防御（白兵距離）+1」等、太元で表示している評価の名称で記述する。<font color="red">(仕様変更しました)</font><br/>
    「判定修正」欄に評価の名称でなく行為名（”中距離戦闘行為+1”など）を書いた場合、関連する評価全て（攻撃・防御・移動）に加算される。
  </li>
  <li>
    「個人修正」欄において、「全評価+n」と書く事ができる。この場合、その歩兵・I=Dの全評価に＋ｎされ、部隊評価値に反映される。
  </li>
  <li>
    「判定修正」欄において、「全判定+n」と書く事ができる。この場合、その歩兵・I=Dの各行為評価に＋ｎされるが、<b>部隊評価値には反映されない。</b>
  </li>
  <li>
    「ユニットタグ」欄を任意に記述できる。通常は”（P）”、”（CP）”、”（騎）”、”（同）”等、ユニットの立場・役割のタグ付けとして使われる。<br/>
    上記４種類以外にも任意のタグを指定でき、そのタグ名は太元ディレクティブの対象指定に用いる事で、複数ユニットの一括指定ができる。
  </li>
  <li>
    個人修正欄・判定修正欄は省略可能。但し、個人修正欄を省略して判定修正欄を記述する場合は、「キャラ名：（アイドレス列挙）：：（判定修正）」のように、コロン二つを記述すること。

  </li>
  <li>部分コメントはVCCと同じく"/* ~ */"が使用できる。行末コメントはVCCと違い”//（行末まで）”　でなく、ｉ言語風に”＃”を使う。（"//"は下記の「条件指定」等機能で使われる。）
  </li>
  <li>編成表書式の所有アイテム欄を解釈する。歩兵定義行に続いて”－”から始まる行（「－（アイテム名）：（国有・個人所有）：（説明）」）が連続する場合、これを個人所有アイテム欄と見なす。例：
    <pre>
歩兵：北国人＋帝國軍歩兵＋偵察兵＋整備士;
－保育園の授業：国有：知識、評価＋２。
－個人取得ＨＱ根拠ＵＲＬ：ｘｘｘ</pre>
    この場合、歩兵定義行のアイドレス欄に「北国人＋帝國軍歩兵＋偵察兵＋整備士＋保育園の授業」と記述した場合と同じ扱いとなる。<br/>
    '－'の前に空白（半角・全角問わず）があっても良い。また、「個人取得ＨＱ根拠ＵＲＬ」とある場合はアイテムと見なさず、無視する。<br/><br/>
  </li>
  <li>乗り物のアイドレス名称は”ｔ：名称”欄ではなく、Ｌ：名を用いる。例：”Ａ８４　ＲＴＲ／リファイントモエリバー”ではなく、”ＲＴＲ"）</li>
  <li>所有アイテム欄は乗り物に対しても記述できる。機体オプションの記述などに利用できる。
    <pre>
_define_I=D:{
航空機：フェイクトモエリバー２,
－フェイクトモエリバー２のミサイル：ｘｘｘ
－フェイクトモエリバー２の増加燃料タンク：ｘｘｘ
（P）パイロット1：パイロット;
（CP）コパイ1：犬妖精;
（CP）コパイ2：犬妖精;
};
</pre>
    この場合、航空機のアイドレス欄に"フェイクトモエリバー２＋フェイクトモエリバー２のミサイル＋フェイクトモエリバー２の増加燃料タンク"と記述したのと同じ扱いとなり、ミサイルの中距離戦闘補正と増加燃料タンクの全能力－５補正が適用される。
  </li>
  <li><strong>分隊</strong>を定義できる。書式は例：
    <pre>
歩兵１：北国人＋帝國軍歩兵＋偵察兵＋整備士;
歩兵２：北国人＋帝國軍歩兵＋偵察兵＋整備士;
_define_I=D:{
チップ１：チップボール,
搭乗者:北国人+帝國軍歩兵+帝國軍歩兵+帝國軍歩兵
};

_define_division:{
歩兵分隊,
歩兵１;
歩兵２;
};

_define_division:{
チップボール分隊：藩王の指揮：感覚＋２：中距離戦+2,
チップ１;
};
    </pre>
　この場合、本隊の評価と別に、歩兵分隊・チップボール分隊の評価も出力される。また、チップボール分隊には部隊補正（後述の＃！部隊補正ディレクティブの項参照）
として「藩王の指揮：感覚＋２：中距離戦＋２」が加わる。
  </li>
  <li><strong>艦船</strong>・大型航空機等、「フルデータのない乗り物」を定義できる。I＝Dとほぼ書式は同じだが、冒頭は"_define_vessel"と記述する。例：
    <pre>
_define_vessel:{
１番艦_公用輸送騎士団所有：巨鐵級＋ＨＱ輸送量＋ＨＱ輸送量＋ＨＱ輸送量,
（Ｐ）乗員１：北国人＋テストパイロット＋帝國軍歩兵＋整備士２：知識+1*幸運+1 ；
（ＣＰ）乗員２：西国人＋整備士２＋整備士２＋バックシートの女房２＋ＳＨＱ知識；
（ＣＰ）乗員３：西国人＋整備士２＋整備士２＋バックシートの女房２＋ＳＨＱ知識；
};
    </pre>
    この場合、この編成は艦隊編成ルールに従って評価計算を行う。<strong>艦船とそれ以外の種類のユニットは同じ編成に混在できない。</strong>
  </li>
  <li><strong>兵員輸送車</strong>・装甲兵員輸送車・兵員輸送車のように、中の搭乗員の同調評価によってＲＤ合算ないし評価値毎の最大値選抜のどちらかを選ぶ場合、冒頭は"_define_career"と記述する。例：
    <pre>
_define_career:{輸送車１：兵員輸送車,
補給士官さん：高位西国人＋緊急投擲展開軍＋ウォードレスダンサー＋舞踏体+補給士官；
（銃手）銃手さん：愛の民＋名パイロット＋ホープ＋強化新型ホープ2；
－兵員輸送車の機関銃
兵隊さん１：愛の民＋サイボーグ＋歩兵；
兵隊さん２：愛の民＋サイボーグ＋歩兵；
兵隊さん３：愛の民＋サイボーグ＋歩兵；
};
    </pre>
    この場合、この編成は以下のルールに従って評価計算を行う。
    <ol>
      <li> 輸送車内でRD合算した場合の評価最大値 ＜ 同調評価*4-6　であるかどうかを確認する。同調が自動成功するようであれば、RD合算で装甲車の評価を算出する。さもなくば、搭乗者内での各評価最大値を選抜して使う。</li>
      <li> _define_careerで定義されたユニットは、装甲・偵察・追跡を除いた全判定評価において部隊評価のＲＤに加算しない。</li>
      <li> 2.項の例外として、”（銃手）”と搭乗者名の冒頭に記されたユニットがあった場合、中距離戦の評価合算にこの搭乗者の感覚・知識を用いる。</li>
    </ol>
  </li>
</ul>

</ul>

<h2><a name="directives" >計算に関する指定（太元ディレクティブ）</a></h2>
　編成データ内には、太元に対して評価計算に関する様々な指定を含める事ができる。これらの指定を「太元ディレクティブ」と呼ぶ。<br/>
　太元ディレクティブは'＃！'（全角）、'#!'（半角）、'//'（半角）のいずれかから始まる文字列である。<br/>
　太元ディレクティブを記述する事によって、特定条件下でのみ有効な特殊を計算に含める、部隊全体への補正を定義する等の指定が可能となる。
<dl>
  <dt><h3><a name="d1" >＃！有効条件 （特殊の使用条件の指定）</a></h3></dt>
  <dd>「＃！有効条件：（前提条件）」と記述する事で、歩兵・I=Dが持つ特殊のうち、前提条件を必要とする物について、計算時に有効と見なす。例：<br/>
  <pre>
＃！有効条件：元から情報戦闘行為ができる職業が行う場合での
32-00635-01_黒埼紘：東国人+ギーク+スペーススペルキャスター+宇宙の賢者+法官+電子妖精軍+高機能ハンドヘルド：敏捷+1*知識+4*幸運+1：情報戦+3；
  </pre>
高機能ハンドヘルドの特殊のうち、「　　＊高機能ハンドヘルドの情報戦闘補正　＝　，歩兵，条件発動，（元から情報戦闘行為ができる職業が行う場合での）情報戦闘、評価＋１。 」が有効となり、情報戦闘行為評価の計算で＋１補正が付く。<br/>
<br/>
「有効条件」を複数行記述した場合、それら全てが有効となる。例：<br/>
<pre>
＃！有効条件：＜藩王＞の指揮に関する ＃藩王の指揮
＃！有効条件：元から情報戦闘行為ができる職業が行う場合での　＃高機能ハンドヘルド
＃！有効条件：舞からの技術支援で　＃電子の女王
16-00306-01_フィーブル：高位西国人＋ハッカー＋ギーク＋藩王＋電子妖精＋電子の女王：敏捷+1*知識+1*幸運+1；
16-00307-01_戯言屋：高位西国人＋ハッカー＋ギーク＋摂政＋吏族＋高機能ハンドヘルド＋電子妖精＋電子の女王＋藩王の指揮：敏捷+1*知識+1*幸運+6；
</pre>

  </dd>

  <dt> <h3><a name="d2">＃！部分有効条件（複数の前提条件からなる特殊の一部条件のみを有効化する指定）</a></h3></dt>
  <dd> <p>「＃！部分有効条件：（前提条件の一部文字列）」と記述する事で、歩兵・I=Dがもつ特殊の前提条件のうち、一部のみを有効であると見なす。例：<br/>
  <pre>
＃！部分有効条件：ロケットパンチ
knight:ＦＥＧの騎士;</pre>
　　この場合、ＦＥＧの騎士の特殊の二つの前提条件（”ロケットパンチによる”、”｛白兵距離，近距離，中距離｝での”）のうち、”ロケットパンチ”という文字列が一部一致する前段の条件を有効と見なす。<br/>
「＊ＦＥＧの騎士のロケットパンチ戦闘補正　＝　，歩兵，条件発動，（ロケットパンチによる、｛白兵距離，近距離，中距離｝での）攻撃、評価＋３、燃料－１万ｔ。使用制限（戦闘中一度）。属性（ロケットパンチ戦闘）。」<br/>
　　このため、ＦＥＧの騎士が可能な白兵戦・近距離戦においてこの特殊の前提条件が全て有効となり、それぞれ評価+3される。
  </p></dd>

  <dt> <h3><a name="d3">＃！特殊無効（特殊の無効化指定）</a></h3></dt>
  <dd> <p>「＃！特殊無効：（特殊名）」と記述する事で、歩兵・I=Dがもつ特殊のうち、指定したものを無効と見なす。例１：<br/>
  <pre>
＃！特殊無効：高機能ハンドヘルドの情報戦闘補正 ＃第5世界ではマジックアイテムが使えない為
32-00635-01_黒埼紘：東国人+ギーク+スペーススペルキャスター+宇宙の賢者+法官+電子妖精軍+高機能ハンドヘルド：敏捷+1*知識+4*幸運+1：情報戦+3；</pre>
  この場合、アイテム等として「高機能ハンドヘルド」を記述しているが、計算結果にこの特殊は含まれない。</p></dd>

  <dt> <h3><a name="d4">＃！部隊補正（本隊への補正指定）</a></h3></dt>
  <dd> <font color="red">注意：”＃！部隊補正”の使用は非推奨（仕様が古く、＃！状況・＃！評価派生などに対応できていないため）です。（部隊修正）欄・（判定修正欄）がどうしても必要な時にのみ利用して下さい。</font><br/>
    「＃！部隊補正：アイドレス名１＋アイドレス名２...アイドレス名ｎ：（部隊修正）：（判定修正）」と記述することで、部隊全体に適用される特殊や修正を指定できる。<br/>
  　これらの補正は部隊内ユニットの個々のRD合算＞評価値変換の後、計算の最後に行われる。書式は太元書式の歩兵欄に倣う。（但し行末にセミコロン（’；’）は不要）<br/>
  　部隊補正のアイドレス名欄は、部隊全体を対象とする定義アイドレスを指定する場合（"チップボールの直接火力支援"等）に用いる。　例：

  <pre>
＃！部隊補正：チップボールの直接火力支援+チップボールの直接火力支援:体格+3:中距離戦+2
_define_I=D:{
チップ１：チップボール,
soldier1:北国人+帝國軍歩兵+帝國軍歩兵+帝國軍歩兵
};

_define_I=D:{
チップ２：チップボール,
soldier2:北国人+帝國軍歩兵+帝國軍歩兵+帝國軍歩兵
};

_define_I=D:{
チップ３：チップボール,
soldier3:北国人+帝國軍歩兵+帝國軍歩兵+帝國軍歩兵
};
  </pre>
  　この場合、部隊全体の中距離攻撃に2機分の”チップボールの直接火力支援”と、更に中距離攻撃評価に+2を与える事ができる。（チップボールの中距離攻撃は合計で+8までしか足せないため、このように記述する必要がある。）<br/>
  　また、部隊全体の評価のうち体格に更に＋３され、白兵戦評価の計算時に影響する。<br/>
 <font style="color : red">注意： </font>
　この指定は必ず部隊全員に適用できる特殊や補正に用いる事。"藩王の指揮"(藩王自身には補正を足せない）や、他国民が混在する部隊での”国歌”に使うと、評価値過大の原因となる。<br/>
　このようなケースでは後述の＃！個別付与を用いる事が望ましい。
  </dd>
  <dt> <h3><a name="d5">＃！個別付与（任意のユニットに対するアイドレスの追加付与）</a></h3></dt>
  <dd>「＃！個別付与：アイドレス名１＋アイドレス名２...アイドレス名ｎ：ユニット名」と記述することで、編成データにあるユニットに対し、更にアイドレスを付与できる。
    ユニット名は’｛’～’｝’で囲い、’，’で区切る事で、複数を指定できる。
    <pre>
＃！個別付与：藩王の指揮，｛32-00635-01_黒埼紘，32-sf001-xx_フェアリー１，ザ・グレート・エビゾー｝
＃！有効条件：＜藩王の指揮＞に関する

＃！個別付与：大型ＰＣ，｛32-00622-01_セントラル越前，32-00635-01_黒埼紘，32-sf001-xx_フェアリー１｝
＃！有効条件：位置づけ（情報系）の職業での

32-00622-01_セントラル越前：東国人＋藩王＋ギーク＋ネットワークエンジニア＋ＨＱ知識：知識+1*幸運+1;

32-00635-01_黒埼紘：東国人＋宇宙の賢者＋スペーススペルキャスター＋ネットワークエンジニア＋ＨＱ知識+吏族：敏捷+1*知識+4*幸運+1;

32-sf001-xx_フェアリー１：東国人＋ハッカー＋ギーク＋ネットワークエンジニア＋ＨＱ知識; 

_define_I=D:{
ザ・グレート・エビゾー：チップボール：体格+4/* Ｔ１５巨大工廠生産品につき */：白兵戦+2/* 王の特産品による強化 */,
32-00643-01_夜薙当麻：東国人＋軌道降下兵＋大剣士＋剣：敏捷+1*知識+1*幸運+1;
};</pre>
    この場合、藩王以外の３名に「藩王の指揮」を付与する。また、情報戦ができないチップボール以外の３名にのみ「大型ＰＣ」の効果を与える。<br/>
    ＃！部隊補正と違い、これらユニット個別に与えた付与は、別の分隊でも有効となる。
  </dd>
  <dt> <h3><a name="d6" >＃！除外（付与されたアイドレスの除外）</a></h3></dt>
  <dd>指定されたユニットについて、ユニット定義、ないし＃！個別付与で与えられたアイドレスを取り除く。「部隊の全ユニット、ただし藩王を除く」といった付与の仕方をしたい場合に使う。例：<br/>
    <pre>
＃！個別付与：藩王の指揮，全ユニット
＃！除外：藩王の指揮，king
＃！有効条件：＜藩王の指揮＞に関する

king:藩王;
soldier1:歩兵;
soldier2:歩兵;</pre>
　　この場合、soldier1・soldier2は「藩王の指揮」が有効となるが、kingでは無効となる。（一旦追加された後、取り除かれる）<br/>
　ユニット名は’｛’～’｝’で囲い、’，’で区切る事で、複数を指定できる。
  </dd>
  
  <dt> <h3><a name="d7" >＃！任意補正（”任意の能力”に対する補正特殊の対象指定）</a></h3></dt>
  <dd>「＃！任意補正：（特殊名称），（補正対象）」と記述することで、"任意の能力、評価＋ｎ”と記述される補正（学兵・生徒会役員・ドラッガー等）の特殊の補正対象を指定できる。<br/>
　　このディレクティブで指定できる補正対象は、一つの特殊に対して一つのみである。同じ特殊名称に対して複数の任意補正ディレクティブを記述した場合、一番最後の物のみが有効となる。<br/>
 　（本来のルールでは部隊内のユニットそれぞれに別の補正対象を選ぶ事を禁じていない。太元において部隊全員で補正対象を一つに限定されるのは太元の仕様に過ぎない）<br/>
 　「補正対象」に指定できる名前は以下の通り
  <ul>
    <li>基本評価（”体格”～”幸運”の９種類の評価名称）</li>
    <li>太元での評価名（”白兵戦”、”防御（近距離）”等）</li>
    <li>行為名（”中距離戦闘行為”等）：行為名を指定した場合、関連する評価（攻撃・防御・移動）全てに加算される。</li>
    <li>"装甲”：装甲（通常）、装甲（白兵距離～中距離）に加算される</li>
    <li>"全判定"：一般評価を除く全ての判定評価に加算される。</li>
  </ul>
  例：<br/>
  <pre>
＃！任意補正：生徒会役員の特殊補正,体格
＃！有効条件：戦闘においてＡＲ７以下の場合
＃！任意補正：学兵の特殊補正,白兵距離戦闘行為
＃！有効条件：順応性があるため
学生:学兵＋生徒会役員;
学生:学兵＋生徒会役員;</pre>
 　この場合、"生徒会役員の特殊補正"の評価＋２は体格に、”学兵の特殊補正”の評価＋１は白兵戦、装甲（白兵距離）、移動（白兵距離）に加算される。
  </dd>
  <dt> <h3><a name="d8"></a>＃！補正ＨＱ</h3></dt>
  <dd>ＨＱボーナスにより、評価に補正を与える特殊の補正値が通常より多い場合、”＃！補正ＨＱ：【補正特殊名称】，【ＨＱボーナス】”と書くことで計算に反映できる。例：
    <pre>
＃！部隊補正：電子妖精軍
＃！補正ＨＱ：電子妖精軍の情報戦闘補正，３

hacker:東国人＋ハッカー＋ギーク＋ネットワークエンジニア;</pre>
    この場合、部隊全体の情報戦評価が＋２３（２０（電子妖精軍）＋３（電子妖精軍のＨＱ））される。
  </dd>
  <dt> <h3><a name="d9"></a>＃！消費削減ＨＱ</h3></dt>
  <dd><p>編成コストを削減するアイドレスがＨＱボーナスによってその倍率が変化している場合、”＃！消費削減ＨＱ：【消費削減特殊名称】，【ＨＱ適用後の倍率】”と書くことで、ＨＱボーナスを反映できる。例：
    <pre>
＃！個別付与：海軍兵站システム，本隊
＃！消費削減ＨＱ：海軍兵站システムの燃料消費削減，１８％　＃宰相府の海軍兵站システムＨＱを適用
</pre>
    この場合、海軍兵站システムは本来の７５％削減から１８％に定義を上書きされる。
    </p>
    <p>
      【ＨＱ適用後の倍率】には数式を指定してもよい。その場合、数式の計算結果で倍率が上書きされる。

    <pre>
＃！個別付与：陸軍兵站システム，本隊
＃！消費削減ＨＱ：陸軍兵站システムの食料消費削減，７５％＊７５％＊７５％　＃リワマヒ国の陸軍兵站システムＨＱ。ＨＱ継承が２回。
</pre>
    </p>
  </dd>
  <dt> <h3><a name="d10">＃！状況（複数の有効条件等の組み合わせ定義）</a></h3></dt>
  <dd>補正特殊を適用できる条件が複数あって評価値の場合分けが必要な場合、”＃！状況：【状況名】”と書く事で、
    それ以降に書かれる＃！有効条件・＃！部分有効条件・＃！特殊無効・＃！個別付与・＃！除外・＃！提出抑止は、特定の状況においてのみ有効であると見なされる。
    これは新たに別の＃！状況、又は＃！評価派生を書くまで続く。
    例：
  <pre>
＃！有効条件：パイロットとして搭乗している場合での
_define_I=D:{
航空機：フェイクトモエリバー２,
pilot：北国人＋名パイロット＋舞踏子＋魔術的舞踏子
}；

＃！状況：戦闘時
＃！部分有効条件：戦闘する場合での

＃！状況：イケメンｓを守る
＃！有効条件：｛＜ヤガミ＞，＜ドランジ＞，＜アキ＞｝を守る場合での

＃！状況：戦闘時にイケメンｓを守る
＃！部分有効条件：戦闘する場合での
＃！有効条件：｛＜ヤガミ＞，＜ドランジ＞，＜アキ＞｝を守る場合での  </pre>
 　この場合、全ての状況において「パイロットとして搭乗している場合での」という条件を有効としつつ、
  戦闘時・ヤガミ等を守る場合・戦闘時かつヤガミ等を守る場合の３つの状況を別に定義できる。太元はそれぞれの状況毎に評価計算を行う。<br/>
  <p>
    ”＃！状況”より以前に書かれた有効条件等は、全て”（基本）”状況に属すると見なされる。<br/>
    また、”（基本）”状況に属する有効条件等は、その他の状況全てにおいても有効となる。<br/>
    （特定状況下で特殊を無効としたい場合は、＃！特殊無効で個別に無効化する必要がある）
  </p>

  <p>
    ”＃！状況：【状況名】，｛【分隊名１】，...，【分隊名ｎ】｝”と書いた場合、特定の分隊でのみ有効な状況を定義できる。例：
  <pre>
soldier1:歩兵；
_define_I=D:{チップ：チップボール,
soldier:歩兵＋名パイロット；
};

＃！状況：戦闘時，｛本隊，チップ分隊｝
＃！部分有効条件：戦闘する場合での

_define_division:{歩兵分隊，soldier};
_define_division:{チップ分隊,チップ};
  </pre>
　この例では、名パイロットが歩兵分隊に含まれておらず、「＃！部分有効条件：戦闘する場合での」を適用する意味がない。このため、本隊とチップ分隊にのみ「戦闘時」状況を定義している。<br/>
  このように＃！状況の定義を最小限に抑えることで、太元の処理時間を短縮できる場合もある。
  </p>

  <p>
    ”＃！状況：【分隊名】”と書いた場合、特定の分隊でデフォルトとして有効な状況を定義できる。例：
  <pre>
＃！個別付与：名指揮官の指揮，全隊員
＃！有効条件：名指揮官の指揮下での

＃！状況：【本隊】
＃！除外：名指揮官の指揮，指揮官１

＃！状況：【分隊１】
＃！除外：名指揮官の指揮，指揮官１

＃！状況：【分隊２】
＃！除外：名指揮官の指揮，指揮官２

指揮官１：東国人＋名指揮官；
指揮官２：東国人＋名指揮官；
下っ端１：東国人＋龍の使い；
下っ端２：東国人＋龍の使い；

_define_division:{【分隊１】，
指揮官１，
下っ端１
}；

_define_division:{【分隊２】，
指揮官２，
下っ端２
}；
  </pre>
　この例では、本隊及び分隊１では指揮官１を、分隊２では指揮官２を指揮官として扱っている（＝名指揮官の指揮を除外している）。<br/>
 これらの分隊状況の指定内容は、（基本）状況と共にその分隊におけるデフォルトの条件指定としてみなされ、個々の状況指定時にも継承される。
  </p>
  
  </dd>
  <dt> <h3><a name="d11">＃！評価派生（複数の有効条件等の組み合わせによる、任意の評価の場合分け定義）</a></h3></dt>
  <dd> 補正特殊を適用できる条件が複数あり、それが一部の評価値にのみ影響する事が明白な場合は、＃！状況ではなく
”＃！評価派生：【状況名】，【評価名】”と書く事で、特定評価にのみ別の状況を指定する事ができる。
これは新たに別の＃！状況、又は＃！評価派生を書くまで続く。例：
  <pre>
soldier:歩兵；

＃！評価派生：絶技使用時，装甲
＃！個別付与：一人は皆の為に皆は一人の為に，全ユニット
＃！有効条件：この絶技を使用した場合</pre>
　この場合、装甲評価の後に「（絶技使用時）装甲：ｎ」等と表示され、通常時の評価とは別に「＃！評価派生：絶技使用時，装甲」後のディレクティブ２行を適用した場合の装甲評価を出力する。<br/>
　なお、【評価名】に「装甲」と記述した場合は、装甲（通常）～装甲（中距離）等の全ての装甲評価それぞれにまとめて指定した扱いとなる。<br/>
  </dd>
  <dt> <h3><a name="d16">＃！評価派生，一般評価（体格～幸運評価の派生）</a></h3></dt>
  <dd> 全判定補正（”全判定、評価＋ｎ。”形式）あるいは全能力補正（”全能力、評価＋ｎ。”形式）は一般評価を含む全判定評価に影響する。
    しかし、部隊単位で与える全判定補正はどの判定評価においても上昇幅は＋ｎ固定であり、このために＃！状況タブを増やすのは冗長である。<br/>
    　このような場合、”＃！評価派生：【状況名】，一般評価”と書く事で、評価まとめに”※【状況名】：全評価+ｎ”と出力させる事ができる。例：
  <pre>
soldier:歩兵＋未来予知能力者２；

＃！個別付与：未来予知能力者２の予知，【本隊】

＃！評価派生：未来予知有効時，一般評価
＃！有効条件：＜未来予知能力者２＞と同じ部隊にいる場合
  </pre>
　　出力内容：    
  <pre>＜本隊＞
体格：筋力：耐久力：外見：敏捷：器用：感覚：知識：幸運
7：7：8：8：8：6：11：10：11 
装甲（通常）：7
魅力：9
近距離戦：8
中距離戦：12
遠距離戦：10
侵入（敏捷・器用）：7 / 侵入（幸運）：11
追跡（感覚）：11 / 追跡（幸運）：11
偵察：11
隠蔽：11
陣地構築（筋力）：7 / 陣地構築（知識）：10
歌唱：9


○同調
soldier：8


※未来予知有効時：全評価+3</pre>
  
  　　なお、”＃！評価派生：○○，一般評価”以降で有効化した補正が部隊単位の一律で加算されない場合、一般評価それぞれで上昇幅が異なるため、「全評価＋ｎ」といった形では記述できない。<br/>
    このような場合は太元が自動で判断し、体格～幸運を出力しなおす。<br/>例：
    <pre>黒埼：東国人＋文殊開発者；
妖精さん：琥珀の民＋ハイギーク＋ネットワークエンジニア；

＃！評価派生：調べ物時，｛一般評価，情報戦｝
＃！有効条件：調べ物での</pre>
    出力内容：
    <pre>＜本隊＞
体格：筋力：耐久力：外見：敏捷：器用：感覚：知識：幸運
19：12：17：14：22：28：14：32：12 
装甲（通常）：18
魅力：23
情報戦：32 / （調べ物時）情報戦：43
オペレート：14
侵入（敏捷・器用）：25 / 侵入（幸運）：12
追跡（感覚）：14 / 追跡（幸運）：12
偵察：14
隠蔽：12
陣地構築（筋力）：12 / 陣地構築（知識）：32
歌唱：23


○同調
妖精さん：14


（調べ物時）
体格：筋力：耐久力：外見：敏捷：器用：感覚：知識：幸運
25：23：32：23：26：43：18：44：30</pre>
    なお、上記のように一行の＃！評価派生で、一般評価と任意の判定評価を同時に指定することもできる。<br/>
    
    <p>
      一般評価それぞれで上昇幅が異なる場合、「ｌ：一般評価派生での差分値表示　←　有効」という一行を先頭（＃！評価派生・＃！状況より前）に記述することで、個々の一般評価の差分値を表示する事ができる。
      <br/>例：
    <pre>ｌ：一般評価派生での差分値表示　←　有効

黒埼：東国人＋文殊開発者；
妖精さん：琥珀の民＋ハイギーク＋ネットワークエンジニア；

＃！評価派生：調べ物時，｛一般評価，情報戦｝
＃！有効条件：調べ物での</pre>
   出力内容：
    <pre>（前略）
（調べ物時）
体格：筋力：耐久力：外見：敏捷：器用：感覚：知識：幸運
25：23：32：23：26：43：18：44：30
(+6：+11：+15：+9：+4：+15：+4：+12：+18)</pre>
      全判定補正のうち、あえて上昇幅の高いものを取捨選択することで編成表記載の評価を簡素化したい場合に有用である。
    </p>
    
  </dd>

  <dt><h3><a name="d12">特定ユニット指定</a></h3></dt>
  <dd><p>一部のディレクティブは、最後の省略可能な引数として、対象のユニット指定を追加できる。対応するディレクティブは＃！有効条件、＃！部分有効条件、＃！特殊無効、＃！任意補正、＃！個別付与、＃！除外の６種類。
<br/>
      「＃！特殊無効：（特殊名），ユニット名」などと同時にユニットの名前を記述する事で、特定のユニットだけを対象に指定することができる。例：
  <pre>
＃！部分有効条件：３人セット
＃！特殊無効：ＦＯの偵察時感覚補正，xx-xxxxx-xx_fo4  ＃ＦＯの特殊は３人セットでのみ使えるため、余った人の特殊は無効とする。
＃！特殊無効：ＦＯの中距離戦闘補正，xx-xxxxx-xx_fo4
xx-xxxxx-xx_fo1：ＦＯ；
xx-xxxxx-xx_fo2：ＦＯ；
xx-xxxxx-xx_fo3：ＦＯ；
xx-xxxxx-xx_fo4：ＦＯ；</pre>

    「＃！特殊無効：（特殊名），｛ユニット名１，ユニット名２，……，ユニット名ｎ｝」と、’｛’～’｝’で囲むことで複数を指定することもできる。例２：
  <pre>
＃！部分有効条件：３人セット，｛xx-xxxxx-xx_fo1，xx-xxxxx-xx_fo2，xx-xxxxx-xx_fo3｝
xx-xxxxx-xx_fo1：ＦＯ；
xx-xxxxx-xx_fo2：ＦＯ；
xx-xxxxx-xx_fo3：ＦＯ；
xx-xxxxx-xx_fo4：ＦＯ；
xx-xxxxx-xx_fo5：ＦＯ；</pre>
    ユニット名には、 実際のユニット名の他、以下の名称を記述できる。
    <ul>
      <li><b>_define_division で定義した分隊名</b>：分隊単位で効力を持つ。</li>
      <li><b>ユニットタグで定義したタグ名</b>：同名のタグを指定した全ての歩兵及び乗り物への指定と見なす。</li>
      <li><b>全ユニット</b>：本隊に属する全ての歩兵、および乗り物への指定と見なす。</li>
      <li><b>全隊員</b>：本隊に属する全ての歩兵、および乗り物の搭乗員への指定と見なす。</li>
    </ul>
  </p>
  </dd>
  <dt> <h3><a name="d13">＃！評価無効（任意の判定評価の評価まとめ出力を抑止）</a></h3></dt>
  <dd>”＃！評価無効：【評価名】”と書く事で、対象の評価を「評価まとめ」タブでの出力から取り除くことができる。（ただし、「判定評価詳細」タブには出力される。）<br/>
    太元のバグ・質疑回答を受けてのルール解釈変更等の理由で、太元が本来のルールに反する評価を出力してしまう、または太元の仕様とは異なる編成意図を持つ場合に用いる。例：
    <pre>
soldier:警官＋剣士＋黒騎士；

＃！評価無効：近距離戦

＃！評価派生：射撃での，近距離戦
＃！特殊無効：黒騎士の近距離戦闘補正

＃！評価派生：白兵武器での，近距離戦
＃！特殊無効：警官の近距離戦闘補正</pre>
 通常は黒騎士の補正無効化を明示し、低物理域では警官の補正を無効化することで、それぞれの補正を使い分けることができる。
  </dd>
  <dt> <h3><a name="d14" >＃！編成種別（軽・重編成及び多兵科混成の明示）</a></h3></dt>
  <dd>”＃！編成種別：軽編成”ないし”＃！編成種別：軽編成”と書く事で、部隊の編成コスト計算時の倍率を明示する。<br/>
    "＃！編成種別：重編成，多兵科混成"とした場合、本隊だけでなく全分隊で使われた補正特殊のコストも計上する。（分隊時に３兵科以上に分かれるケースに対応する）
  </dd>
  <dt> <h3><a name="d15" >＃！費用計上（本隊以外で特殊の費用を計上すべき分隊の指定）</a></h3></dt>
  <dd>”＃！費用計上：【分隊名】”ないし”＃！費用計上：｛【分隊名１】，【分隊名２】，……，【分隊名ｎ】｝ ”と書く事で、編成費用の計算時に特殊の費用を計上すべき分隊を明示できる。<br/>
    通常、編成費用は本隊の可能行為に基づいて使用される特殊の費用のみ計上されるが、常時搭乗宣言を行わず、降車した分隊の可能行為も費用に計上すべき場合等に用いる。
    <pre>
＃！費用計上：【降車分隊】

soldier1：高位西国人＋帝國軍歩兵＋チューニングマスター＋名整備士;
soldier2：高位西国人＋帝國軍歩兵＋チューニングマスター＋名整備士;

_define_division:{【降車分隊】，
soldier1,
soldier2
｝；
    </pre>
    　この場合、【降車分隊】で必要な整備補正の燃料消費についても編成コストに計上される。
  </dd>
</dl>
<h2><a name="dp">オブジェクト定義パッチ</a></h2>
　編成データ内にオブジェクトの形式化定義（新書式によるＬ：）を記述すると、サーバーに登録されていないオブジェクト定義を編成データ内で利用できる。また、同名のオブジェクト定義があった場合、これを上書きして扱う。<br/>
　「オブジェクト定義の新規開示がサーバーに反映されていない」、「オブジェクト定義の新書式にバグがある」、「最新の質疑によりオブジェクト定義の解釈が変更されている」等のケースで利用できる。例：
<dl><dd>
 <pre>
soldier:歩兵;
－カトラス

Ｌ：カトラス　＝　｛
　ｔ：名称　＝　カトラス（アイテム）
　ｔ：要点　＝　長い，曲がった，格好いい
　ｔ：周辺環境　＝　手
　ｔ：評価　＝　なし
　ｔ：特殊　＝　｛
　　＊カトラスのアイテムカテゴリ　＝　，，着用型アイテム。
　　＊カトラスの位置づけ　＝　，，｛武器，兵器｝。
　　＊カトラスの着用箇所　＝　，，片手持ち武器。
　　＊カトラスの形状　＝　，，剣。
　　＊カトラスの白兵距離戦闘補正　＝　歩兵，条件発動，（白兵距離での）攻撃、評価＋２。
＃2009/11/15現在、なぜか前提条件が"（射撃としての白兵距離での）"となっているバグへの対策パッチ
　｝
　ｔ：→次のアイドレス　＝　シーアックス（アイテム），剣技（技術），海の戦士（職業），装飾カトラス（アイテム）
｝ </pre>

  </dd>
</dl>

<h2><a name="sp">特殊定義パッチ</a></h2>
　”ｌ：＊【特殊定義書式】”と記述する事で、既存のアイドレス定義の特殊を一時的に上書きすることができる。
<dl>
  <dd>
   <pre>
ｌ：＊吟遊詩人の歌唱補正　＝　，条件発動，歌唱、評価＋４、燃料－２万ｔ。

とある詩人：詩歌の民＋蛇神の僧侶＋吟遊詩人＋摂政＋大神官＋ＨＱ知識；</pre>
  </dd>
</dl>

    この場合、元々の定義である「＊吟遊詩人の歌唱補正　＝　，条件発動，歌唱、評価＋４、燃料－２万ｔ。７５％制限。」から７５％制限を取り除いた特殊定義で上書きする。<br/>

    <p>
    左辺の特殊名称（”＊”　から　”＝”まで）が既存の特殊定義に存在した場合、同盟の特殊定義を上書きする。<br/>
    左辺の特殊名称のうち、アイドレス名までが既存でその後がどの定義とも一致しない場合、新規の特殊を一つ追加で定義したものと見なす．<br/>
    左辺の特殊名称のうち、アイドレス名部分に既存の定義が存在しない場合、エラーとなる。</p><br/>
<h2><a name="ed">独自評価定義</a></h2>
　太元にて実装されていない評価の定義を、その場限りで追加できる。書式は以下の通り。
 <pre>
Ｌ：評価定義（【評価名称】）　＝　｛
　ｌ：引数　＝　【引数】
　ｌ：補正対象　＝　【補正対象】
　ｌ：補正使用条件　＝　【補正使用条件】
　ｌ：補正除外条件　＝　【補正除外条件】
　ｌ：評価分類　＝　【評価分類名】
　ｌ：行為分類　＝　【可能行為名】
　ｌ：評価対象条件　＝　【評価対象条件】
　ｌ：評価除外条件　＝　【評価除外条件】
｝</pre>
<dl>
  <dt>【評価名称】</dt>
  <dd>
    この評価の名称。太元の定義済み評価名と重複してはならない。
  </dd>
  <dt>【引数】</dt>
  <dd>
    この評価計算で用いる能力の名称。一種類の場合は「幸運」、２種類の場合は「｛体格，筋力｝」等と記述する。
  </dd>
  <dt>【補正対象】</dt>
  <dd>
    この評価に加算する補正を抽出する際の条件となる、特殊定義の補正対象欄。「攻撃」「防御」など。
  </dd>
  <dt>【補正使用条件】</dt>
  <dd>
   この評価に加算する補正を抽出する際の条件となる、特殊定義の補正使用条件。一種の場合は「白兵距離での」、複数ある場合は「｛射撃戦による，近距離での｝」等と書く。<br/>
   特に補正使用条件がない場合は「なし」と書く。
  </dd>
  <dt>【補正除外条件】</dt>
  　省略可能。補正除外条件として補正特殊名を記述することで、その補正特殊はこの評価に決して加算されなくなる。複数ある場合は”｛”と”｝”で囲み、”，”で区切る事で複数指定できる。”，”の前後には改行を含める事ができる。<br/>　
    補正特殊名ではなく、特殊の定義に含まれる一部の文字列のみを指定する事もできる。この場合、特殊の定義に一部一致するもの全てが加算から除外される。
  <dd>
  </dd>
  <dt>【評価分類名】</dt>
  <dd>
    省略可能。「装甲」「移動」「治療」等と書く事で、従来からある評価分類に属するよう指定できる。
  </dd>
  <dt>【可能行為名】</dt>
  <dd>
    省略可能。指定されていた場合、部隊がその行為を可能とする場合にのみ、評価を有効と見なす。省略された場合は原則として評価を出力し、部隊が評価計算に必要な能力値を持たない場合は省略する。
  </dd>
  <dt>【評価対象条件】</dt>
  <dd>
    省略可能。指定されていた場合、【評価対象条件】と合致するユニットのみをRD合算の対象とする。以下の仕様に従う。<br/>
    <ul>
      <li>一つ、もしくは配列による複数の記述が可能。 （【引数】の例に同じ）</li>
      <li>編成データ内に定義されたユニット名称と一致する場合、そのユニットを評価対象とみなす。</li>
      <li>ユニット名称と一致しない文字列の場合、その文面を含む特殊を持つユニット全てを対象とみなす。 </li>
    </ul>
  </dd>
  <dt>【評価除外条件】</dt>
  <dd>
    省略可能。指定されていた場合、【評価除外条件】と合致するユニットをRD合算の対象から除く。書き方は評価対象条件に同じ。<br/>
  </dd>
  <dt>例：住宅の住みやすさを計算させる。</dt>
  <dd>
 <pre>
Ｌ：評価定義（住みやすさ）　＝　｛
　ｌ：引数　＝　住みやすさ
　ｌ：補正対象　＝　住みやすさ
　ｌ：補正使用条件　＝　なし
｝

住宅：エンジニアの家；
－冷蔵庫
－床暖房</pre>
  </dd>
</dl>

<%  @link = '太元' %>