<%= form_tag :action => 'update' do %>
<%= text_area_tag :source ,@source,:rows => 20 ,:cols=>100 %> <br/>
  <%= submit_tag '分析' %>
<% end %>

<%= inspect_children(@troop) if @troop %>

<p>
<%= actions_text(@troop) if @troop%>
</p>

<% unless @troop %>
<pre>
<%= @result if @result %>
</pre>
<% end  %>

<%  @link = '太元' %>