<h1>オブジェクト定義一覧</h1>

<%= link_to('[新規登録]', new_object_definition_path ) if has_role?(:item_officer) %> <br /><br />

<% definition_groups = @object_definitions.group_by(&:object_type)
 type_names = definition_groups.keys.sort{|a,b| a.to_s <=> b.to_s}

 for type_name in type_names
%>
<%= link_to "[#{type_name}]" , :anchor => type_name %>
<% end %>

 <%
 for type_name in definition_groups.keys.sort{|a,b| a.to_s <=> b.to_s}
   definitions = definition_groups[type_name]
%>
<h2><%= content_tag(:a , type_name , :name => type_name)%></h2>
<table>
  <!--<tr>-->
    <th> ｉ３ </th></th><th>名称</th> <th>ふりがな</th>
  </tr>

<% for object_definition in definitions.sort_by{|odef|odef.hurigana.to_s} %>
  <tr>
    <td> <%= object_definition.is_idress3? ? '○' : '' %></td>
    <td><%=h object_definition.name %></td>
    <td><%=h object_definition.hurigana.to_s %></td>
    <td><%=link_to '[図鑑]',zukan_url(object_definition) %></td>
    <td><%=link_to '[所有者]',:action => :owners , :id => object_definition %> </td>
    <td> <%=link_to '(wiki書式)',:action => :owners_for_wiki , :id => object_definition  if has_role?(:item_officer) %></td>
    <td><%= link_to '詳細', object_definition_path(object_definition) %></td>
<% if has_role?(:item_officer) -%>    
    <td><%= link_to '編集', edit_object_definition_path(object_definition) %></td>
    <td><%= link_to '削除', object_definition_path(object_definition), :confirm => "#{object_definition.name}を削除します。よろしいですか？", :method => :delete %></td>
<% end  %>
  </tr>
<% end %>
</table>
<br />
<% end  %>
<br />


