<h1>新規オブジェクト定義</h1>

<%= error_messages_for :object_definition %>

<%= form_for(@object_definition) do |f| %>
  <p>
    <b>名称</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>ふりがな</b><br />
    <%= f.text_field :hurigana %>
  </p>

  <p>
    <b>オブジェクト種別</b><br />
    <%= f.text_field :object_type %>
  </p>
  <p>
    <b>定義</b><br />
    <%= f.text_area :definition ,:cols => 100%>
  </p>

  <p>
    <b>アイテム図鑑上の定義へのURL</b><br />
    <%= f.text_field :zukan_definition_url ,:size => 100 %>
  </p>

  <p>
    <b>特殊定義</b>（将来廃止予定：評価修正がある場合に別途記述）<br />
    <%= f.text_area :specialty_definition , :cols => 100,:rows => 5 %>
  </p>
  
  <p>
    <%= f.submit "登録" %>
  </p>
<% end %>

<%= link_to '[戻る]', object_definitions_path %>
