<% if @object_definition.nil? %>

<% return
  end %>

<h2><%= @object_definition.name %>  （<%= h @object_definition.hurigana %> ）</h2>

<h2>保有国一覧</h2>
<textarea rows=20 cols=100>
|藩国名|入手履歴|保有者|使用履歴|現在所持数|
<%  nations ,nations_keys ,owners= sort_by_nations_and_aces(@object_definition) 
   for nation in nations_keys
     nation_header = (nation === Nation ) ? "|[[#{nation.name}]]|" : "|[[ACE>ACE所持アイテムリスト]]|" -%>
<% for owner in nations[nation].sort_by{|o|o.id} 
  registries = owners[owner] -%>
<%= nation_header -%>
<%= got_items_for_wiki(registries) %>|<%= owner.owner.name %>|<%=used_items_for_wiki(registries)%>|<%=registries.sum{|o| o.number.to_i }%>|
<%  nation_header = "|~|" 
     end -%>
<% end -%>
</textarea>
<% @link = link_to @object_definition.name + '保有国(wiki書式)' , params[:name] ? {:name => params[:name]}  : {:id => params[:id] }%>