<% if @object_definition.nil? %>

<% return
  end %>

<h2><%= @object_definition.name %>  （<%= h @object_definition.hurigana %> ）</h2>

<%=link_to '(wiki書式)',:action => :owners_for_wiki , :id => @object_definition  if has_role?(:item_officer) %>

<h2>保有国一覧</h2>
<table border=1>
  <tr>
    <th>藩国名</th><th>入手履歴</th><th>保有者</th><th>使用履歴</th><th>所持数</th>
  </tr>
<% nations ,nations_keys ,owners= sort_by_nations_and_aces(@object_definition) 
   for nation in nations_keys #.keys %>
  <tr>
      <%= raw "<td rowspan=#{nations[nation].size}>"  %>
      <%= case nation
      when Nation
             link_to nation.name ,:controller => :nations , :action => :items_by_nation , :id => nation 
      when Ace
        link_to '(ＡＣＥ)' , aces_path
      else
      end %> </td>
    <% for owner in nations[nation].sort_by{|o|o.id} %>
    <td><%=
 #owners[owner].select{|r| r.number.to_i > 0}.collect{|r| lf2br(url2link(r.note,'[参照]'))}.join(" <br/>\n")
   got_items(owners[owner])
%></td>
    <td><% if owner.owner.nil? -%>
<%= link_to '(所持者情報なし)' , owner_account_object_registries_path(owner)%>
        <% else -%>
<%= link_to owner.owner.name , owner_account_object_registries_path(owner) %>
        <% end %>
    </td>
    <td><%=
#owners[owner].select{|r| r.number.to_i <= 0}.collect{|r| lf2br(url2link(r.note,'[参照]'))}.join(" <br/>\n")
    used_items(owners[owner])
%></td>
    <td><%=owners[owner].sum{|o| o.number.to_i } %> </td>
  </tr>
  <tr>
    <% end %>
  </tr>
<% end %>
</table>

<% @link = link_to @object_definition.name + '保有国' , params[:name] ? {:name => params[:name]}  : {:id => params[:id] }%>