<p>
  <b>名称</b>
  <%=h @object_definition.name %> （<%= h @object_definition.hurigana %>）
</p>

<p>
  <b>オブジェクト種別</b> 
  <%= @object_definition.object_type.blank? ? '（なし）'  : @object_definition.object_type %>
  <%= if @object_definition.is_idress3?
        '：アイドレス３形式定義'
      elsif @object_definition.is_command_resource?
        '：単体コマンドリソース定義'
      end
  %>
</p>

<p>
  <b>定義:</b><br/>
<blockquote>
<%=to_note_str @object_definition.definition %>
</blockquote>
</p>

<% if @object_definition.is_idress3? || @object_definition.is_command_resource? %>
<p>
  <b> コマンドリソース書式 </b>
  <ul>
  <% for cr in @object_definition.parsed_command_resources %>
    <li> 【<%=cr[:name] %>：<%= cr[:power] %>：<%= cr[:tag] %>】</li>
  <% end %>
  </ul>
</p>
<% end %>

<%= link_to_if has_role?(:item_officer), '編集', edit_object_definition_path(@object_definition) %> |
<%= link_to '戻る', object_definitions_path %>

<% @link = link_to @object_definition.name %>