<% if @command_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@command_resource.errors.count, "error") %> prohibited this command_resource from being saved:</h2>

      <ul>
      <% @command_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <label for="command_resource_definition">定義：</label>  <%= text_field_tag(:definition ,'' , :size => 80) %>
  </p>

  <p>
    <label for="command_resource_name">名称</label><br/>
    <%= f.text_field 'name' ,:size=>40 %>
  </p>

  <p>
    <label for="command_resource_power">パワー</label><br/>
    <%= f.text_field 'power' ,:size=>5 %>
  </p>

  <p>
    <label for="command_resource_tag">タグ</label><br/>
    <%= f.text_field 'tag' ,:size=>20 %>
  </p>


<p>
    <label for="command_resource_category">カテゴリ</label><br/>
    <%= f.text_field 'category' ,:size=>40 %>
  </p>

  <p>
    <label for="command_resource_authority_url">取得根拠URL</label><br/>
    <%= f.text_field 'authority_url' ,:size=>60 %>
  </p>

  <p>
    <label for="command_resource_note">備考</label><br/>
    <%= f.text_area 'note' ,:size=>"80x8" %>
  </p>

