<h2>コマンドリソースの編集</h2>

<%= form_for(@command_resource , :url=> owner_account_command_resource_path(@owner_account , @command_resource) , method: :put) do |f| %>
<%= render partial: 'form' , locals: {f: f} %>
    <div class="actions">
      <%= f.submit '更新' %>
    </div>
<% end %>
<%= link_to '[詳細]', owner_account_command_resource_path(@owner_account , @command_resource) %> |
<%= link_to '[一覧に戻る]', owner_account_command_resources_path(@owner_account) %>
<% @link = link_to '編集' %>