<h2><%= @owner_account.owner.name%>：コマンドリソース一覧</h2>

<table class="tablesorter">
  <tr>
    <th>名称</th>
    <th>パワー</th>
    <th>タグ</th>
    <th>由来</th>
  </tr>

<% @command_resources.each do |command_resource| %>
  <tr>
    <td <%= 'style="text-decoration:line-through;"'.html_safe unless command_resource.available? %> > <%= command_resource.name %></td>
    <td <%= 'style="text-decoration:line-through;"'.html_safe unless command_resource.available? %> ><%= command_resource.power %></td>
    <td <%= 'style="text-decoration:line-through;"'.html_safe unless command_resource.available? %> ><%= command_resource.tag %></td>
    <td><%= source_link_to command_resource %> </td>
    <td><%= link_to '[詳細]', owner_account_command_resource_path(@owner_account , command_resource) %></td>
    <% if has_role?(:monju_maintainer) %>
    <td><%= link_to '[編集]', edit_owner_account_command_resource_path(@owner_account,command_resource) %></td>
    <td><%= link_to '[削除]', owner_account_command_resource_path(@owner_account , command_resource), method: :delete, data: { confirm: "#{command_resource.to_form}\nを削除します。よろしいですか？" } %></td>
    <% end %>
  </tr>
<% end %>

  <% @converted_resources.each do |command_resource| %>
      <tr>
        <td> <%= command_resource.name %></td>
        <td><%= command_resource.power %></td>
        <td><%= command_resource.tag %></td>
        <td><%= link_to "コンバート：#{ command_resource.from }" , owner_account_unit_registry_path(command_resource.owner_account , command_resource.source) %></td>
        <td><%= link_to '[詳細]', owner_account_command_resource_path(@owner_account , command_resource) %></td>
      </tr>
  <% end %>

  <% @inherited_resources.each do |command_resource| %>
      <tr>
        <td> <%= command_resource.name %></td>
        <td><%= command_resource.power %></td>
        <td><%= command_resource.tag %></td>
        <td>波及：<%= command_resource.from %></td>
        <td><%= link_to '[詳細]', owner_account_command_resource_path(command_resource.owner_account , command_resource) %></td>
      </tr>
  <% end %>


</table>

<br />

<%= link_to '[新規追加]', new_owner_account_command_resource_path(@owner_account) %>
<% @link = '' %>