<h2>コマンドリソースの新規登録</h2>

<%= form_for(@command_resource , {url:  owner_account_command_resources_path(@owner_account , method: :post)}) do |f| %>
    <%= render partial: 'form'  , locals: {f: f} %>

    <div class="actions">
      <%= f.submit '登録' %>
    </div>
<% end %>
<%= link_to '[戻る]', owner_account_command_resources_path(@owner_account) %>
<% @link = link_to '新規登録' %>