<p>
  <b>名称：</b><%= @command_resource.name %>
</p>

<p>
  <b>パワー：</b><%= @command_resource.power %>
</p>

<p>
  <b>タグ：</b><%= @command_resource.tag %>
</p>
<p>
  <b>カテゴリ：</b><%= @command_resource.category %>
</p>

<p>
  <b>由来：</b><%= source_link_to @command_resource %>
</p>
<p>
  <b>取得根拠URL：</b><%= link_to @command_resource.authority_url , @command_resource.authority_url%>
</p>
<p>
  <b>備考：</b><br/>
<div>
  <%= url2link(@command_resource.note) %>
</div>
</p>


<%= link_to '[編集]', edit_owner_account_command_resource_path(@owner_account , @command_resource) %> |
<%= link_to '[戻る]', owner_account_command_resources_path(@owner_account) %>
<% @link = link_to @command_resource.name %>