  <p>
    <b>名称</b><br />
    <%= f.text_field :name ,:size => 80 %>
  </p>

  <p>
    <b>数</b><br />
    <%= f.text_field :number ,:size => 20 %>
  </p>

  <p>
    <b>備考</b><br />
    <%= f.text_area :note ,:cols => 80 , :rows => 10%>
  </p>

  <p>
    <b>HQ</b><br />
    <%= f.text_area :hq ,:cols => 80 , :rows => 4 , :cols => 30%>
  </p>

<b>HQボーナスの定義方法</b><br/>
”ボーナス対象：修正値”の書式で、各行に列記します。<br/>
例：白兵+1、近距離+2の場合
--- 
<pre>
白兵：1
近距離：2
</pre>
---- <br/><br/>

数値は半角で入力してください。<br/>
コロン(':'）は全角・半角どちらでも結構です。<br/>
また、コロンの直後に半角空白があっても構いません。

