  <tr>
    <td> <%= owned_object[:name] %> <%= link_to('[図鑑]',zukan_url(owned_object[:name]) )%></td>
    <td> <%= owned_object[:number] -%> </td>
    <td>
<% if owned_object[:number] > 0 && owned_object[:definition] && owned_object[:definition].specialties.size > 0 -%>
        (
<%   for sp in owned_object[:definition].specialties -%>
<%=    (sp.effects.map{|ef| 
            value = ef[:value]
            value += owned_object[:hq][ef[:target]] if owned_object[:hq] &&owned_object[:hq][ef[:target]]
            "#{ef[:target]}:#{sprintf('%+d',value * owned_object[:number])}" 
        }).join(',') %>
<%   end -%>
)
<% end -%>
   </td>
<% if has_role? :item_officer %>
   <td>
     <%=   link_to '[wiki書式]' , wiki_output_owner_account_object_registries_path(owner_account , :name => URI.escape(owned_object[:name])) %>
   </td>
<% end  %>
 </tr>

