<% if has_role?(:item_officer) %>
    <td> <%= radio_button_tag 'target_row' , object_registry.id ,selected , :onClick => "row_radio_clicked(#{object_registry.position});"%> </td>
<% end  %>
    <td><%=link_to object_registry.name , :controller => :object_definitions , :action => :owners_by_name , :name => object_registry.name %></td>
    <td><%=object_registry.number if object_registry.number %></td>
    <td><%= raw lf2br(url2link(object_registry.note , '[参照]')) %></td>
    <td><%= raw object_registry.object_definition ? link_to('[定義]',owner_account_object_registry_path(object_registry.owner_account , object_registry.object_definition)) : '未定義' +
             (has_role?(:item_officer) ? link_to('（新規登録）' , new_object_definition_path(:name => object_registry.name)  ): '' )%></td>
           <td> <%= (hq = object_registry.hq_hash).class == Hash ? hq.inspect : ''  %> </td>
    <td><%= link_to '詳細', owner_account_object_registry_path(params[:owner_account_id],object_registry[:id]) %></td>
<% if has_role?(:item_officer) -%>
    <td><%= link_to '編集', edit_owner_account_object_registry_path(params[:owner_account_id],object_registry[:id]) %></td>
    <td><%= link_to '削除', owner_account_object_registry_path(params[:owner_account_id],object_registry[:id]), 
              :confirm => "#{object_registry.name}の登録を削除します。よろしいですか？", :method => :delete %></td>
<% end -%>
