<h1>アイテム登録履歴の編集</h1>

<%= error_messages_for :object_registry %>

<%= form_for(@object_registry,  :url => owner_account_object_registry_path(params[:owner_account_id] ,@object_registry[:id])) do |f| %>
  <%= render :partial => 'form',:locals => {:f => f} %>
  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to '詳細', owner_account_object_registry_path(params[:owner_account_id] ,@object_registry[:id]) %> |
<%= link_to '戻る', owner_account_object_registries_path(params[:owner_account_id]) %>

<% @link = link_to 'アイテム履歴編集' %>
