<%= render :partial => 'shared/move_position_func', 
    :locals => {:controller => "owner_accounts/#{@owner_account.id}/object_registries" ,
                :length => @owner_account.object_registries.size } %>
<h1><%= @owner_account.owner.name %> 所有アイテム等管理</h1>

<h2> 現在所持数 </h2>
<p>
<table border=1>
  <tr>
    <th>名称</th> <th>所持数</th> <th>修正など</th><% if has_role?(:item_officer) %><th> wiki書式 </th> <% end %>
  </tr>  

<% owned_objects = []
   @owner_account.object_registries.owned_objects.select{|obj| obj[:number] > 0}.each do |owned_object| %>
  <%= render :partial => 'group' , :locals => {:owner_account => @owner_account , :owned_object => owned_object} %>
<% end %>
</table>

<h2> <%= link_to_function  '消費済みアイテム' ,"new Effect.toggle('consumed' , 'slide' , {duration:0.3})" %></h2>
<div id='consumed' style="overflow: visible; display: none;">
<table border=1 >
  <tr>
    <th>名称</th> <th>所持数</th> <th>修正など</th><% if has_role?(:item_officer) %><th> wiki書式 </th> <% end %>
  </tr>  
<% @owner_account.object_registries.owned_objects.select{|obj| obj[:number] == 0}.each do |owned_object| %>
  <%= render :partial => 'group' , :locals => {:owner_account => @owner_account , :owned_object => owned_object} %>
<% end %>
</table>
</div>
</p>

<hr/>
<h2>登録履歴</h2>
<%= link_to( '[新規登録]', new_owner_account_object_registry_path(params[:owner_account_id]) ) if has_role?(:item_officer)%>
<table border=1>
  <tr>
    <%=  content_tag(:th) if has_role?(:item_officer) %>
    <th>名称</th>
    <th>数</th>
    <th>備考</th>
    <th>定義</th>
    <th>HQ</th>
  </tr>

<% for object_registry in @object_registries %>
  <tr id="row_<%=object_registry.position %>" >
    <%= render :partial => 'object_registry' , :locals => {:object_registry => object_registry ,:selected => false} %>
  </tr>
<% end %>
</table>
<% if has_role?(:item_officer)%>
<%= move_button :up %> 
<%= move_button :down %>
<% end %>

<br /><br />

<%=
case @owner_account.owner
when Nation , Character
  link_to('[藩国別一覧]' , :controller => :nations ,  :action => :items_by_nation , :id =>  @owner_account.nation )
when Ace
  link_to('[所有者詳細]' , @owner_account.owner) + ' | ' + link_to('[ACE一覧]' , aces_path)
else
  #do nothing
end
-%>
<% @link = link_to '所有アイテム等一覧' %>

