<h1>所有アイテム等の新規登録</h1>

<%= error_messages_for :object_registry %>

<%= form_for(@object_registry , :url => owner_account_object_registries_path(params[:owner_account_id]) ) do |f| %>
  <%= render :partial =>'form', :locals => {:f => f} %>

  <p>
    <%= f.submit "登録" %>
  </p>
<% end %>

<%= link_to '戻る', owner_account_object_registries_path(params[:owner_account_id]) %>
<% @link = link_to 'アイテム履歴登録' %>