<p>
  <b>名称：</b>
  <%=h @object_registry.name %>
</p>
<p>
  <b>変動数：</b>
  <%=h @object_registry.number %>
</p>

<p>
  <b>備考:</b><br/>
  <%=to_note_str @object_registry.note %>
</p>


<%= link_to_if has_role?(:item_officer) ,  '編集', edit_owner_account_object_registry_path(params[:owner_account_id],@object_registry[:id]) %> |
<%= link_to '戻る', owner_account_object_registries_path(params[:owner_account_id]) %> 
<% @link = link_to 'アイテム履歴詳細' %>