<h2>国別所有アイテム用書式 </h2>
<table border=1>
  <tr>
    <td> <%= URI.unescape(params[:name]) %></td>
      <td> <%= got_items(@registries) %> </td>
    <% if @owner_account.owner.class != Nation %>
    <td> <%= @owner_account.owner.name %> </td>
    <% end %>
    <td> <%= used_items(@registries) %> </td>
    <td> <%= @registries.sum{|o| o.number.to_i } %> </td>
  </tr>
</table>
<br/>
<textarea rows=5 cols=100>
|[[<%= URI.unescape(params[:name]) %>]]|<%=  got_items_for_wiki(@registries) -%>
<% if @owner_account.owner.class != Nation -%>
|<%= @owner_account.owner.name -%>
<% end -%>
|<%= used_items_for_wiki(@registries) -%>
|<%= @registries.sum{|o| o.number.to_i } %>|
</textarea>

<h2> アイテム別所有者一覧用書式</h2>
<table border=1>
  <tr>
    <td> <%= @owner_account.nation === Nation ? @owner_account.nation.name : 'ACE' %></td>
      <td> <%= got_items(@registries) %> </td>
    <td> <%= @owner_account.owner.name %> </td>
    <td> <%= used_items(@registries) %> </td>
    <td> <%= @registries.sum{|o| o.number.to_i } %> </td>
  </tr>
</table>
<br/>
<textarea rows=5 cols=100>
|[[<%= @owner_account.nation === Nation ? @owner_account.nation.name : 'ACE>ACE所持アイテムリスト'%>]]|<%=  got_items_for_wiki(@registries) -%>
|<%= @owner_account.owner.name -%>
|<%= used_items_for_wiki(@registries) -%>
|<%= @registries.sum{|o| o.number.to_i } %>|
</textarea>
<br/>
＃行頭のアイテム名列・ないし国名列は、必要に応じて"|~|"に置き換えて下さい。

<% @link = link_to 'wiki書式出力' , :name => params[:name] %>