<%= error_messages_for 'latest_cash_record' %>

<!--[form:latest_cash_record]-->
<p><label for="latest_cash_record_url">Url</label><br/>
<%= text_field 'latest_cash_record', 'url'  %></p>

<p><label for="latest_cash_record_xpath">Xpath</label><br/>
<%= text_field 'latest_cash_record', 'xpath'  %></p>

<p><label for="latest_cash_record_keyword">Keyword</label><br/>
<%= text_field 'latest_cash_record', 'keyword'  %></p>

<p><label for="latest_cash_record_row_index">Row index</label><br/>
<%= text_field 'latest_cash_record', 'row_index'  %></p>

<p><label for="latest_cash_record_col_begin">Col begin</label><br/>
<%= text_field 'latest_cash_record', 'col_begin'  %></p>

<p><label for="latest_cash_record_col_end">Col end</label><br/>
<%= text_field 'latest_cash_record', 'col_end'  %></p>

<p><label for="latest_cash_record_parsed">Parsed</label><br/>
<%= text_area 'latest_cash_record', 'parsed'  %></p>

<p><label for="latest_cash_record_updated">Updated</label><br/>
<%= datetime_select 'latest_cash_record', 'updated'  %></p>

<p><label for="latest_cash_record_last_modified">Last modified</label><br/>
<%= text_field 'latest_cash_record', 'last_modified'  %></p>

<p><label for="latest_cash_record_fund">Fund</label><br/>
<%= text_field 'latest_cash_record', 'fund'  %></p>

<p><label for="latest_cash_record_resource">Resource</label><br/>
<%= text_field 'latest_cash_record', 'resource'  %></p>

<p><label for="latest_cash_record_food">Food</label><br/>
<%= text_field 'latest_cash_record', 'food'  %></p>

<p><label for="latest_cash_record_fuel">Fuel</label><br/>
<%= text_field 'latest_cash_record', 'fuel'  %></p>

<p><label for="latest_cash_record_entertainment">Entertainment</label><br/>
<%= text_field 'latest_cash_record', 'entertainment'  %></p>
<!--[eoform:latest_cash_record]-->

