<h1>Editing latest_cash_record</h1>

<%= form_tag :action => 'update', :id => @latest_cash_record do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @latest_cash_record %> |
<%= link_to 'Back', :action => 'list' %>
