<% @link = link_to '各国資産残高' %>
<h1>各国資産残高</h1>
<div id="container">

　<div class="column" style="float: left">
<table style='align: center' border=1 cellspacing=0>
  <tr>
    <th>番号</th>
    <th>藩国名</th>
    <th>資金</th>
    <th>資源</th>
    <th>食料</th>
    <th>燃料</th>
    <th>生物資源</th>
    <th>総マイル</th>
    <th>参照URL</th>
  </tr>

<% resource = 0 %>
<% food = 0 %>
<% fuel = 0 %>
<% entertainment = 0 %>
<% sum_fund = 0%>
<% sum_mile = 0%>

<% for latest_cash_record in @republic_records %>
  <tr>
    <td> <%= latest_cash_record.id %></td>
    <td> <%= latest_cash_record.nation.name  %> </td>
    <td align=right> <%= latest_cash_record.fund %></td>
    <td align=right> <%= latest_cash_record.resource  %></td>
    <td align=right> <%= latest_cash_record.food  %></td>
    <td align=right> <%= latest_cash_record.fuel  %></td>
    <td align=right> <%= latest_cash_record.entertainment  %></td>
    <td align=right> <%= mile = sum_miles(latest_cash_record.nation) %> </td>
    <td align=right> <%= link_to "[財務表]"  , owner_account_cash_records_path(latest_cash_record.nation.owner_account,:turn => Property[:current_turn]) %></td>
  </tr>
<% sum_fund += latest_cash_record.fund  if latest_cash_record.fund
resource += latest_cash_record.resource if latest_cash_record.resource 
food += latest_cash_record.food if latest_cash_record.food 
fuel += latest_cash_record.fuel if  latest_cash_record.fuel
entertainment += latest_cash_record.entertainment if latest_cash_record.entertainment 
 sum_mile += mile
%>
<% end %>
  <tr>
    <td>-</td>
    <td>合計</td>
    <td><%= sum_fund 
    %></td>
    <td align=right><%= resource %></td>
    <td align=right><%= food %></td>
    <td align=right><%= fuel %></td>
    <td align=right><%= entertainment %></td>
    <td align=right><%= sum_mile %></td>
  </tr>
</table>

　</div>

　<div class="column" style="float: right">
<% sum_hash = [:fund , :resource , :food , :fuel , :entertainment  , :hqfuel].inject({}){|hash , key| hash[key]=0 ; hash} %>
<% resource = 0 %>
<% food = 0 %>
<% fuel = 0 %>
<% entertainment = 0 %>
<% sum_fund = 0%>
<% sum_mile = 0%>

 <table style='align: center' border=1 cellspacing=0>
  <tr>
    <th>番号</th>
    <th>藩国名</th>
    <th>資金</th>
    <th>資源</th>
    <th>食料</th>
    <th>燃料</th>
    <th>高性能燃料</th>
    <th>生物資源</th>
    <th>総マイル</th>
    <th>参照URL</th>
  </tr>
<% for latest_cash_record in @empire_records %>
  <tr>
    <td> <%= latest_cash_record.id %></td>
    <td> <%= latest_cash_record.nation.name  %> 　</td>
    <td align=right> <%= latest_cash_record.fund %></td>
    <td align=right> <%= latest_cash_record.resource  %></td>
    <td align=right> <%= latest_cash_record.food  %></td>
    <td align=right> <%= latest_cash_record.fuel  %></td>
    <td align=right> <%= latest_cash_record.hqfuel.to_i  %></td>
    <td align=right> <%= latest_cash_record.entertainment  %></td>
    <td align=right> <%= mile = sum_miles(latest_cash_record.nation) %> </td>
    <td align=right> <%= link_to "[財務表]"  , owner_account_cash_records_path(latest_cash_record.nation.owner_account,:turn => Property[:current_turn]) %></td>
  </tr>
<%
sum_hash.keys.each{|key| sum_hash[key] += latest_cash_record[key] if latest_cash_record[key] }
 #sum_fund += latest_cash_record.fund  if latest_cash_record.fund
 #resource += latest_cash_record.resource if latest_cash_record.resource 
 #food += latest_cash_record.food if latest_cash_record.food 
 #fuel += latest_cash_record.fuel if  latest_cash_record.fuel
 #hqfuel += latest_cash_record.fuel if  latest_cash_record.fuel
# entertainment += latest_cash_record.entertainment if latest_cash_record.entertainment 
 sum_mile += mile
%>
<% end %>
  <tr>
    <td>-</td>
    <td>合計</td>
    <td align=right><%= sum_hash[:fund] %></td>
    <td align=right><%= sum_hash[:resource] %></td>
    <td align=right><%= sum_hash[:food] %></td>
    <td align=right><%= sum_hash[:fuel] %></td>
    <td align=right><%= sum_hash[:hqfuel] %></td>
    <td align=right><%= sum_hash[:entertainment] %></td>
    <td align=right><%= sum_mile %></td>
  </tr>
</table>
　</div>
</div>




