<% for column in LatestCashRecord.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @latest_cash_record.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @latest_cash_record %> |
<%= link_to 'Back', :action => 'list' %>
