<table class="confirm">
<%- for column in CashRecordController.visible_columns(@action_name) -%>
  <%- case column.name -%>
  <%- when 'id' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'id') %>"><%= human_attribute_name(@cash_record, 'id') %></td>
    <td><%= human_attribute_edit('cash_record', 'id') %></td>
  </tr>
  <%- when 'event_no' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'event_no') %>"><%= human_attribute_name(@cash_record, 'event_no') %></td>
    <td><%= human_attribute_edit('cash_record', 'event_no') %></td>
  </tr>
  <%- when 'event_name' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'event_name') %>"><%= human_attribute_name(@cash_record, 'event_name') %></td>
    <td><%= human_attribute_edit('cash_record', 'event_name') %></td>
  </tr>
  <%- when 'entry_url' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'entry_url') %>"><%= human_attribute_name(@cash_record, 'entry_url') %></td>
    <td><%= human_attribute_edit('cash_record', 'entry_url') %></td>
  </tr>
  <%- when 'result_url' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'result_url') %>"><%= human_attribute_name(@cash_record, 'result_url') %></td>
    <td><%= human_attribute_edit('cash_record', 'result_url') %></td>
  </tr>
  <%- when 'reference_url' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'reference_url') %>"><%= human_attribute_name(@cash_record, 'reference_url') %></td>
    <td><%= human_attribute_edit('cash_record', 'reference_url') %></td>
  </tr>
  <%- when 'fund' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'fund') %>"><%= human_attribute_name(@cash_record, 'fund') %></td>
    <td><%= human_attribute_edit('cash_record', 'fund') %></td>
  </tr>
  <%- when 'resource' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'resource') %>"><%= human_attribute_name(@cash_record, 'resource') %></td>
    <td><%= human_attribute_edit('cash_record', 'resource') %></td>
  </tr>
  <%- when 'food' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'food') %>"><%= human_attribute_name(@cash_record, 'food') %></td>
    <td><%= human_attribute_edit('cash_record', 'food') %></td>
  </tr>
  <%- when 'fuel' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'fuel') %>"><%= human_attribute_name(@cash_record, 'fuel') %></td>
    <td><%= human_attribute_edit('cash_record', 'fuel') %></td>
  </tr>
  <%- when 'amusement' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'amusement') %>"><%= human_attribute_name(@cash_record, 'amusement') %></td>
    <td><%= human_attribute_edit('cash_record', 'amusement') %></td>
  </tr>
  <%- when 'num_npc' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'num_npc') %>"><%= human_attribute_name(@cash_record, 'num_npc') %></td>
    <td><%= human_attribute_edit('cash_record', 'num_npc') %></td>
  </tr>
  <%- when 'num_id' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'num_id') %>"><%= human_attribute_name(@cash_record, 'num_id') %></td>
    <td><%= human_attribute_edit('cash_record', 'num_id') %></td>
  </tr>
  <%- when 'note' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'note') %>"><%= human_attribute_name(@cash_record, 'note') %></td>
    <td><%= human_attribute_edit('cash_record', 'note') %></td>
  </tr>
  <%- when 'turn' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'turn') %>"><%= human_attribute_name(@cash_record, 'turn') %></td>
    <td><%= human_attribute_edit('cash_record', 'turn') %></td>
  </tr>
  <%- when 'position' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'date') %>"><%= human_attribute_name(@cash_record, 'position') %></td>
    <td><%= human_attribute_edit('cash_record', 'position') %></td>
  </tr>
  <%- when 'nation_id' -%>
  <tr>
    <td class="<%= localized_label_class_on(@cash_record, 'nation_id') %>"><%= human_attribute_name(@cash_record, 'nation_id') %></td>
    <td><%= human_attribute_edit('cash_record', 'nation_id') %></td>
  </tr>
  <%- end -%>
<%- end -%>
</table>
