  <%- unless @controller.class.hidden_field?(@action_name, 'id') -%>
    <%= hidden_field("cash_record", 'id') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'event_no') -%>
    <%= hidden_field("cash_record", 'event_no') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'event_name') -%>
    <%= hidden_field("cash_record", 'event_name') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'entry_url') -%>
    <%= hidden_field("cash_record", 'entry_url') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'result_url') -%>
    <%= hidden_field("cash_record", 'result_url') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'reference_url') -%>
    <%= hidden_field("cash_record", 'reference_url') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'fund') -%>
    <%= hidden_field("cash_record", 'fund') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'resource') -%>
    <%= hidden_field("cash_record", 'resource') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'food') -%>
    <%= hidden_field("cash_record", 'food') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'fuel') -%>
    <%= hidden_field("cash_record", 'fuel') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'amusement') -%>
    <%= hidden_field("cash_record", 'amusement') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'num_npc') -%>
    <%= hidden_field("cash_record", 'num_npc') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'num_id') -%>
    <%= hidden_field("cash_record", 'num_id') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'note') -%>
    <%= hidden_field("cash_record", 'note') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'turn') -%>
    <%= hidden_field("cash_record", 'turn') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'date') -%>
    <%= hidden_field("cash_record", 'position') %>
  <%- end -%>
  <%- unless @controller.class.hidden_field?(@action_name, 'nation_id') -%>
    <%= hidden_field("cash_record", 'nation_id') %>
  <%- end -%>
