<%- for column in CashRecordController.visible_columns(@action_name) -%>
  <%- case column.name -%>
  <%- when 'id' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'id') %></label><br/>
      <%= human_attribute_value(@cash_record, 'id') %>
    </p>
  <%- when 'event_no' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'event_no') %></label><br/>
      <%= human_attribute_value(@cash_record, 'event_no') %>
    </p>
  <%- when 'event_name' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'event_name') %></label><br/>
      <%= human_attribute_value(@cash_record, 'event_name') %>
    </p>
  <%- when 'entry_url' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'entry_url') %></label><br/>
      <%= human_attribute_value(@cash_record, 'entry_url') %>
    </p>
  <%- when 'result_url' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'result_url') %></label><br/>
      <%= human_attribute_value(@cash_record, 'result_url') %>
    </p>
  <%- when 'reference_url' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'reference_url') %></label><br/>
      <%= human_attribute_value(@cash_record, 'reference_url') %>
    </p>
  <%- when 'fund' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'fund') %></label><br/>
      <%= human_attribute_value(@cash_record, 'fund') %>
    </p>
  <%- when 'resource' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'resource') %></label><br/>
      <%= human_attribute_value(@cash_record, 'resource') %>
    </p>
  <%- when 'food' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'food') %></label><br/>
      <%= human_attribute_value(@cash_record, 'food') %>
    </p>
  <%- when 'fuel' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'fuel') %></label><br/>
      <%= human_attribute_value(@cash_record, 'fuel') %>
    </p>
  <%- when 'amusement' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'amusement') %></label><br/>
      <%= human_attribute_value(@cash_record, 'amusement') %>
    </p>
  <%- when 'num_npc' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'num_npc') %></label><br/>
      <%= human_attribute_value(@cash_record, 'num_npc') %>
    </p>
  <%- when 'num_id' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'num_id') %></label><br/>
      <%= human_attribute_value(@cash_record, 'num_id') %>
    </p>
  <%- when 'note' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'note') %></label><br/>
      <%= human_attribute_value(@cash_record, 'note') %>
    </p>
  <%- when 'turn' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'turn') %></label><br/>
      <%= human_attribute_value(@cash_record, 'turn') %>
    </p>
  <%- when 'order' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'position') %></label><br/>
      <%= human_attribute_value(@cash_record, 'position') %>
    </p>
  <%- when 'nation_id' -%>
    <p>
      <label class="confirm"><%= human_attribute_name(@cash_record, 'nation_id') %></label><br/>
      <%= human_attribute_value(@cash_record, 'nation_id') %>
    </p>
  <%- end -%>
<%- end -%>
