<table class="confirm">
<%- for column in CashRecordController.visible_columns(@action_name) -%>
  <%- case column.name -%>
  <%- when 'id' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'id') %></td>
    <td><%= human_attribute_value(@cash_record, 'id') %></td>
  </tr>
  <%- when 'event_no' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'event_no') %></td>
    <td><%= human_attribute_value(@cash_record, 'event_no') %></td>
  </tr>
  <%- when 'event_name' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'event_name') %></td>
    <td><%= human_attribute_value(@cash_record, 'event_name') %></td>
  </tr>
  <%- when 'entry_url' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'entry_url') %></td>
    <td><%= human_attribute_value(@cash_record, 'entry_url') %></td>
  </tr>
  <%- when 'result_url' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'result_url') %></td>
    <td><%= human_attribute_value(@cash_record, 'result_url') %></td>
  </tr>
  <%- when 'reference_url' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'reference_url') %></td>
    <td><%= human_attribute_value(@cash_record, 'reference_url') %></td>
  </tr>
  <%- when 'fund' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'fund') %></td>
    <td><%= human_attribute_value(@cash_record, 'fund') %></td>
  </tr>
  <%- when 'resource' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'resource') %></td>
    <td><%= human_attribute_value(@cash_record, 'resource') %></td>
  </tr>
  <%- when 'food' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'food') %></td>
    <td><%= human_attribute_value(@cash_record, 'food') %></td>
  </tr>
  <%- when 'fuel' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'fuel') %></td>
    <td><%= human_attribute_value(@cash_record, 'fuel') %></td>
  </tr>
  <%- when 'amusement' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'amusement') %></td>
    <td><%= human_attribute_value(@cash_record, 'amusement') %></td>
  </tr>
  <%- when 'num_npc' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'num_npc') %></td>
    <td><%= human_attribute_value(@cash_record, 'num_npc') %></td>
  </tr>
  <%- when 'num_id' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'num_id') %></td>
    <td><%= human_attribute_value(@cash_record, 'num_id') %></td>
  </tr>
  <%- when 'note' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'note') %></td>
    <td><%= human_attribute_value(@cash_record, 'note') %></td>
  </tr>
  <%- when 'turn' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'turn') %></td>
    <td><%= human_attribute_value(@cash_record, 'turn') %></td>
  </tr>
  <%- when 'order' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'position') %></td>
    <td><%= human_attribute_value(@cash_record, 'position') %></td>
  </tr>
  <%- when 'nation_id' -%>
  <tr>
    <td class="label"><%= human_attribute_name(@cash_record, 'nation_id') %></td>
    <td><%= human_attribute_value(@cash_record, 'nation_id') %></td>
  </tr>
  <%- end -%>
<%- end -%>
</table>
