<table border=1 cellspacing=0>
  <tr>
    <th>兵器名称</th>
    <th>保有数</th>
  </tr>

<% weapons.group_by(&:name).each do |name , weapons_group| %>
<%   number = weapons_group.sum{|o| o.number.to_i }
     next if number == 0 %>
  <tr>
    <td><%=h name %></td>
    <td><%=h number %></td>
  </tr>
<% end %>
</table>