<h1><%= h @owner_account.owner.name %> 保有兵器一覧</h1>

<%= render :partial => 'index' , :locals => {:weapons => @weapons} %>
<br />

<%= link_as_return_to(@owner_account) %>
<%= link_to '[兵器登録履歴]' , owner_account_weapon_registries_path(@owner_account) , :action => :list  %>
<%= link_to '[金庫番トップ]' , facade_owner_accounts_path if has_role?(:accountant) %>
<% @title = '保有兵器一覧' %>