<h1>New i_objects</h1>

<%= error_messages_for :i_objects %>

<%= form_for(@i_objects) do |f| %>
  <p>
    <b>Object</b><br />
    <%= f.text_field :object_id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Type</b><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', i_objects_path %>
