<p>
  <b>Object:</b>
  <%=h @i_objects.object_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @i_objects.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @i_objects.type %>
</p>


<%= link_to 'Edit', edit_i_objects_path(@i_objects) %> |
<%= link_to 'Back', i_objects_path %>
