<%= error_messages_for 'yggdrasill' %>

<!--[form:yggdrasill]-->

<p>
<label for="yggdrasill_name">表示名</label><br/>
<%= f.text_field 'name' ,:size=>40 %>
</p>

<p>
  <label for="yggdrasill_idress_name">該当アイドレス名</label><br/>
  <%= f.text_field 'idress_name' ,:size=>40 %>
</p>

<p>
  <label for="yggdrasill_page_url">実装ページURL</label><br/>
  <%= f.text_field 'page_url' ,:size=>60 %>
</p>

<p>
  <label for="yggdrasill_basis_url">その他根拠URL</label><br/>
  <%= f.text_field 'basis_url' ,:size=>60 %>
</p>

<p>
  <label for="yggdrasill_hq">HQ定義</label> （現在未使用）<br/>
  <%#= f.text_field '' ,:size=>40 %>
</p>

<p>
  <label for="yggdrasill_hq_basis_url">HQ根拠URL</label><br/>
  <%= f.text_field 'hq_basis_url' ,:size=>60 %>
</p>

<p>
<label for="yggdrasill_note">備考</label><br/>
<%= f.text_area  'note' ,:size=>"80x8" %>
</p>
<br/>
<label for="yggdrasill_i_definition">ｉ言語定義</label><br/>
<%= f.text_area 'i_definition' ,:size=>"100x20" %>

<!--[eoform:yggdrasill]-->

