<h1>イグドラシルの編集</h1>

<%= form_for @yggdrasill do |f| %>
  <%= render partial: 'form' ,  locals: {f: f} %>
    <br/>
  <%= submit_tag '編集' %>
<% end %>
<br/>
<%= link_to '[詳細]', @owner_account ? owner_account_yggdrasill_path(@yggdrasill) :
                                       yggdrasill_path(@yggdrasill) %>

<% @link = link_to '編集' %>