<h1><%= @owner_account.owner.name%>：イグドラシル</h1>

<% if has_role? :monju_maintainer %>
<p>
<%= link_to '[新規登録]', :action => 'new' %>
<%= link_to_function('[派生位置移動]','enableTree()'); %> <%= link_to_function('[固定]','disableTree()'); %>
<span id="loading" style="display:none;"><img src='<%= image_path('icons/loading.gif') %> ' alt="" >通信中...</span><br/>
<% end %>
（アイドレス名をダブルクリックすると詳細ページが開きます）

</p>
<div id="ytree" >
<ul>
  <%= @root.children.map{|node| tree_node_tag(node)}.inject{|a,b|a<<b} if @root%>
</ul>
</div>

<%#= link_to '[Previous]', { :page => @yggdrasill_pages.current.previous } if @yggdrasill_pages.current.previous %>
<%#= link_to '[Next]', { :page => @yggdrasill_pages.current.next } if @yggdrasill_pages.current.next %>

<br/>

<% @link = '' %>
