<h1>イグドラシルの新規登録</h1>

<%= form_for @yggdrasill , url:  owner_account_yggdrasills_path(@owner_account , method: :post) do |f| %>
    <%= f.hidden_field 'owner_account_id'%>
    <% if @parent_node %>
        <b>派生元: </b> <%= link_to(@parent_node.name , owner_account_yggdrasill_path(@owner_account , @parent_node)) %>
        <%= hidden_field_tag 'parent_id' , @parent_node.id %>
    <% end %>
    <%= render partial: 'form' ,  locals: {f: f} %>
    <br/>
    <%= submit_tag '新規登録' %>
<% end %>

<%= link_to '[戻る]', :action => 'list' %>
<% @link = link_to '新規登録' %>