<p>
  <b>名称：</b><%= @yggdrasill.name %>
</p>

<p>
  <b>該当アイドレス：</b><%= @yggdrasill.idress_name %><br/>
  <%= case @yggdrasill.definition_type
        when :i2
          '（アイドレス２形式)'
        when :i3
          '(アイドレス３形式)'
      end %>
      <% if (idef = @yggdrasill.get_definition) %>
    <pre>
<%= idef.strip %>
  </pre>
    アイドレスwiki：<%= idress_wiki_url @yggdrasill.idress_name %>
<% end %>
</p>

<p>
  <b>イグドラシル種別：</b><%= @yggdrasill.node_type %>
</p>

<p>
  <b>実装ページ：</b><%= link_to(@yggdrasill.page_url, @yggdrasill.page_url) unless  @yggdrasill.page_url.blank? %>
</p>
<p>
  <b>HQ：</b><%= @yggdrasill.hq %><br/>
  <b>HQ根拠：</b> <%= link_to(@yggdrasill.hq_basis_url, @yggdrasill.hq_basis_url) unless @yggdrasill.hq_basis_url.blank? %>
</p>

<b>備考:</b><br/>
<%= simple_format @yggdrasill.note %>
</p>
<% if has_role?(:monju_maintainer) %>
    <%= link_to '[編集]', :action => 'edit', :id => @yggdrasill %> |
    <%= link_to '[アイドレスを派生]', new_owner_account_yggdrasill_path(@owner_account, :parent_id => @yggdrasill) %> |
    <%= link_to '[削除]', owner_account_yggdrasill_path(@owner_account, @yggdrasill),
                method: :delete,
                confirm: "このイグドラシルを削除しますか？" %> |
<% end %>
<%= link_to '[戻る]', owner_account_yggdrasills_path(params[:owner_account_id]) %>
<% @link = '' %>