<% if @db_not_found.size > 0%>
<h3 style="color: red">注意：以下の内容は国民番号が未登録であるため、切り捨てられます。</h3>
<table style="background-color: #ffaaaa">
<tr><th>国民番号</th><th>国民名</th><th>根源力</th><th>種別</th><th>参照URL</th></tr>
<% for nf in @db_not_found %>
<tr>
  <td> <%= nf.character_no %> </td>
  <td> <%= nf.name %> </td>
  <td> <%= nf.originator %> </td>
  <td> <%= nf.note %> </td>
  <td> <%= link_to nf.url ,nf.url if nf.url%> </td>
</tr>
<% end%>
</table>
<% end %>
<br />
<hr />
