<%= error_messages_for 'nation' %>
<%
  @races = Race.find(:all)
  @races.each{|r| r[:id]=r[:id].to_i}
%>

<p><label for="job_idress_name">人のアイドレス：</label>
<%= collection_select "nation" , "race_id" ,@races,:id , :name %>

<!--[form:nation]-->
<p><label for="nation_name">国名</label><br/>
<%= text_field 'nation', 'name'  %></p>

<p><label for="nation_short_name">省略名</label><br/>
<%= text_field 'nation', 'short_name'  %></p>

<p><label for="nation_belong">所属</label><br/>
<%= select 'nation', 'belong' ,[
            ['わんわん帝國' , :empire],
            ['にゃんにゃん共和国',:republic],
            ['準藩国',:associated],
            ['前線基地',:base],
            ['騎士団',:knights]
            ] %>
            
            </p>

<p><label for="nation_homepage">ホームページURL</label><br/>
<%= text_field 'nation', 'homepage'  %></p>

<p><label for="nation_king">藩王</label><br/>
<%= text_field 'nation', 'king'  %></p>

<p><label for="nation_regent">摂政</label><br/>
<%= text_field 'nation', 'regent'  %></p>

<p><label for="nation_contact">連絡先</label><br/>
<%= text_field 'nation', 'contact'  %></p>

<p><label for="nation_contact_note">連絡先備考</label><br/>
<%= text_field 'nation', 'contact_note'  %></p>

<!--[eoform:nation]-->

