      <td rowspan=<%= rows.size %> >
<%=link_to name , :controller => :object_definitions , :action => :owners_by_name , :name => name %> 
<%= link_to '[図鑑]' ,'http://www35.atwiki.jp/marsdaybreaker/?page=' + URI.encode(name) %> </td>
<%     for row in rows %>
  <%  owner_account = row[:owner_account] %>
      <td><%= got_items(row[:registries])%> </td>
      <td><%= link_to owner_account.owner.name ,owner_account_object_registries_path(owner_account)%> </td>
      <td><%= used_items(row[:registries])%></td>
      <td><%=row[:number] %></td>
    </tr>
    <tr>
<%     end %>
