<h2>解析結果の詳細:</h2>
<table cellspacing=0 border=0 cellpadding=0>
<tbody>
<tr align=left >
  <th>元の入力</th> <th> </th><th>国民番号</th><th>国民名：DB登録名</th><th>根源力</th><th>種別</th><th align=left>URL</th>
<%
 text_size = 50
 for result in @parse_results 
   next if result.text == ""
 %>
 <% if result.matched? 
   if result.db_name
     colorval = 'ddddff'
   else
     colorval = 'ffaaaa'
   end
 else
   colorval =  'ffdddd'
 end
%>
<tr style="background-color: #<%= colorval %>" >
<td>
<%= result.text[0..text_size] %> <%= '...' if result.text.length > text_size %>
</td>
<td style="background-color: #ffffff"> => 
</td>
<% if result.matched? %>
<td><%= result.character_no %></td>
<td><%= result.name %>:<%= result.db_name ? result.db_name : "(データベース登録なし）" %>
</td>
<td><%= result.originator %></td>
<td><%= result.note %> </td>
<td><%= link_to(result.url[0..30] + (result.url.length > 30 ? "..." : ""), result.url ) if result.url%> </td>
<% else %>
<td></td><td></td><td></td><td></td><td></td>
<% end  %>
</tr>
<% end %>
</tbody>
</table>
