<% @link = link_to "その他組織一覧" %>
<% Organization %>

<h2>騎士団</h2>
<table>
  <%= table_header %>
<% for knights in Knights.order(:id) %>
              <%= links(knights) %>
  <% end%>
</table>
<hr/>
<h2>個人騎士団</h2>
<table>
  <%= table_header %>
  <% for individual_knights in IndividualKnights.order(:id) %>
              <%= links(individual_knights) %>
  <% end%>
</table>
<p/>
<hr/>
<h2>冒険組合</h2>
<table>
  <%= table_header %>
    <% for guild in AdventurersGuild.order(:id) %>
              <%= links(guild) %>
  <% end%>
</table>
<p/>
<hr/>
<h2>会社</h2>
<table>
  <%= table_header %>
  <% for base in Corporation.order(:id) %>
            <%= links(base) %>
<% end %>
</table>
<p/>
<hr/>
<h2>その他組織口座</h2>
<table>
  <%= table_header %>
  <% for base in OtherOrg.order(:id) %>
            <%= links(base) %>
<% end %>
</table>
<p/>
<hr/>
<p/>
<hr/>
<h2>準藩国</h2>
<table>
  <% for nation in @nations %>	
    <tr>
      <td> <%= link_to nation.name , :action => :show , :id => nation %></td>
    </tr>
  <% end %>
</table>
