<% @link = link_to "リザルト一括入力(確認）",:action => :register_result_form , :id=>params[:id] %>
<h1>リザルト一括入力(確認）</h1>

<p>
<h3>以下の通り解釈しました。この内容で登録してよろしいですか？</h3>
<%= form_tag :action => :register_result ,:id => params[:id] do %>
<%= button_to_function "前の画面に戻る" , "javascript:history.back();" %>
<%= submit_tag " OK " %>　
<h3>イベント名：<%= @event_name %> <%= hidden_field_tag :event_name ,@event_name %></h3>
<strong>入手マジックアイテム：</strong><%= @magic_item %> <%= hidden_field_tag :magic_item , @magic_item %><br/>
<strong>提出状態：</strong><%= @not_yet == "1" ? "未提出、まだリザルト適用せず" : "提出済み、リザルト適用" %> <%= hidden_field_tag :not_yet , @not_yet %>
<br/>
<br/>
<table border=1 cellspacing=0 >
<tbody>
<tr><th>国民番号</th><th>国民名</th><th>根源力</th><th>種別</th><th>参照URL</th></tr>
<% idx = 1 %>
<% for key in @register_data.keys.sort 
     reg = @register_data[key]%>
<tr>
  <td> <%= reg.character_no %> 
  <%= hidden_field_tag "results[#{idx}][character_no]" , reg.character_no  %>
  </td>
  <td> <%= reg.name %>
  </td>
  <td> <%= reg.originator %>
  <%= hidden_field_tag "results[#{idx}][originator]" , reg.originator  %>
  </td>
  <td> <%= reg.note %>
  <%= hidden_field_tag "results[#{idx}][note]" , reg.note  %>
  </td>
  <% if reg.url %>
  <td>
        <%= link_to reg.url ,reg.url%>
        <%= hidden_field_tag "results[#{idx}][url]" , reg.url  %>
    <%   else %>
  <td style="background-color: #ffcccc">
        (URLなし)
    <%   end %>
  </td>
</tr>
<%   idx += 1
   end %>
</tbody>
</table>
<% end %>
</p>
<%= render :partial => "db_not_found" %>

<%= render :partial => "parse_results" %>

<p />