<% @link = link_to "テキストから取り込み", :action => :import_text_form , :id=>params[:id]   %>
<h1>テキストから取り込み：確認</h1>
<%= @result_type %>
<%= form_tag :action => :import_text , :id=>params[:id] ,
            :character => @cno , :result_type => @result_type , 
            :separator => @separator ,:text => @text do %>
対象キャラクター：<%= @ch.character_no%>：<%= @ch.name %><br/>
リザルト種別：<%= @result_type == "used" ? "転用根源力" : (@result_type == "result" ? "イベント根源力" : "不明" )%>
            
<table border=1 cellspacing=0>
<tbody>
<% for row in @rows %>
<tr>
  <% for cell in row %>
    <td>
        <%= cell %>    
    </td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
<%= submit_tag "取り込み" , :action => :import_text %>
<% end %>


