<% @link = link_to "テキストで個人修正を更新", :action => :update_bonus_form , :id=>params[:id]  %>
<h1> テキストで個人修正を更新　</h1>

<%= form_tag :action => :update_bonus, :id => params[:id] do %>
以下の内容で登録します。よろしいですか？
<%= button_to_function "前の画面に戻る" , "javascript:history.back();" %>
<%= submit_tag " OK " %>　

<% columns = {'phy' => "体格" , 'str' => "筋力" , 'dur' => "耐久力" , 'chr' => "外見" , 'agi' => "敏捷" , 
              'dex' => "器用" , 'sen' => "感覚" , 'edu' => "知識" , 'luc' => "幸運" , 'ar' => "AR" } %>
<p>
<strong>修正能力： <%= columns[params[:column]]%><%= sprintf("%+d" , params[:bonus].to_i) %> </strong> 
<%= hidden_field_tag "column" , params[:column] %>
<%= hidden_field_tag "bonus" , params[:bonus] %>
</p>

<table border=1 cellspacing=0 >
<tbody>
<tr><th>国民番号</th><th>国民名</th></tr>
<% idx = 1 %>
<% for key in @register_data.keys.sort 
     reg = @register_data[key]%>
<tr>
  <td> <%= reg.character_no %> 
  <%= hidden_field_tag "characters[#{idx}][character_no]" , reg.character_no  %>
  </td>
  <td> <%= reg.name %>
  </td>
</tr>
<%   idx += 1
   end %>
</tbody>
</table>
<% end %>
<%= render :partial => "db_not_found" %>

<%= render :partial => "parse_results" %>
