<% @link = link_to "アイドレス着替え",:action => :edit_weared_idress %>
<% nation = Nation.find(params[:id]) %>
<% job_idress_selection = [['普通の人',0]]+JobIdress::select_list(nation.owner_account) %>
<%= form_tag( :action => 'update_weared_idress', :id => params[:id]) do  %>
<%= submit_tag '更新' %>
<table border=1 cellspacing=0>
    <tbody>
        <tr>
            <th> 国民番号 </th>
            <th> PC名 </th>
            <th> 着用アイドレス </th>
            <th> 個人アイドレス </th>
        </tr>
        <% for @character in @characters %>
        <tr>
          <td><%= @character.character_no %> </td>
          <td><%= @character.name %> </td>
          <td>
            <%= select "character[]","job_idress_id"  ,
              if @character.nation.nil? 
                [] 
              else
                job_list = JobIdress::select_list(nation.owner_account , @character.race_type , @character.nation.belong)
                ([['普通の人',0]]+ job_list + options_for_owned_idress(@character.owner_account ))
              end
              %>
          </td>
          <td><%= select "character[]","personal_idress_id", options_for_acquired_idress(@character) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<br/>

<% end %>