<% @link = link_to "イベント別リザルト一覧",:action => :results_by_event %>
<h1>イベント別リザルト一覧</h1>

<ul>

<% for r in ::Result.event_names(params[:id])  %>
<li>
  <%= link_to(sprintf("[%s]", h(r.event_name)) , :action=>:results_by_event ,:id => params[:id] , :result_id => r[:id])%>
</li>
<% end %>
</ul>
