<% @link = link_to "根源力表" %>
<%
 originators = {}
 for c in @characters
   originators[c]=c.sum_proper_originator %>
<a href="#<%=c.character_no -%>"><%= c.character_no -%>：<%= c.name -%></a>：<%= originators[c] -%><br />
<% end %>
<% for c in @characters %>
<hr/>
<a name="<%= c.character_no -%>"></a><h2><%= c.character_no -%>：<%= c.name -%>：<%= originators[c] -%>：<%= c.qualification -%><br /></h2>
<table border=1 cellspacing=0>
    <tbody>
        <tr>
          <th>PC名</th><th>イベント名</th><th>初期根源力</th><th>リザルト根源力</th><th>補足</th>
        </tr>
        <%   for ur in c.used_results.sort_by{|r| r[:id]} -%>
        <tr>
          <td><%= ur.pc_name -%></td><td><%= ur.event_name.html_safe -%></td>
          <td align="right"><%= ur.initial == 0 ? '-' : ur.initial -%></td>
          <td align="right"><%= ur.result == 0 ? '-' : ur.result -%></td>
          <td><%= ur.note.html_safe if ur.note -%></td>
        </tr>
        <%   end -%>
        <tr>
          <td>根源力計</td><td>-</td><td align="right"><%= initial = c.sum_initials -%></td>
          <td align="right"><%= urs = c.sum_used_results %></td><td align="right">小計 <%= initial + urs %></td>
        </tr>
    </tbody>
</table>
<br />
<table border=1 cellspacing=0>
    <tbody>
        <tr>
            <td>イベント名</td><td>リザルト</td><td>アイテム</td><td>補足</td>
        </tr>
<%   for r in c.results.sort_by{|r|r.position} -%>
        <tr>
            <td><%= link_to '■' , :action=>:results_by_event ,:id => params[:id] , :result_id => r[:id]%>
            <%= r.event ? link_to(r.event_name , r.event.results_url) : r.event_name %></td>
            <td align="right"><%= r.not_yet ? "(#{r.originator})" : r.originator -%></td>
            <td><%= r.magic_item.html_safe -%></td>
            <td>
              <%= r.note.html_safe %>
              <%if !r.url.nil? && r.url.strip != "" %>
                <%= link_to "(参照URL)" , r.url -%> 
              <% end%>
                <%= "（リザルト未提出）" if r.not_yet %>
            </td>
         </tr>
<%
     end -%>
        <tr>
            <td>根源力小計</td><td align="right"><%= c.sum_results -%></td><td></td><td></td>
        </tr>
        <tr>
            <td>根源力合計</td><td align="right"><%= c.sum_results + initial + urs -%></td><td></td><td></td>
        </tr>
    </tbody>
</table>
<% if controller.has_role?(:herald) %>
<%= link_to "[ 根源力編集 ]" , :action => :edit_result , :controller => :characters , :nation_id => params[:id] , :id => c %>
<% end %>
<% end %>
