<pre>
<%
 originators = {}
 for c in @characters
   originators[c]=c.sum_proper_originator %>
[[<%= c.character_no -%>：<%= c.name -%>>国民根源力表#<%= c.character_no -%>]]：<%= originators[c] -%>
<% end %>
<% for c in @characters 
     used_initial = 0
     used_result = 0
     result = 0
%>
----
#aname(<%= c.character_no -%>){} **<%= c.character_no -%>：<%= c.name -%>：<%= originators[c] -%>：<%= c.qualification -%>

|PC名|イベント名|初期根源力|リザルト根源力|補足|
<%   for ur in c.used_results.sort_by{|u|u[:id]} -%>
|<%= ur.pc_name -%>|<%= ur.event_name -%>|RIGHT:<%= ur.initial == 0 ? '-' : ur.initial -%>|RIGHT:<%= ur.result == 0 ? '-' : ur.result -%>|<%= ur.note -%>|
<%   end -%>
|根源力計|-|RIGHT:<%= initial = c.sum_initials  -%>|RIGHT:<%= urs = c.sum_used_results  %>|RIGHT:小計 <%= initial + urs %>|

|イベント名|リザルト|アイテム|補足|
<%   for r in c.results.sort_by{|u|u.position} -%>
|<%= r.event_name -%>|RIGHT:<%= r.not_yet ? "(#{r.originator})" : r.originator -%>|<%= r.magic_item -%>|<%= r.note -%><%
		if !r.url.nil? && r.url.strip != "" 
			-%>[[(参照URL)><%=r.url -%>]]<% 
		end 
		%><%= "(リザルト未提出)" if r.not_yet -%>|
<%   result += r.originator -%>
<%   end -%>
|根源力小計|RIGHT:<%= c.sum_results -%>|||
|根源力合計|RIGHT:<%= c.sum_proper_originator  -%>|||
<% end %>
</pre>