<% @link = link_to "リザルト一括入力", :action => :import_results_form , :id=>params[:id]   %>
<h1>リザルト一括入力：登録結果</h1>


<table>
<tbody>
<tr>
  <th>国民番号</th>
  <th>キャラクター名</th>
  <th>転用根源力</th>
  <th>イベント根源力</th>
  <th>合計</th>
  <th>編集画面へ</th>
</tr>
<% for ch in @characters %>
<tr>
  <td> <%= ch.character_no %></td>
  <td> <%= ch.name %> </td>
  <td> <%= ch.sum_initials + ch.sum_used_results %> </td>
  <td> <%= ch.sum_results %> </td>
  <td> <%= ch.sum_proper_originator %> </td>
  <td> <%= link_to "[=>]" , :controller => :characters , :action => :edit_result , :id=> ch %> </td>
</tr>
<% end %>

</tbody>
</table>

<strong>確認：根源力の合計は本来と一致していますか？</strong>

<br/>
<%= link_to "[一括入力：URL入力へ戻る]" ,:action => :import_results_form , :id=>params[:id] %>
<br/><br/>