<% @link = link_to "テキストから取り込み<", :id=>params[:id]   %>
<h1>テキストから取り込み</h1>

<table border=1 cellspacing=0>
<tbody>
<% for row in @rows %>
<tr>
  <% for cell in row %>
    <td>
        <%= cell %>    
    </td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>

