<% @link = link_to "吏族書式から取り込み", :action => :import_results_form , :id=>params[:id]   %>
<h1>吏族書式から取り込み：対象キャラを手動選択</h1>

<%= form_tag :action => :import_by_manual , :id => params[:id] do %>
<% index = 0 %>
<% for table in @tables %>
<%= characters_select_tag "tables[#{index}][character]" , params[:id],true %>
<%= check_box_tag "tables[#{index}][append]" , "1" %> 既存の履歴を消さず、この表の内容を追記する。
<br/><br/>
<%= table %>
<%= hidden_field_tag "tables[#{index}][xpath]" , table.xpath %>
<%= hidden_field_tag "tables[#{index}][url]" , @table_url[table] %>
<% index += 1%>
<hr>
<% end %>

<%= submit_tag "取り込み実行" %>
<% end %>
<br/><br/>