<% @link = link_to "吏族書式から取り込み", :id=>params[:id]   %>
<h1>吏族書式から取り込み：URL入力</h1>

<%= form_tag :action => :obtain_results_table, :id => params[:id] do %>
対象URL：<br/><%= text_area_tag 'url' ,nil,:size=>"80x5" %><br/><br/>
<%= submit_tag " OK "  %><br/>
<h2>使い方</h2>
吏族チェック用に提出した根源力履歴表のURLを入力して下さい。<br/>
改行して複数のURLを並べることもできます。

<p style="color: red">
　登録した後、根源力合計が本来と合致しているか、必ずチェックしてください。<br/>
　特異な書き方をしている場合（根源力の数字が２バイト文字、余計な空白存在、括弧書き、取り消し線をかけて合計から除外,etc..）、
データベースに正しく反映されません。
</P>
取り込み結果が一致しない場合は、取り込んでから個別で修正して下さい。

<br/><br/>
<% end %>

