<% @link = link_to "テキストから取り込み<", :id=>params[:id]   %>
<h1>テキストから取り込み</h1>

<%= form_tag :action => :confirm_results_text, :id => params[:id] do %>
対象プレイヤー：<%= characters_select_tag "character" , params[:id],false %><br/>
リザルト種別：　
<label name="used"> <%= radio_button_tag "result_type","used",false %> 転用根源力 </label> 
<label name="result"> <%= radio_button_tag "result_type","result",true %> イベントリザルト</label>
<br/>
区切り文字：
<label name="colon"> <%= radio_button_tag "separator","：",true %> "："（全角コロン) </label> 
<label name="camma"> <%= radio_button_tag "separator",",",false %> ","（半角カンマ) </label>
<label name="tab"> <%= radio_button_tag "separator"," ",false %> " "（半角空白） </label>
<label name="tab"> <%= radio_button_tag "separator","tab",false %> TAB </label>
<br/>
入力：<br/><%= text_area_tag 'text' ,nil,:size=>"80x15" %><br/><br/>
<%= submit_tag " OK "  %><br/>
<h2>使い方</h2>

吏族書式の根源力表から取り込めない場合に、根源力履歴をテキストから一括します。<br/>
<br/>
「リザルト種別」で、取り込む根源力の種別を選択します。<br/>
・「転用根源力」：「PC名：イベント名：初期根源力：リザルト根源力：備考」という並びでデータを解釈します。<br/>
・「イベントリザルト」：「イベント名：リザルト根源力：取得マジックアイテム：備考」という並びでデータを解釈します。<br/>
<br/><br/>
「区切り文字」で、データを区切る文字を４種類から指定できます。<br/>




<% end %>

