<h2>藩国所有</h2>

<%= link_to '[藩国所有アイテム管理]' , owner_account_object_registries_path(@nation.owner_account) %>
<%= link_to ' (wiki書式出力)', :action => :items_by_nation_for_wiki , :id => @nation  if has_role?(:item_officer) %>
<table border=1>
  <tr>
    <th> アイテム名 </th> <th> 入手履歴 </th> <th> 使用履歴 </th><th> 所持数 </th>
  </tr>
  <% @nation.owner_account.object_registries.owned_objects.select{|obj|obj[:number] > 0}.each do |obj| %>
    <tr>
      <td><%=link_to obj[:name] , :controller => :object_definitions , :action => :owners_by_name , :name => obj[:name] %>
           <%= link_to '[図鑑]' ,'http://www35.atwiki.jp/marsdaybreaker/?page=' + URI.encode(obj[:name]) %> </td>
      <td><%= got_items(obj[:registries]) %></td>
      <td><%= used_items(obj[:registries]) %></td>
      <td><%= obj[:number] %></td>
    </tr>
<% end %>
</table>

<h4> <%= link_to_toggle('消費済みアイテム' ,'consumed_by_nation') %></h4>
<div id='consumed_by_nation' style="overflow: visible; display: none;">
<table border=1>
  <tr>
    <th> アイテム名 </th> <th> 入手履歴 </th> <th> 使用履歴 </th><th> 所持数 </th>
  </tr>
  <% @nation.owner_account.object_registries.owned_objects.select{|obj|obj[:number] <= 0}.each do |obj| %>
    <tr>
      <td><%=link_to obj[:name] , :controller => :object_definitions , :action => :owners_by_name , :name => obj[:name] %>
 <%= link_to '[図鑑]' ,'http://www35.atwiki.jp/marsdaybreaker/?page=' + URI.encode(obj[:name]) %> </td>
      <td><%= got_items(obj[:registries]) %></td>
      <td><%= used_items(obj[:registries]) %></td>
      <td><%= obj[:number] %></td>
    </tr>
<% end %>
</table>

</div>
<br/>
<% bonds_hash = @bonds.group_by(&:bond_type)
  smiles = bonds_hash['微笑青空勲章'] || []
  moons = bonds_hash['優月夜曲勲章'] || []
  etc = bonds_hash['その他'] || []
%>
<% if (smiles && smiles.size).to_i + (moons && moons.size).to_i > 0 %>
<p>
<h2> 勲章等 </h2>

<%
def bond_table_row_tag(bonds)
  result = ''
  header_flag = true
  for bond in bonds
    result << "<tr> \n"
    if header_flag
      result << "<td rowspan=#{bonds.size}> #{bond.bond_type} </td>"
      header_flag = false
    end
    result << <<-EOT
  <td> #{ (bond.old_character_name + "⇒") unless bond.old_character_name.blank? } 
     #{ bond.character.name }
     #{ link_to('[根拠]' , p_to_nisetre(bond.character_name_changing_url) )unless bond.character_name_changing_url.blank? }
     #{ link_to('【能力】' , bond.character_ace) if  bond.character_ace } <br/>
     #{(bond.old_ace_name + "⇒") unless bond.old_ace_name.blank? }
      #{  bond.ace.name }
     #{ link_to('[根拠]' , p_to_nisetre(bond.ace_name_changing_url ))unless bond.ace_name_changing_url.blank? }
     #{ link_to('【能力】' , bond.ace) if bond.ace.object_definition && !bond.ace.object_definition.zukan_definition_url.blank?} <br/>
  </td>
  <td> #{ to_note_str bond.date_note , "[参照]" } </td>
</tr>
EOT
  end
  result.html_safe
end
%>
<table border=1>
  <tr>
    <th> 勲章 </th>
    <th> PC・ACE </th>
    <th> 入手日 </th>
  </tr>
<%= bond_table_row_tag(smiles) %>
<%= bond_table_row_tag(moons) %>
<%= bond_table_row_tag(etc) %>
</table>
<br/>
</p>
<% end %>
  
  <%
  properties = @characters_props.select{|p| p[:number] >0 }.sort_by{|p| p[:created_at]}.group_by{|prop| prop[:name]} 
  consumed = @characters_props.select{|p| p[:number] <=0 }.sort_by{|p| p[:created_at]}.group_by{|prop| prop[:name]} 
%>
<p>
<h2>個人所有</h2>
<table border=1>
  <tr>
    <th> アイテム名 </th> <th> 備考 </th><th> 所有者 </th><th> 使用履歴 </th><th> 所持数 </th>
  </tr>
  <%for name in properties.keys.sort_by{|k| properties[k][0] ? properties[k][0][:hurigana] : '' }
      rows = properties[name] %>
    <tr>
  <%= render :partial => 'items_for_characters' , 
    :locals => {:rows => rows , :name => name } %>
<% end %>
</tr>
</table>
<h4> </h4><%= link_to_toggle( '消費済みアイテム' ,'consumed_by_characters') %> </h4>
<div id='consumed_by_characters' style="overflow: visible; display: none;">
<table border=1>
  <tr>
    <th> アイテム名 </th> <th> 備考 </th><th> 所有者 </th><th> 使用履歴 </th><th> 所持数 </th>
  </tr>
  <%for name in consumed.keys.sort_by{|k| consumed[k][0] ? consumed[k][0][:hurigana] : '' }
      rows = consumed[name] %>
    <tr>
  <%= render :partial => 'items_for_characters' , 
    :locals => {:rows => rows , :name => name } %>
<% end %>
</tr>
</table>

</div>
</p>
<% @link = link_to '国別所有アイテム一覧' %>
<% @nation_id = @nation[:id] %>
