
<textarea rows=20 cols=100>
**藩国所有

|アイテム名|入手履歴|使用履歴|現在所持数|
<% @nation.owner_account.object_registries.owned_objects.select{|obj|obj[:number] > 0}.each do |obj| -%>
|[[<%=obj[:name]%>]]|<%= got_items_for_wiki(obj[:registries]) %>|<%=used_items_for_wiki(obj[:registries])%>|<%=obj[:number]%>|
<% end -%>

***消費済みアイテム
#region
|アイテム名|入手履歴|使用履歴|現在所持数|
<% @nation.owner_account.object_registries.owned_objects.select{|obj|obj[:number] <= 0}.each do |obj| -%>
|[[<%=obj[:name]%>]]|<%= got_items_for_wiki(obj[:registries]) %>|<%=used_items_for_wiki(obj[:registries])%>|<%=obj[:number]%>|
<% end -%>
#endregion

</textarea>

<br/>
<% bonds_hash = @bonds.group_by(&:bond_type)
  smiles = bonds_hash['微笑青空勲章'] || []
  moons = bonds_hash['優月夜曲勲章'] || []
  etc = bonds_hash['その他'] || []
-%>
<% 
def bonds_table_rows_for_wiki(bonds)
  result = ''
  header_flag = true
  for bond in bonds
    result << "|"
    if header_flag
      if bond.bond_type == 'その他'
         result << "#{bond.bond_type}|"
      else
        result << "[[#{bond.bond_type}]]|"
      end
      header_flag = false
    else
      result << "~|"
    end
    ace_def = bond.ace.object_definition
    result << "#{ (bond.old_character_name + '⇒') unless bond.old_character_name.blank? }" + 
     "#{ bond.character_name_changing_url.blank? ? bond.character.name : url2link_for_wiki(bond.character_name_changing_url , bond.character.name)} " + 
     "#{('&color(blue){【' + url2link_for_wiki(bond.character_ace.zukan_definition_url, '能力' ) + '】}') if bond.character_ace }&br()" + 
     "#{('&color(blue){' + bond.old_ace_name + '}⇒') unless bond.old_ace_name.blank? }" +
     "&color(blue){#{ bond.ace_name_changing_url.blank? ? bond.ace.name : url2link_for_wiki(bond.ace_name_changing_url , bond.ace.name)}} " + 
     "#{('&color(blue){【' + url2link_for_wiki( ace_def.zukan_definition_url, '能力' ) + '】}')if ace_def && !ace_def.zukan_definition_url.blank? }|" + 
    "#{ url2link_for_wiki bond.date_note , '[参照]' }|\n"
  end
  result
end
-%>
<textarea rows=20 cols=100>
**勲章等
||保有者・&color(blue){個人ＡＣＥ}|入手日|
<%=  bonds_table_rows_for_wiki(smiles)-%>
<%=  bonds_table_rows_for_wiki(moons) -%>
<%=  bonds_table_rows_for_wiki(etc)%>
</textarea>

<%
  properties = @characters_props.select{|p| p[:number] >0 }.sort_by{|p| p[:created_at]}.group_by{|prop| prop[:name]} 
  consumed = @characters_props.select{|p| p[:number] <=0 }.sort_by{|p| p[:created_at]}.group_by{|prop| prop[:name]} 
%>

<textarea rows=20 cols=100>
**個人所有

|アイテム名|入手履歴|保有者|使用履歴|現在所持数|
<% for name in properties.keys.sort_by{|k| properties[k][0] ? properties[k][0][:hurigana] : '' }
     rows = properties[name] 
     row_header = "|[[#{name}]]|"
  -%>
<%   for row in rows -%>
<%= row_header %><%= got_items_for_wiki(row[:registries]) %>|<%=row[:owner_account].owner.name -%>
|<%= used_items_for_wiki(row[:registries]) %>|<%=row[:number] %>|
<%     row_header = "|~|" 
     end -%>
<% end -%>

***消費済みアイテム
#region
|アイテム名|入手履歴|保有者|使用履歴|現在所持数|
<% for name in consumed.keys.sort_by{|k| consumed[k][0] ? consumed[k][0][:hurigana] : '' }
     rows = consumed[name] 
     row_header = "|[[#{name}]]|"
  -%>
<%   for row in rows -%>
<%= row_header %><%= got_items_for_wiki(row[:registries]) %>|<%=row[:owner_account].owner.name -%>
|<%= used_items_for_wiki(row[:registries]) %>|<%=row[:number] %>|
<%     row_header = "|~|" 
     end -%>
<% end -%>
#endregion
</textarea>

<% @link = link_to '国別所有アイテム一覧(wiki書式)' %>