<h1>文殊　--アイドレス統合データベース v0.10 --</h1>

<%
  columns = [:name,:king,:short_name,:race,:belong]
  col_names = ['藩国名','藩王','省略名','人のアイドレス','所属']
   %>
<table>
  <tr>
  <% for column in col_names %>
    <th><%= column %></th>
  <% end %>
  </tr>
  
<% for nation in @nations.sort{|a, b| a.id <=> b.id} %>
  <tr>
    <td><a href="<%=nation.homepage -%>"><%= nation.name -%></a></td>
  <% for column in columns[1..5] %>
    <td><%=h nation.send(column) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => nation %></td>
    <td><%= link_to '根源力表@wiki', :action => 'format', :id => nation %></td>
    <td><%= link_to '戦力表 PukiWiki', :action => 'war_potential', :id => nation %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => nation %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => nation }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @nation_pages.current.previous } if @nation_pages.current.previous %>
<%= link_to 'Next page', { :page => @nation_pages.current.next } if @nation_pages.current.next %> 

<br />

<%= link_to 'New nation', :action => 'new' %>
