<% total = @nation.owner_account.miles %>
<h2>藩国別マイル一覧</h2>
<table border=1>
  <tr>
    <th>
      番号
    </th>
    <th>
      口座名
    </th>
    <th>
      所持マイル
    </th>
  </tr>
  <tr>
    <td><%= sprintf("%02d" , @nation[:id]) %> </td>
    <td><%= @nation.name %> </td>
    <td align=right><%= link_to @nation.owner_account.miles , owner_account_mile_changes_path(@nation.owner_account,:turn => 'last') %> </td>
  </tr>
  <% for c in @characters %>
    <tr>
      <td><%= c.character_no %> </td>
      <td><%= c.name %> </td>
      <td align=right><%= link_to c.owner_account.miles , owner_account_mile_changes_path(c.owner_account,:turn => 'last') %> </td>
<% total += c.owner_account.miles -%>
    </tr>
  <% end %>
  <tr>
    <td colspan=2><font size=+1><strong>合計：</strong></font></td>
    <td align=right><font size=+1><strong><%= total %> </strong></font></td>
  </tr>
</table>

<h2>（テキスト書式） </h2>
番号：口座名：所持マイル<br/>
<%= sprintf("%02d",@nation[:id]) %>：<%=@nation.name%>：<%=@nation.owner_account.miles%><br/>
<% for c in @characters %>
<%= c.character_no %>：<%= c.name %>：<%= c.owner_account.miles %><br/>
<% end %>

<% @link = link_to "藩国別マイル一覧" %>
