<% @link = link_to "吏族書式から取り込み", :action=> :import_results_form , :id=>params[:id]   %>
<h1>吏族書式から取り込み：確認</h1>

<%= form_tag :action => 'import_results', :id => params[:id] do %>
対象URL ：<% for url in @target_urls %>
 <%= link_to url, url %>
 
<% end %>

<br/>
<%= hidden_field_tag "target_url",@target_url %>
内容：
<hr>
<% for key  in @elements.keys.sort %>

    <% if @elements[key] %>
        <% for idx in [0,1] %>
            <%= key %>: <%= @elements[key]%> (<%= @elements[key].xpath %> <br/>
            <% if @tables[key][idx] %>
                 #表<%= idx+1 %><strong><%= kind_of_table(@tables[key][idx]) %> </strong>
                    <%= check_box_tag "check[#{key}][#{idx}][ignore]" %>登録しない。（チェックすると、この表の根源力は登録されません） 
                    <%= hidden_field_tag "check[#{key}][#{idx}][ignore]" , "0" %>
                    <%= check_box_tag "check[#{key}][#{idx}][append]" , "1" %> 既存の履歴を消さず、この表の内容を追記する。<br/>
                    <%= hidden_field_tag "check[#{key}][#{idx}][append]" , "0" %>
                    <%= @tables[key][idx] %>
                    <%= hidden_field_tag "tables[#{key}][#{idx}][url]" , @tables_url[@tables[key][idx]] %>
                    <%= hidden_field_tag "tables[#{key}][#{idx}][xpath]",@tables[key][idx].xpath %>
                    <%= checksum(@tables[key][idx],@characters[key] )%>
            <% end %>
    <br/>
        <% end %>
    <span style="color: green">
              合計：転用根源力(<%=@characters[key].sum_initials + @characters[key].sum_used_results%>)+(<%= @characters[key].sum_results %>)=<%=@characters[key].sum_proper_originator %>
    </span>
    <hr>
    <% end%>
<% end %>

<%= submit_tag "まとめて登録" %> 
<% end %>
<br/> <br/>
<%= button_to "手動判別" , :action => :import_by_manual_form ,:target_urls => @target_url , :id => params[:id]%>
(ページに含まれている表に、それぞれ「誰の根源力か」を指定できます。）
<br/>