<% @link = link_to "リザルト一括入力",:action => :register_result_form , :id=>params[:id]   %>
<h1>リザルト一括入力</h1>

<%= form_tag :action => :confirm_register_result, :id => params[:id] do %>
<table>
<tr>
<td align=right>イベント名：</td><td><%= text_field_tag 'event_name' ,nil , :size => 80%></td>
</tr>
<tr>
<td align=right>デフォルト根源力：</td><td><%= text_field_tag 'default_originator' %> (各PCの根源力リザルト数値がない時に、この値が一括して適用されます。）<br/>
</tr>
<tr>
<td align=right>入手マジックアイテム：</td><td><%= text_field_tag 'magic_item' %> (こちらを入力した場合、全員が入手した扱いになります）<br/>
</tr>
<tr>
<td align=right>リザルト提出URL：</td><td><%= text_field_tag 'reference_url' , nil , :size => 80 %> <br/>(全ての登録の参照URLがこの内容になります）<br/>
</tr>
</table>リザルト提出書式：<br/>

<%= text_area_tag :submit_format, nil,:size=>"60x30" %>

<br/>
<%= check_box_tag :not_yet %>未提出扱い（登録するが根源力に加算しない）
<br/>
<br/>
<%= submit_tag '提出書式を解析' %>
<% end %>

<h2>説明</h2>
<p>
芝村さんにリザルトを提出する際の共通書式をここにコピペする事で、１つのイベントでもらったリザルトを一括で入力できます。
</p>

<h2>使いかた</h2>
<ol>
<li>CWTG 上級掲示板に、指定されたテキスト書式でリザルトを記述し、投稿する。</li>
<li>「イベント名」欄を入力する。(「イベント番号(あれば）＋イベント名」の形が望ましい</li>
<li>投稿記事のURLを「リザルト提出URL」に入力する。</li>
<li>もしリザルトで全員が入手したマジックアイテムがあるなら、「入手マジックアイテム」欄を入力する、
<li>CWTGに投稿した記事をコピーして、「リザルト提出書式」の中に貼り付ける。</li>
<li>「提出書式を解析」ボタンを押す</li>
<li>次の画面に移り、提出書式を解釈した内容が画面に表示されるので、その内容を確認する。
<li>正しく解釈されていれば「OK」を、書式入力に誤りがあれば「前の画面に戻る」を押す。</li>
</ol>

「未提出扱い」をチェックしておくと、リザルトを登録しても戦力表などの根源力合計には加算されません。<br/>
先にデータベースに登録だけしておきたい場合にどうぞ。
<br/><br/>

<h2>解析ルール</h2>
<ol>
<li>行頭から”(７桁の半角数字)：PC名：（任意文字列）”となっていない行を無視する。":"（コロン）は全角とする。
<li>（任意文字列）もまた、":"（全角コロン）で区切られているものとする。
<li>行頭の国民番号によるキャラクターが文殊に登録されていない場合、その行は無視する。
<li>該当国以外の国民番号が入力された場合、その行は無視する。
<li>コロンで区切られたそれぞれの文字列について、以下のルールで解釈する。
<ol>
  <li><strike>"http://"ないし"ttp://"から始まる文字列：参照URL （これを含む行は文殊登録の際は無視される、上記のリザルト提出URLが参照URLとして入力される）</strike>
  <li><strike>"同上"を含む文字列： これを含む行は文殊登録の際は無視される、</strike>（止めました。無視せず、以下の解釈を実行します）
  <li>半角数字の羅列：根源力
  <li>上記以外：備考欄
</ol>
</ol>

