<pre>
国民番号：名前：アイドレス（人＋職業＋職業＋職業＋職業４）：根源力(+職業４修正）：体格：筋力：耐久力：外見：敏捷：器用：感覚：知識：幸運：装甲体格：装甲耐久力：白兵戦体格：白兵戦筋力：近距離敏捷：近距離筋力：中距離感覚：中距離知識：遠距離敏捷：遠距離感覚：詠唱器用：詠唱知識：装甲燃料：白兵燃料：近距離燃料：中距離燃料：遠距離燃料：詠唱燃料
<% for c in @characters 
  ji = c.job_idress -%>
<%= c.character_no 
  -%>：<%= c.name 
  -%>：<%= c.inspect_idresses + (c.personal_idress ? "＋"+c.personal_idress.name : "") 
  -%>：<%= originator_str(c) 
  -%>：<% for col in Job::Abilities +
                [:phy,:dur,:phy,:str,:agi,:str,:sen,:edu,:agi,:sen,:dex,:dur] do
                -%><%= c.sum_ability(col) %>：<%
         end
   %>：：：：：
<% end -%>
</pre>