<% @link = sprintf("%s > %s" , 
        link_to("イベント名一覧#{params[:id] ==  'admin' ? '(全国範囲）' : ''}" , :action => :event_list , :id => params[:id] ) ,
        link_to("イベント別リザルト一覧",:action => :results_by_event ,:result_id => @result ) )%>
<h1>イベント別リザルト一覧</h1>

<p>
イベント名：<%= @result.event_name %>
</p>
<p>
<% sum = 0 %>
<% count = 0 %>
<table border=1 cellspacing=0>
<tbody>
  <tr>
    <th>国民番号</th><th>キャラクター名</th><th>リザルト根源力</th><th>マジックアイテム</th><th>備考</th><th>適用状態</th><th>リンク</th>
  </tr>
<% reference_result = nil %>
<% for r in @results %>
<% next if r.character.nil? %>
<% reference_result = r %>
  <tr>
    <td><%= r.character.character_no %> </td>
    <td><%= r.character.name -%> </td>
    <td align=right><%= r.originator %> </td>
    <td><%= r.magic_item %> </td>
    <td><%= r.note %> </td>
    <td><%= r.not_yet ? "未提出" : "提出済" %> </td>
    <td><%= link_to "[根源力表]" , :action => :format , :anchor => r.character.character_no,:id => r.character.nation %>
        <% if controller.has_role?(:herald) %>
          <%= link_to "[編集]" ,:controller => :characters , :action => :edit_result , :id => r.character %>
        <% end %>
    </td>
  </tr>
<% sum += r.originator.to_i %>  
<% count += 1%>
<% end %>
</tbody>
</table>

(根源力合計：<%= sum %> )<br/><br/>

テンダイスへの関連付け：<%= if r.event 
  link_to r.event.name , r.event.results_url 
else
  '（なし）'
end %><br/><br/>
<% if controller.has_role?(:herald) %>
  <%= button_to "全て未提出にする" , {:action=>:change_result_state ,
                                :result_id => reference_result ,
                                :id => params[:id] , 
                                :state =>"1"},
                            :confirm => "このリザルトを全て未提出とします。よろしいですか？" 
                            %>
  <%= button_to "全て提出済みにする" , {:action=>:change_result_state ,
                                  :result_id => reference_result ,
                                  :id => params[:id] , 
                                  :state => "0" },
                            :confirm => "このリザルトを全て提出済とします。よろしいですか？" 
                            %>
  <%= button_to "まとめて削除" , {:action=>:delete_results_by_event ,
                             :result_id => reference_result ,
                             :id => params[:id]},
                            :confirm => "このリザルトを全て削除します。よろしいですか？" 
                            %>
  <%= form_tag :action => :update_results_by_event, :result_id => reference_result , :id => params[:id] do %>
    <%= submit_tag "まとめて変更" %> : <%= 
        select_tag "column" , options_for_select([["イベント名" ,:event_name ],
                                                 ["根源力" , :originator  ],
                                                 ["マジックアイテム" , :magic_item] ,
                                                 ["備考" , :note],
                                                 ['参照URL',:url ]] ) %>　：　<%= 
        text_field_tag "value" , "" , :size=>80 %>
  <% end %>
  <%= link_to 'テンダイスへの関連付けを変更する' , :controller => :admin , :action => :select_relation_to_result ,
                "result_item[#{reference_result[:id]}]"  => reference_result[:id]%>
<% end %>
<br/>
</p>
