<%= @link = nil %>

<p><h1><%= @nation.name %></h1> </p>
<p><b> ホームページ:</b> <a href='<%= @nation.homepage -%>'> <%=@nation.homepage -%> </a></p>
<p><b> 藩王：</b> <%= @nation.king -%> </p>

<hr/>
<%= render( :partial => 'information/last_information')  %>
<hr/>
<ul>
  <li><%= link_to '国民一覧' , nation_characters_path( @nation )  %>
    <%= link_to '(個人修正一覧)' , :controller => 'characters' , :action => 'bonus_list', :nation_id => @nation %> </li>
  <li><%= link_to '所持マイル一覧' ,miles_nation_path(@nation) %><br/></li>
  <li><%= link_to 'イグドラシル' ,:controller => 'yggdrasills' , :action => 'index' , :owner_account_id => @nation.owner_account.id %></li>
  <li><%= link_to 'コマンドリソース' , owner_account_command_resources_path(@nation.owner_account ) %></li>
  <li><%= link_to '着用アイドレス変更' ,:action => 'edit_weared_idress', :id => @nation %><br/></li>
  <li><%= link_to 'ターン別着用アイドレス登録' ,nation_idress_wearing_tables_path(@nation)%>
      <%#= link_to '(PukiWiki書式出力)' ,:action => 'weared_idress_pukiwiki', :id => @nation %> <br/></li>
<% if controller.has_role?(:herald ) %>
  <li><%= link_to '藩国情報編集', :action => 'edit', :id => @nation %> </li>
  <li><%= link_to 'リザルト提出書式で登録', :action => 'register_result_form', :id => @nation %> </li>
  <li><%= link_to 'リザルト提出書式で個人修正を更新', :action => 'update_bonus_form', :id => @nation %> </li>
<% end %>

  <li><%= link_to '参加イベント名一覧' ,:action => :event_list , :id => @nation %> </li>
  <li><%= link_to '根源力表',  :action => 'format', :id => @nation %><br/>
      <%= link_to '(@wiki書式出力)',  :action => 'format_wiki', :id => @nation %><br/> </li>
<!--  <li><%= link_to '戦力表' ,:action => 'war_potential', :id => @nation %>
      <%= link_to '(PukiWiki書式出力)' ,:action => 'war_potential_pukiwiki', :id => @nation %><br/></li>-->
  <li><%= link_to '着用アイドレス表' ,:action => 'weared_idress', :id => @nation %>
      <%= link_to '(PukiWiki書式出力)' ,:action => 'weared_idress_pukiwiki', :id => @nation %> <br/></li>
  <!--<li><!%= link_to '共和国参謀提出形式(未完成）' ,:action => 'republic_format', :id => @nation %><br/>-->
    <!--<strong>注意：「白兵筋力」等の基本能力値以外の欄は、基本の能力値と同じ値で出力しています。<br/>-->
    <!--(着用アイドレスに応じた計算処理は行っていません）</strong></li>-->
  <li><%= link_to 'Vis・CombatCal書式出力 (c)羅幻藩国' ,:action => 'vcc_format', :id => @nation %>：部隊評価計算にどうぞ<br/>
  <%= render :partial => 'shared/owner_account_menu' , :locals => {:owner_account => @nation.owner_account } %>
  <li> マイル口座
    <%= link_to '（最新ターン)' , owner_account_mile_changes_path(@nation.owner_account,:turn => :last)%>
    <%= link_to "(T#{Property[:current_turn]}固定)" , owner_account_mile_changes_path(@nation.owner_account,:turn => Property[:current_turn])%>
    <%= link_to '(全て)' , owner_account_mile_changes_path(@nation.owner_account)%>
  <li> 財務表
    <%= link_to '（最新ターン)' , owner_account_cash_records_path(@nation.owner_account,:turn => :last)%>
    <%= link_to "(T#{Property[:current_turn]}固定)" , owner_account_cash_records_path(@nation.owner_account,:turn => Property[:current_turn])%>
    <%= link_to '(全て)' , owner_account_cash_records_path(@nation.owner_account)%><br/>
    <strong>（「藩国の要点」からのリンクには「（最新ターン）」のページをご利用下さい。）</strong>
</li>
  <li> <%= link_to '保有兵器一覧' , weapons_path(@nation.owner_account ) %>
  <%= link_to '(兵器登録履歴)' , owner_account_weapon_registries_path(@nation.owner_account) , :action => :list , :nation_id => @nation %></li>
  <li> <%= link_to '藩国保有アイテム一覧・管理' , :action => :items_by_nation , :id => @nation %>
       <%= link_to ' (wiki書式出力)', :action => :items_by_nation_for_wiki , :id => @nation  if has_role?(:item_officer) %>
  </li>
<br/>
  <li> <%= link_to '編集履歴' , owner_account_modify_commands_path(@nation.owner_account) %> </li>
</ul>
