<p style="clear: both">
<h1>"文殊"</h1>
 --アイドレス統合データベース v<%= MONJU_VERSION %> --

<hr/>
<%= render( :partial => 'information/last_information')  -%>
<hr/>
<div align=center>
<%= render :partial => 'search/form' %>
<%= link_to '[検索機能について]' , 'http://maki.wanwan-empire.net/search/form' %>
</div>
<hr>
</p>  
<div id="container">

　<div class="column" style="float: left">
<table style='align: center'>
  <tr>
     <th>藩国名</th>
     <th>=>藩国HP</th>
  </tr>

<% for nation in @republic_nations %>
  <tr>
    <td> <%= link_to sprintf("%02d %s",nation.id , nation.name ) , :action => 'show' ,:id => nation %></td>
    <td> <a href='<%= nation.homepage -%>'> [ =>> ] </a> </td>
  <tr>
<% end %>
</table>
　</div>

<div class="column" style="float: right">
<table style='align: center'>
  <tr>
     <th>藩国名</th>
     <th>=>藩国HP</th>
  </tr>
  
<% for nation in @empire_nations %>
  <tr>
    <td> <%= link_to sprintf("%02d %s",nation.id , nation.name ), :action => 'show' ,:id => nation %></td>
    <td> <a href='<%= nation.homepage -%>'> [ =>> ] </a> </td>
  <tr>
<% end %>

</table>
　</div>
</div>

  
<div id="container">  
<hr style="clear: both">
<div style="clear: both;float: left;width: 48%">
  <ul>
<li><%= link_to "各国資産残高" ,:controller => :uten , :action => :list %> </li>
<li><%= link_to "テンダイスエントリー一覧" ,:controller => :events , :action => :list %></li>
<li><%= link_to '天領(藩国未所属)' , :controller => :nations , :id => 0 , :action => :show  %></li>
<li><%= link_to "その他組織一覧" ,associated_nations_path %></li>
<li><%= link_to "オブジェクト定義一覧" ,:controller => :object_definitions , :action => :index %><br/>
    <%= link_to "（アイドレス３定義のみ一覧）" ,:controller => :object_definitions , :action => :index , :only => :i3%></li>
<li><%= link_to "ACE一覧" ,:controller => :aces , :action => :index %> </li>
<li><%= link_to "文殊検索" ,:controller => :search , :action => :form %></li>
<li><%= link_to "編集履歴（全域）" ,:controller => :modify_commands , :action => :index %></li>
<li><%= link_to "編成表管理機能" ,:controller => :troop_definitions , :action => :index , :turn => Property[:current_turn]%></li>
</ul>
</div>
<div style="float: right;width: 48%">
<% if controller.has_role?(:accountant) -%>
<ul>
<li><%= link_to "金庫番トップ" , controller: :owner_accounts , action: :facade  %></li>
<li><%= link_to "マイル・根源力のテキスト一括入力" ,:controller => :packaged_register , :action => :register_form %></li>
<% end -%>
<% if is_admin? %>
<li>  <%= link_to("管理者メニュー" , :controller => 'admin' , :action => 'index' ) %></li>
<% end %>
</ul>
</div>
</div>
