<% @link = link_to "テキストで個人修正を更新", :action => :update_bonus_form , :id=>params[:id]  %>
<h1>テキストで個人修正を更新</h1>

<%= form_tag :action => :confirm_bonus_text, :id => params[:id] do %>
能力種別：<%= select_tag "column" , 
  options_for_select([
    ['体格'  , :phy ] , 
    ['筋力'  , :str ] ,
    ['耐久力' , :dur] , 
    ['外見' , :chr ] , 
    ['敏捷' , :agi ] , 
    ['器用' , :dex ] , 
    ['感覚' , :sen ] , 
    ['知識' , :edu ] , 
    ['幸運' , :luc ] , 
    ['ＡＲ' , :ar ] 
    ]) %>
修正値:<%= text_field_tag 'bonus' ,nil,:size=>"3" %> <br/><br/>
対象者リスト：<br/><%= text_area_tag 'character_list' ,nil,:size=>"60x10" %><br/><br/>
<%= submit_tag " OK "  %><br/>

<h2>使い方</h2>

<ol>
<li>リザルト提出書式（国民番号：国民名：（その他））で、個人修正を追加する対象を入力する。</li>
<li>修正対象となる能力種別を選択する。</li>
<li>修正値を入力する</li>
<li>OKボタンを押す。</li>
<li>次の画面に移り、提出書式を解釈した内容が画面に表示されるので、その内容を確認する。</li>
<li>正しく解釈されていれば「OK」を、書式入力に誤りがあれば「前の画面に戻る」を押す。</li>
</ol>

<strong>注意：指定した修正値は、従来の値に加算されます。（上書きではありません）</strong>
<br/><br/>
<% end %>

