<% @link = link_to "テキストで個人修正を追加", :id=>params[:id]   %>
<h1>個人修正の加算結果</h1>


<table border=1 cellspacing=0>
  <tbody>
  <tr>
    <th rowspan=2> 国民番号 </th>
    <th rowspan=2> 国民名 </th>
    <th colspan=10>個人修正</th>
  </tr>
  <tr>
    <th> 体格</th> 
    <th> 筋力</th> 
    <th> 耐久力</th> 
    <th> 外見</th> 
    <th> 敏捷</th> 
    <th> 器用</th> 
    <th> 感覚</th> 
    <th> 知識</th> 
    <th> 幸運</th> 
    <th> ＡＲ</th> 
  </tr>
<% cols = Job::Abilities + [:ar] %>
<% for ch in @bonus_updated %>
  <tr>
    <td> <%= ch.character_no %> </td>
    <td> <%= ch.name %> </td>
　　<% for col in cols %>    
    <td>  <%= ch.attributes[col.to_s] %> </td>
  <% end %>
  </tr>
<% end %>
  </tbody>
</table>
<br/><br/>

