<% @link = link_to "VCC書式出力" -%>
<strong>
  <%= link_to "Vis・CombatCal #{Property['vcc_version'].to_s} （羅幻藩国提供）",Property['vcc_url'].to_s,{:target=>"_blank" }%>
 <br />
  <%= link_to "太元( v#{TaigenController::VERSION})", 'http://maki.wanwan-empire.net/taigen/edit' %>
</strong>
<pre>
<%- for ch in @characters 
  data = {}
  data[:number]=ch.character_no
  data[:name]=ch.name
  data[:job_idress]=ch.job_idress ? ch.job_idress.jobs.map{|y|y.name }.join('+') : '普通の人'
  data[:personal_idress]=ch.personal_idress.name if ch.personal_idress
  -%>
<%= format_soldier( data , params[:id]) -%>
<%- end -%>
</pre>

