<pre>
[[戦力リスト]]

<%= jst.strftime "%m%d%H%M" %>
,"国民番号","国家","名前","参加表明","根源力","着用アイドレス","体格","筋力","耐久力","外見","敏捷","器用","感覚","知識","幸運","補正","ﾊﾟｲﾛｯﾄ","ｺﾊﾟｲﾛｯﾄ","Ｐ/CP"
<% for c in @characters 
  ji = c.job_idress
  if ji
-%>
,"<%= c.character_no 
  -%>","<%= c.nation.short_name 
  -%>","<%= c.name 
  -%>","<%= c.intention 
  -%>","<%= originator_str(c) 
  -%>","<%= c.inspect_idresses + (c.personal_idress ? "＋"+c.personal_idress.name : "") 
  -%>",<% for col in Job::Abilities do-%>"<%= c.sum_ability(col) %>",<% end
  -%>"<%= character_mod_str c%>","<%= ji.pilot && !ji.copilot ? '○' : '' 
  -%>","<%= !ji.pilot && ji.copilot ? '○' : '' 
  -%>","<%= ji.pilot && ji.copilot ? '○' : '' -%>"
<% end
 end -%>
</pre>