<% @link = link_to "戦力リスト" %>

<br/>
[[戦力リスト]]<br/>

<%= jst.strftime "%m%d%H%M" %> <br/>
<table border=1 cellspacing=0>
<tbody>
<tr>
  <th>国民番号</th><th>国家</th><th>名前</th><th>参加表明</th><th>根源力</th><th>着用アイドレス</th>
  <th>体格</th><th>筋力</th><th>耐久</th><th>外見</th><th>敏捷</th><th>器用</th><th>感覚</th>
  <th>知識</th><th>幸運</th><th>補正</th><th>ﾊﾟｲﾛｯﾄ</th><th>ｺﾊﾟｲﾛｯﾄ</th><th>Ｐ/CP</th>
</tr>

<% for c in @characters 
  ji = c.job_idress -%>
<TR>
  <TD><%= c.character_no 
  -%></td><td><%= c.nation.short_name 
  -%></td><td><%= c.name 
  -%></td><td><%= c.intention 
  -%></td><td align="right"><%= originator_str(c) 
  -%></td><td><%= c.inspect_idresses + (c.personal_idress ? "＋"+c.personal_idress.name : "") 
  -%></td>
  <% for col in Job::Abilities do-%>
  <td align="right"><%= c.sum_ability(col) %></td>
  <% end -%>
  <td><%= character_mod_str c%></td><td><%= ji && ji.pilot && !ji.copilot ? '○' : '' -%></td>
  <td><%= ji && !ji.pilot && ji.copilot ? '○' : '' -%></td>
  <td><%= ji && ji.pilot && ji.copilot ? '○' : '' -%></td>
</tr>
<% end -%>
</tbody>
</table>
<p>
<%= link_to '藩国メニュー', :action => 'show', :id => params[:id] %> 
</p>