<pre>
<%= jst.strftime "%m月%d日%H時%M分更新" %>
,"国民番号","国民名","着用アイドレス","配置"
<% for c in @characters
   ji = c.job_idress -%>
,"<%= c.character_no 
-%>","<%= c.name 
-%>","<%
p_idress = ''
if c.inspect_idresses != '普通の人'
  p_idress = (c.personal_idress ? "＋"+c.personal_idress.name : "")
end
%><%= c.inspect_idresses + p_idress
-%>",""
<% end -%>
</pre>