<% @link = link_to "着用アイドレス表" %>
<%= jst.strftime "%m月%d日%H時%M分更新" %>
<table border=1 cellspacing=0>
<tr>
<th> 国民番号</th><th>国民名</th><th>着用アイドレス</th><th>配置</th>
</tr>

<% for c in @characters
   ji = c.job_idress -%>
<tr><td><%= c.character_no -%></td>
<td><%= c.name -%></td>
<%
p_idress = ''
if c.inspect_idresses != '普通の人'
  p_idress = (c.personal_idress ? "＋"+c.personal_idress.name : "")
end
%>
<td><%= c.inspect_idresses + p_idress -%></td>
<td></td>
</tr>
<% end -%>
</table>