<%= error_messages_for 'character' %>
<%
  @nations = Nation::select_list

%>

<!--[form:character]-->
<p><label for="job_idress_name">所属国：</label>
<%= select "character" , "nation_id",@nations %>

<p><label for="character_character_no">国民番号</label><br/>
<%= text_field 'character', 'character_no'  %></p>

<p><label for="character_name">キャラクター名</label><br/>
<%= text_field 'character', 'name'  %></p>

<p><label for="character_gender">性別</label><br/>
<label for='gender_male'>
  <%= radio_button :character , :gender , :male  %>:男
</label>
<label for='gender_female'>
  <%= radio_button :character , :gender , :female   %>:女
</label>
<label for='gender_undefined'>
  <%= radio_button :character , :gender , :undefined %>:未定義
</label>
</p>

<p><label for="character_race_type">人種</label><br/>
<label for='race_type_human'>
  <%= radio_button :character , :race_type , '人'  %>:人（PC)
</label>
  <label for='race_type_ace'>
    <%= radio_button :character , :race_type , '藩国滞在ACE'   %>:藩国滞在ACE
  </label>
<label for='race_type_cat'>
  <%= radio_button :character , :race_type , '猫'   %>:猫
</label>
<label for='race_type_dog'>
  <%= radio_button :character , :race_type , '犬' %>:犬
</label>
  <label for='race_type_karen'>
    <%= radio_button :character , :race_type , 'かれんちゃん' %>:かれんちゃん
  </label>
  <label for='race_type_fairy'>
    <%= radio_button :character , :race_type , 'フェアリー' %>:フェアリー
  </label>
</p>


<p><label for="character_name">プレイヤー名</label><br/>
<%= text_field 'character', 'player_name'  %></p>

<p><label for="character_qualification">保有資格</label><br/>
<%= text_field 'character', 'qualification' ,:size=>80%></p>

<p><label for="character_intention">参加意思
<%= select "character", "intention" ,["未確認","常時参加","逐次確認","不参加"] %>
</label><br/>

<p><label for="character_status">ステータス
<%= select "character", "status" ,["通常","不明","引退","死亡"] %>
</label><br/>


<p>個人修正<br/>
<label for="character_phy">体格:<%= text_field 'character', 'phy' , :size=>2 %> </label>
<label for="character_str">筋力:<%= text_field 'character', 'str' , :size=>2 %> </label>
<label for="character_dur">耐久力:<%= text_field 'character', 'dur' , :size=>2 %> </label>
<label for="character_chr">外見:<%= text_field 'character', 'chr' , :size=>2 %> </label>
<label for="character_agi">敏捷:<%= text_field 'character', 'agi' , :size=>2 %> </label>
<label for="character_dex">器用:<%= text_field 'character', 'dex' , :size=>2 %> </label>
<label for="character_sen">感覚:<%= text_field 'character', 'sen' , :size=>2 %> </label>
<label for="character_edu">知識:<%= text_field 'character', 'edu' , :size=>2 %> </label>
<label for="character_luc">幸運:<%= text_field 'character', 'luc' , :size=>2 %> </label>
<label for="character_ar">AR:<%= text_field 'character', 'ar' , :size=>2 %> </label>
</p>

<p><label for="character_note">特記事項</label><br/>
<%=  text_area :character, :note , :rows => 3 , :cols => 80 %>
</p>
  
<!--[eoform:character]-->

