<% @sum = 0 %>
<table>
<tr><th>イベント名</th><th> 根源力 </th><th> マジックアイテム</th><th> 参照URL </th><th> 備考 </th><th> 未提出 </th>
</tr>
<% result_set = @character.results.sort_by{|a| a.position }
for @result in result_set

%>
<tr id="row_<%=@result.position %>" >
  <td>
    <%= radio_button_tag 'target_row' , @result.id ,false , :onClick => "row_radio_clicked(#{@result.position});"%>
    <%= text_field "result[]", 'event_name', :size=>40 %>
  </td>
  <td>
    <%= text_field "result[]", 'originator' , :size=>6 %>
  </td>
  <td>
    <%= text_field "result[]", 'magic_item' , :size =>20 %>
  </td>
  <td>
    <%= text_field "result[]", 'url'  ,:size=>30 %>
  </td>
  <td>
    <%= text_field "result[]", 'note' ,:size=>30 %> 
  </td>
  <td>
    <%= check_box "result[]", 'not_yet' %> 
  </td>
  <td>
    <%= link_to '削除', { :action => 'destroy_result', :id => @result }, :confirm => '削除します。よろしいですか？?', :method => :post %>
  </td>
</tr>
<% @sum += @result.originator unless @result.not_yet %>
<% end %>
</table>

根源力小計：<%= @sum %> <br/>
根源力合計：<%= @character.sum_proper_originator  %>

