  <td>
    <%= radio_button_tag 'target_row' , result.id ,selected , :onClick => "row_radio_clicked(#{result.position});"%>
    <%= text_field "result", 'event_name', :size=>40 %>
  </td>
  <td>
    <%= text_field "result", 'originator' , :size=>6 %>
  </td>
  <td>
    <%= text_field "result", 'magic_item' , :size =>20 %>
  </td>
  <td>
    <%= text_field "result", 'url'  ,:size=>30 %>
  </td>
  <td>
    <%= text_field "result", 'note' ,:size=>30 %> 
  </td>
  <td>
    <%= check_box "result", 'not_yet' %> 
  </td>
  <td>
    <%= link_to '削除', { :action => 'destroy_result', :id => result }, :confirm => '削除します。よろしいですか？?', :method => :post %>
  </td>