
<table>
<tr><th>PC名</th><th> イベント名 </th><th> 初期根源力 </th><th> 根源力</th><th> 参照URL </th><th> 補足 </th><th> </th>
</tr>
<% for @used_result in @character.used_results%>
<tr>
  <td>
    <%= text_field "used_result[]", 'pc_name' ,:size=>20%>
  </td>
  <td>
    <%= text_field "used_result[]", 'event_name' , :size=>20 %>
  </td>
  <td>
    <%= text_field "used_result[]", 'initial' , :size=>6 %>
  </td>
  <td>
    <%= text_field "used_result[]", 'result' , :size=>6 %>
  </td>
  <td>
    <%= text_field "used_result[]", 'url' ,:size=>30 %> 
  </td>
  <td>
    <%= text_field "used_result[]", 'note'  ,:size=>30 %>
  </td>
  <td>
    <%= link_to '削除', { :action => 'destroy_used_result', :id => @used_result ,:character_id => @character}, :confirm => '削除します。よろしいですか？?', :method => :post %></td>
  </td>
</tr>
<% @sum_used += @used_result.initial if @used_result.initial %>
<% @sum_used += @used_result.result if @used_result.result %>
<% end %>
</table>
転用根源力合計：<%= @sum_used %>