<% @link = link_to '職業４アイドレス管理' , acquired_idresses_character_path(@character) %>
<table border=1>
<tr>
  <th>名称</th>
  <th>体格</th>
  <th>筋力</th>
  <th>耐久力</th>
  <th>外見</th>
  <th>敏捷</th>
  <th>器用</th>
  <th>感覚</th>
  <th>知識</th>
  <th>幸運</th>
  <th>備考</th>
</tr>
<% for acquirement in @character.idress_acquirements %>
<%   acquired_idress = acquirement.acquired_idress %>
<tr>
  <td><%= link_to acquired_idress.name ,owner_account_job_idress_path(acquired_idress.owner_account , acquired_idress) %> </td>
  <% for col in Job::Abilities %>
  <td> <%= acquired_idress[col]  %> </td>
  <% end %>
  <td> <%= to_note_str acquirement.note %> </td>
  <td> <%= link_to '[備考編集]' ,:action => :edit_note_for_acquirement,:id => @character , :idress_acquirement_id => acquirement %>
<%= link_to '[削除]' , {:action => :remove_acquired_idress,:id => @character , :acquired_idress_id => acquired_idress } ,
          :confirm => "#{acquired_idress.name}を習得リストから削除します。よろしいですか？" , :method => :delete %>
  </td>
</tr>
<% end %>
</table>
<br/>
<%
  job4s = JobIdress.find_all_by_idress_type('PlayerIdress',:order => :owner_account_id )
  job4_selection = options_for_select(job4s.map{|ji| ["#{ji.inspect_idresses} (#{ji.owner_account.owner.name})", ji.id]})
%>
<%= form_tag append_acquired_idress_character_path(@character)  do -%>
  <b>職業４一覧：</b><br/>
  <%= select_tag :acquired_idress_id , job4_selection , :size => 10%>
  <br/>
  <%= submit_tag '職業４習得'%>
<% end %>