<h1>個人修正一覧</h1>
<% nation = '**' %>
<table border=1 cellspacing=0>
<% val = nil %>  
<% for character in @characters %>
  <% if nation != character.character_no[0..1] %>
  <tr>
  <th>所属国</th> <th>国民番号</th> <th>キャラクター名</th>
  <th> 体格</th> 
  <th> 筋力</th> 
  <th> 耐久力</th> 
  <th> 外見</th> 
  <th> 敏捷</th> 
  <th> 器用</th> 
  <th> 感覚</th> 
  <th> 知識</th> 
  <th> 幸運</th> 
  <th> ＡＲ</th> 
  </tr>
  <% nation = character.character_no[0..1] %>
  <% end %>
  <tr>
    <td> <%= character.nation.short_name %></td>
    <td> <%= character.character_no %></td>
    <td> <%= character.name %></td>
  <% for i in Job::Abilities %>
    <td align='right' > <%= sprintf("%+d" , val ) if (val = character.attributes[i.to_s] )%> </td>
  <% end %>
    <td align='right' > <%= character.ar %> </td>
    <td><%= link_to '詳細', :action => 'show', :id => character %></td>
  <% if controller.has_role?(:herald) %>
    <td><%= link_to '詳細編集', :action => 'edit', :id => character %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<% @nation_id = params[:nation_id] %>