<% @link = link_to "根源力編集" %>
<% @nation_id = @character.nation_id %>
<h1>国民詳細編集</h1>

<%= form_for( @character , :url => nation_character_path(@nation_id ,  @character.id )  ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>
