<%= render :partial => 'shared/move_position_func', :locals => {:controller => 'characters' ,:length => @character.results.size }%>

<% @link = link_to "根源力編集" %>
<% @nation_id = @character.nation_id %>
<h1> 根源力編集 </h1>
<%= @character.character_no%> : 
<%= @character.name %><p/>

<%= form_tag :action => 'update_used_result', :id => @character do %>
<div id='used_result_list' >
  <% @sum_used = 0 %>
  <%= render :partial => 'used_result_edit' %>
</div>
<%= submit_tag '変更'%>
<% end %>

<%= form_tag :action => 'new_used_result', :id => @character do %>
<h2> 転用根源力の追加：</h2>
<table>
<tr><td align='right'>pc名：</td><td><%= text_field "new_used_result", 'pc_name' , :size=>20%> </td> </tr>
<tr><td align='right'>イベント名：</td><td><%= text_field "new_used_result", 'event_name' , :size=>20 %>  </td> </tr>
<tr><td align='right'>初期根源力：</td><td><%= text_field "new_used_result", 'initial' , :size=>6 %>   </td> </tr>
<tr><td align='right'>リザルト根源力：</td><td><%= text_field "new_used_result", 'result' , :size=>6 %>   </td> </tr>

<tr><td align='right'>備考：</td><td><%= text_field "new_used_result", 'note'  ,:size=>'30x2' %>  </td> </tr>
<tr><td align='right'>URL：</td><td><%= text_field "new_used_result", 'url' ,:size=>40 %>  </td> </tr>
</table>
<%= submit_tag '追加' %>
<% end %>
<p>
<%= form_tag :action => 'update_result', :id => @character do %>

<div id='result_list' >
  <%= render :partial => 'result_edit' %>
</div>
<%= submit_tag '更新' %> 
<%= move_button :up %> 
<%= move_button :down %>
<% end %>
<p>
<%= form_tag(:action => 'new_result' , :id => @character ) do  %>
<% cid = @character[:id]
events = Event.joins(:results).where('results.character_id = ?' , cid)
   events_option = [["",nil]] + events.collect{|e| [e.name,e.id]}
%>

<h2> 新規リザルト追加 </h2>
<table>
<tr>
    <td align='right'> イベント名： </td>
    <td> <%= #select_tag 'event', options_for_select(events_option)
      text_field 'new_result' , 'event_name' , :size=> 20 -%> </td>
</tr>
<tr>
  <td align='right'> リザルト根源力: </td>
  <td><%= text_field 'new_result', 'originator' , :size=>6 %> </td>
</tr>
<tr>
  <td align='right'> マジックアイテム：</td>
  <td> <%= text_field 'new_result', 'magic_item' , :size=>26 %></td>
</tr>
<tr>
  <td align='right'> 参照URL:</td> <td> <%= text_field 'new_result', 'url' , :size => 30%></td>
</tr>
<tr>
  <td align='right'> 備考：</td> <td> <%= text_field 'new_result', 'note' , :size => 30 %></td>
</tr>
</table>
<%= submit_tag '追加' %>
<% end %>

<br/>
