<% @link = link_to '職業４アイドレス管理' , acquired_idresses_character_path(@character) %>

<%= form_for :idress_acquirement , :url =>{
       :action => :update_note_for_acquirement , 
       :id => @character,
       :idress_acquirement_id => @idress_acquirement 
     } ,:html => {:method => :put } do |f|%>
<%= @idress_acquirement.acquired_idress.name %>習得についての備考：<br/>
  <%= f.text_area :note %>
     <br/>
     <%= submit_tag '更新' %>
<% end %>