<h1>国民一覧</h1>

<% if controller.has_role?(:herald)  %>
  <%= button_to '新規国民追加', new_nation_character_path(params[:nation_id]) , :method => :get %>
<% end %>

<table>
  <tr>
    <th>所属国</th> <th>国民番号</th> <th>キャラクター名</th> <th> </th> <th>根源力 </th> <th> </th> <th> マイル </th>
  </tr>
  
<% for character in @characters %>
  <tr>
    <td> <%= character.nation.short_name %></td>
    <td> <%= character.character_no %></td>
    <td> <%= character.name %> </td>
    <td> <%= character.status == '通常' ? '' : "&nbsp#{character.status}&nbsp".html_safe %> </td>
    <td align='right' > <%= character.sum_initials + character.sum_used_results + character.sum_results %></td>
    <td align='right' > 
    <%= sprintf(" + %d" ,  character.personal_idress.job4.originator )if character.personal_idress && character.personal_idress.job4.originator.to_i > 0 %></td>
    <td align='right' > <%= link_to character.owner_account.miles , owner_account_mile_changes_path(character.owner_account,:turn => 'last')%></td>
    <td><%= link_to '詳細', character%></td>
    <% if controller.has_role?(:herald)  %>
    <td><%= link_to '詳細編集', :action => 'edit', :id => character %></td>
    <td><%= link_to '根源力管理', :action => 'edit_result', :id => character %></td>
    <td><%= link_to '削除', character , :confirm => 'このキャラを削除しますか？', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>

</table>

<br />

<% @nation_id = params[:nation_id] %>