<% @link = link_to "まとめて登録" %>
<h1>登録内容</h1>
<p>
<% 
  for @jil in @ji_list
  
%>
<%= sprintf("%s,%s,%s" , @jil[0][:name],@jil[1] ? @jil[1].name : 'nil' ,@jil[0][:jobs] ) %>    <br/>
<%
  end
%>
</p>
<%= link_to 'Show', :action => 'show', :id => @character %> |
<%= link_to 'Back', :action => 'list' %>
