<% @link = link_to "まとめて登録" %>
<h1>テキストでまとめて登録</h1>

<%= form_tag :action => 'insert_by_text', :id => @character do %>
　　<p><label for="Job">Text list</label><br/>
　　<%= text_area_tag :character_list , nil,:size=>"60x30"%></p>

  <%= submit_tag '登録' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @character %> |
<%= link_to 'Back', :action => 'list' %>
