<% @link = link_to "国民詳細" %>
<p>
  <b>国民番号</b> <%=h @character.character_no %>
</p>
<p>
  <b>ＰＣ名:</b> <%=h @character.name%>
</p>
<p>
  <b>性別:</b> <%=h( {'male' => '男' , 'female' => '女' , 'undefined' => '未定義'}[@character.gender]) %>
</p>
<p>
  <b>プレイヤー名:</b> <%=h @character.player_name %>
</p>

<p>
  <b>人種:</b> <%=h @character.race_type %>
</p>

<p>
  <b>根源力:</b> <%=h @character.sum_originator %> 
  <% if @character.personal_idress && @character.personal_idress.job4.originator.to_i > 0 %>
    ( <%= @character.sum_proper_originator %> + <%= @character.personal_idress.job4.originator.to_i %> )
  <% end %>
</p>
<p>
  <b>所持資格:</b> <%=h @character.qualification%>
</p>
<p>
  <b>個人修正:</b><br/>
　体格： <%=h @character.phy %>
　筋力： <%=h @character.str %>
  耐久力： <%=h @character.dur %>
  外見： <%=h @character.chr %>
  敏捷： <%=h @character.agi %>
  器用： <%=h @character.dex %>
  感覚： <%=h @character.sen %>
  知識： <%=h @character.edu %>
  幸運： <%=h @character.luc %>
  AR： <%=h @character.ar%>
</p>
<p>
  <b>イベント参加意思:</b> <%=h @character.intention %>
</p>
<p>
  <b>ステータス</b> <%=h @character.status %>
</p>
<p>
  <b>特記事項：</b><br/>
<p style='margin-left:20px'><%=h @character.note %></p>
</p>

  <p><label for="character_player_idresses"> <b>個人保有アイドレス：</b></label>
<% if @character.owner_account.job_idresses.count == 0 %>
なし<br/>
<% else %>
  <br/>
<ul>
<%    for job_idress in @character.owner_account.job_idresses %>
  <li> <%= job_idress.inspect_idresses %> <%= '（職業４）' if job_idress.idress_type == 'PlayerIdress' %></li>
<% end %>
</ul>
<% end %>
<ul>
  <%= render :partial => 'shared/owner_account_menu' , :locals => {:owner_account => @character.owner_account } %>
</ul>
</p>
<p>
  <b>習得した職業４アイドレス：</b>
<% if @character.idress_acquirements.size == 0 %>
   なし <br/>
<% else %>
<ul>
  <% for acquired in @character.idress_acquirements.sort_by{|ac| ac.created_at } %>
    <li> <b><%= acquired.acquired_idress.name %>（<%= acquired.acquired_idress.owner_account.owner.name %>）：</b><br/>
    <%= to_note_str acquired.note %></li>
  <% end %>
</ul>
<% end %>
<ul>
  <li><%= link_to_if has_role?(:herald , :monju_maintainer) , '職業４アイドレス管理' , acquired_idresses_character_path(@character)%></li>
</ul>
  </p>
  <p>
<b>所持マイル：</b> <%= h @character.owner_account.sum(:mile) %> 
</p>
<ul>
  <li><%= link_to '[マイル口座]' , owner_account_mile_changes_path(@character.owner_account,:turn => 'last')%></li>
</ul>

<b>所有するアイテム等:</b> <%= link_to '[所有アイテム登録履歴]', owner_account_object_registries_path(@character.owner_account) %>
<ul>
<% @character.owner_account.object_registries.group_by(&:name).each do |name , object_group|  
  number  = object_group.sum{|o|o.number.to_i}%>
<% if number > 0 %>
<li><%= name %> : <%=  number -%>
<%   if number > 0 && object_group[0].object_definition && object_group[0].object_definition.specialties.size > 0 -%>
 (
<%     for sp in object_group[0].object_definition.specialties -%>
<%=      (sp.effects.map{|ef| "#{ef[:target]}:#{sprintf('%+d',ef[:value]*number)}" }).join(',') %>
<%     end -%>
)
</li>
<%b    end -%>
<%   end -%>
<% end %>
</ul>

<b>関連ACE:</b> <%= '(なし)' if @character.bonds.size == 0 %> 
<% if @character.bonds.size > 0 %>
<br/>
<ul>
<%   for bond in @character.bonds
  next if bond.ace.nil?
-%>
  <li><%= bond.bond_type %> ： <%= link_to (bond.ace.character_no ? bond.ace.character_no + '：' : '') + bond.ace.name ,bond.ace%> </li>
<%    end  -%>
</ul>
<% end -%>


<ul><li><%= link_to '[関連ACE一覧]' , character_bonds_path(@character) %></li></ul>

  <p>
    <b><%= link_to 'イグドラシル' , owner_account_yggdrasills_path(@character.owner_account) %></b>
  </p>
  <p>
    <b><%= link_to 'コマンドリソース' , owner_account_command_resources_path(@character.owner_account) %></b>
  </p>
  <p>
    <b><%= link_to 'ユニット登録（コンバート・インクルード）' , owner_account_unit_registries_path(@character.owner_account) %></b>
  </p>
<hr/>
<ul>
       <% if has_role?(:herald) %>
  <li> <%= link_to "個人詳細編集" , :action => :edit , :controller => :characters , :nation_id => @character.nation , :id => @character %> </li>
  <li> <%= link_to "根源力編集" , :action => :edit_result , :controller => :characters , :nation_id => @character.nation , :id => @character %> </li>
       <% end %>
  <li> <%= link_to '編集履歴' , owner_account_modify_commands_path(@character.owner_account) %> </li>
</ul>



<% @nation_id = @character.nation_id%>
