<%  cols = [:fund , :resource , :food , :fuel , :hqfuel , :amusement , :num_npc ] %>
      <td> <%= radio_button_tag 'target_row' , cash_record.id ,selected , :onClick => "row_radio_clicked(#{cash_record.position});"%> </td>
      <td><%=h cash_record.event_no == 0 ? "" :  cash_record.event_no%></td>
      <td><%=h cash_record.event_name %></td>
      <td><%=link_to_if cash_record.reference_url , "●" , cash_record.reference_url %></td>
      <% for col in cols  
         next if col == :hqfuel && cash_record.owner_account.nation.belong != :empire
      %>
      <td>
         <%= h cash_record[col].to_i %>
      </td>
      <% end %>
      <td><%= to_note_str( cash_record.note , '[参照]' )%>
      <%=link_to "[エントリURL]" , owner_account_cash_record.entry_url if cash_record.entry_url && ! cash_record.entry_url.empty? %>
      <%=link_to "[リザルトURL]" , owner_account_cash_record.result_url if cash_record.result_url && ! cash_record.result_url.empty? %>
      <td><%=h cash_record.turn %></td>
      <td><%= link_to '詳細', owner_account_cash_record_path(cash_record.owner_account ,cash_record) %></td>
      <td><%= link_to '編集', edit_owner_account_cash_record_path(cash_record.owner_account , cash_record ) %></td>
      <td><%= link_to '削除', owner_account_cash_record_path(cash_record.owner_account , cash_record) , :confirm => "財務表の項目を１件削除します。\nよろしいですか？", :method => :delete %></td>
