<h1>財務表の編集</h1>

<%= error_messages_for :cash_record %>

<%= form_for(@cash_record, :url => owner_account_cash_record_path(@owner_account , @cash_record ) ) do |f| %>

<table>
	<tr>
		<td>
			<b>イベント番号 : </b>
		</td>
		<td>
			<%= f.text_field :event_no ,:size=>3%>
		</td>
		<td>
			<b>事由</b>
		</td>
		<td>
			<%= f.text_field :event_name ,:size => 60%>
		</td>
	</tr>
	<tr>
		<td>
			<b>エントリ－URL</b>
		</td>
		<td colspan=3>
			<%= f.text_field :entry_url , :size=> 100 %>
		</td>
	</tr>
	<tr>
		<td>
			<b>リザルトURL</b>
		</td>
		<td colspan=3>
			<%= f.text_field :result_url , :size=> 100 %>
		</td>
	</tr>
	<tr>
		<td>
			<b>参照URL</b>
		</td>
		<td colspan=3>
			<%= f.text_field :reference_url , :size=> 100 %>
		</td>
	</tr>
	<tr>
		<td colspan=4>
			<b>資金 :</b>
			<%= f.text_field :fund ,:size=>3 %>
			<b>資源 :</b>
			<%= f.text_field :resource ,:size=>3 %>
			<b>食料:</b>
			<%= f.text_field :food ,:size=>3 %>
			<b>燃料：</b>
			<%= f.text_field :fuel ,:size=>3 %>
                        <% if @owner_account.nation.belong == :empire %>
			<b>高性能燃料：</b>
			<%= f.text_field :hqfuel ,:size=>3 %>
                        <% end %>
			<b>生物資源：</b>
			<%= f.text_field :amusement ,:size=>3 %>
			<b>犬or猫士：</b>
			<%= f.text_field :num_npc ,:size=>3 %>
			<b>兵器：</b>
			<%= f.text_field :num_id ,:size=>3 %>
		</td>
	</tr>
	<tr>
		<td>
			<b>備考</b>
		</td>
		<td colspan=3>
			<%= f.text_area :note ,:rows=>3%>
		</td>
	</tr>
	<tr>
		<td>
			<b>ターン</b>
		</td>
		<td>
			<%= f.text_field :turn ,:size=>6%>
		</td>
	</tr>
</table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to '[ 戻る ]', owner_account_cash_records_path(params[:owner_account_id])  %>
<% @link = link_to '財務表の編集' %>
