<% for table in @tables %>
  <% table.set_attribute("border","1") %>
  <%= form_tag :action => :import_confirm , :owner_account_id => params[:owner_account_id] do %>
  <%= table.xpath %><br/>
  <%= hidden_field_tag :cash_url ,params[:cash_url] %>
  <%= hidden_field_tag :xpath ,table.xpath %>
  <%= table %><br/>
  <%= submit_tag "この表を取り込む" %>
  <% end %>
<hr/>
<% end %>
<% @link = link_to '財務表取り込みの確認' %>