<%= form_tag( import_select_table_cash_records_path(params[:owner_account_id]) ) do %>
<br/>
財務表URL：<%= text_field_tag :cash_url , nil,:size =>  60%>

<%= submit_tag "読み込み"  %>
<% end %>
<% @link = link_to '財務表の取り込み' %>