<h1><%= @owner_account.owner.name %> 財務表 </h1>
<%= render :partial => 'shared/move_position_func', 
    :locals => {:controller => "owner_accounts/#{@owner_account.id}/cash_records" ,
                :length => @owner_account.cash_records.size } %>
<%= (button_to '新規リソース出納', new_owner_account_cash_record_path(@owner_account) , :method => :get) if has_role?(:accountant)%>
<br/>
対象ターン：<%= @target_turn %>
<%= turn_link(@target_turn || params[:turn]) %>
<table border=1 cellpadding="0">
  <tr>
    <th> </th>
    <th>Ev No</th>
    <th>イベント名</th>
    <th>詳細</th>
    <th>資金</th>
    <th>資源</th>
    <th>食料</th>
    <th>燃料</th>
<% if @owner_account.nation.belong == :empire -%>
    <th>高性能燃料</th>
<% end -%>
    <th>生物資源</th>
    <th>猫・犬士</th>
    <th>備考</th>
    <th>ターン</th>
  </tr>
  <%
  zero_check = Hash.new{|hash,key| hash[key]=0}
  cols = [:fund , :resource , :food , :fuel , :hqfuel , :amusement , :num_npc ]
  
  %>
  <% if @target_turn %>
    <% cr = CashRecord.settlement_by_turn(params[:owner_account_id],@target_turn) %>
    <tr>
    <td colspan='4'>
      <strong>
        ターン<%=  @target_turn.to_i - 1 %>からの繰越
      </strong>
　　</td>
    <% for col in cols 
         next if col == :hqfuel && @owner_account.nation.belong != :empire
    %>
    <td> <%= cr[col] %> </td>
    <% zero_check[col] = cr[col].to_i %>
    <% end %>
  </tr>
  <% end %>

<%  @cash_records.each.with_index do |cash_record , index|%>
  <tr id="row_<%=cash_record.position %>" >
    <td> <%= radio_button_tag 'target_row' , cash_record.id ,false , :onClick => "row_radio_clicked(#{cash_record.position});"%> </td>
    <td><%=h cash_record.event_no == 0 ? "" :  cash_record.event_no%></td>
    <td><%=h cash_record.event_name %></td>
    <td><%=link_to_if cash_record.reference_url , "●" , cash_record.reference_url %></td>
    <% for col in cols  
         next if col == :hqfuel && @owner_account.nation.belong != :empire
    %>
          <% zero_check[col] = zero_check[col]  + cash_record[col].to_i%>
          <%=   content_tag( :td , cash_record[col].to_i , :bgcolor => zero_check[col] >= 0 ? 'white' : 'red' ) %>
    <% end %>
    <td><%= to_note_str( cash_record.note , '[参照]' )%>
      <%=link_to "[エントリURL]" , cash_record.entry_url if cash_record.entry_url && ! cash_record.entry_url.empty? %>
      <%=link_to "[リザルトURL]" , cash_record.result_url if cash_record.result_url && ! cash_record.result_url.empty? %>
    <td><%=h cash_record.turn %></td>
    <td><%= link_to '詳細', owner_account_cash_record_path(cash_record.owner_account ,cash_record) %></td>
<% if has_role?(:accountant)%>
    <td><%= link_to '編集', edit_owner_account_cash_record_path(cash_record.owner_account , cash_record ) %></td>
    <td><%= link_to '削除', owner_account_cash_record_path(cash_record.owner_account , cash_record) , :confirm => "財務表の項目を１件削除します。\nよろしいですか？", :method => :delete %></td>
<% end %>
  </tr>
  <% if @cash_records[index+1].nil? || cash_record.last? || (cash_record.turn != @cash_records[index+1].turn) %>
  <tr>
    <td colspan='4'>
      <strong>
        <%= Property[:current_turn].to_s == cash_record.turn.to_s ? '現在' : "ターン#{cash_record.turn}終了時" %>の財政状況
      </strong>
　　</td>
    <% for col in cols  
         next if col == :hqfuel && @owner_account.nation.belong != :empire
    %>
    <td> <%= zero_check[col] %> </td>
    <% end %>
  </tr>
  <% end %>
  <% end %>
</table>
<% if has_role?(:accountant)%>
<%= move_button :up %> 
<%= move_button :down %>
<% end %>
<br />

<%= link_as_return_to(@owner_account) %> <%= link_to('[ 金庫番トップ ]' , facade_owner_accounts_path )if has_role?(:accountant) %>
  <% @link = link_to '財務表' %>