			<b>イベント番号 : </b>
			<%= @cash_record.event_no %>
		<br/>
			<b>事由:</b>
			<%= @cash_record.event_name %>
		<br/>
	
			<b>エントリ－URL:</b>
			<%= @cash_record.entry_url %>
		<br/>
	
			<b>リザルトURL:</b>
			<%= @cash_record.result_url  %>
		<br/>
	
			<b>参照URL:</b>
			<%= @cash_record.reference_url  %>
		<br/>
	
	
			<b> 資金 :</b>
			<%= @cash_record.fund  %>
			<b> 資源 :</b>
			<%= @cash_record.resource  %>
			<b> 食料:</b>
			<%= @cash_record.food %>
			<b> 燃料：</b>
			<%= @cash_record.fuel %>
                        <% if @cash_record.owner_account.nation.belong == :empire %>
			<b>高性能燃料：</b>
			<%= @cash_record.hqfuel %>
                        <% end %>
			<b> 生物資源：</b>
			<%= @cash_record.amusement %>
			<b> 犬or猫士：</b>
			<%= @cash_record.num_npc %>
			<b> 兵器：</b>
			<%= @cash_record.num_id %>
		<br/>
	
	
			<b>備考:</b>
			<%= @cash_record.note %>
		<br/>
	
	
			<b>ターン</b>
		<br/>
			<%= @cash_record.turn %>
		<br/>
	
</table>


<%= link_to '[ 編集 ]', edit_owner_account_cash_record_path(@cash_record.owner_account , @cash_record) %> |
<%= link_to '[ 戻る ]', owner_account_cash_records_path(@cash_record.owner_account)  %>
<% @link = link_to '財務表項目の詳細' %>
