<% @link = link_to "名称編集",:action => :edit %>
<h1><%= @npc_type %>編集 </h1>


<%= form_for @nation, :url => npc_name_list_path(@nation) do %>

<p><label for="nation_npc_names"></label><br/>
<%= text_area 'nation','npc_names'%></p>

<%= submit_tag '更新' %>
<% end %>
