<h1><%=@owner_account.owner.name+'に関する' if @owner_account %>編集履歴</h1>
<% def author(modify_command)
  if modify_command.user 
    if modify_command.user.name && !modify_command.user.name.empty?
      modify_command.user.name
    else
      modify_command.user.login
    end 
  else
    '　'
  end
end

def filter_path(name,owner_account=nil)
  if owner_account
    owner_account_modify_commands_path(owner_account , :target_type => name)
  else
    modify_commands_path(:target_type => name)
  end
end

%>
  
フィルタ:
<%= link_to '[マイル出納]' , filter_path( 'MileChange' , @owner_account) %>
<%= link_to '[アイテム等登録]' ,filter_path( 'ObjectRegistry' , @owner_account) %>
<%    if @owner_account.nil? || @owner_account.owner_type != 'Character' %>
<%=     link_to '[財務表]' ,filter_path('CashRecord', @owner_account)%>
<%=     link_to '[兵器保有]' ,filter_path( 'WeaponRegistry', @owner_account) %>
<%=     link_to '[キャラクター]' ,filter_path( 'Character', @owner_account) %>
<%=     link_to '[リザルト根源力]' ,filter_path( 'Result', @owner_account)  %>
<%=     link_to '[転用根源力]' ,filter_path('UsedResult' , @owner_account) %>
<%    end  %>
<%=     link_to '[職業]' ,filter_path('JobIdress' , @owner_account) %>
<%= will_paginate @modifycommands %>  
<table border=1>
<colgroup width=100/>
<colgroup width=60/>
<% if @owner_account.nil? %><colgroup width=100/><% end %>
<colgroup/>
<colgroup width=60/>
<colgroup width=100/>
  <tr>
    <th >データ種別</th>
<% if @owner_account.nil? %>    <th>対象</th><% end %>
    <th >編集方法</th>
    <th style='background-color:#ddddff'>編集内容</th>
    <th>日時</th>
    <th>担当者</th>
  </tr>
<% for modify_command in @modify_commands %>
  <tr>
  <% if modify_command.modify_type == :update %>
    <td rowspan=2> <%= dic(modify_command.target_type) %> </td>
<% if @owner_account.nil?  %>    <td rowspan=2><%=  modify_command.owner_name %></td><% end %>
    <td rowspan=2> <%= _(modify_command.modify_type.to_s) %></td>
    <td style='background-color:#ddddff'>編集前： <%= humanize_original( modify_command) %></td>
    <td rowspan=2> <%= modify_command.created_at.strftime("%y/%m/%d %H:%M") %></td>
    <td rowspan=2> <%= author(modify_command) %> </td>
  </tr>
  <tr>
    <td style='background-color:#ffdddd'>編集後： <%= humanize_change( modify_command) %></td>
  <% else %>
    <td> <%= dic(modify_command.target_type) %> </td>
<% if @owner_account.nil? %>    <td><%=  modify_command.owner_name %></td><% end %>
    <td> <%= _(modify_command.modify_type.to_s) %></td>
<% if modify_command.modify_type == :delete %>
   <td style='background-color:#ddddff'> 
   <%= humanize_original( modify_command) %>
<% else -%>
   <td style='background-color:#ffdddd'> 
    <%= humanize_change(modify_command) %>
<% end %> 
    </td>
    <td>  <%= modify_command.created_at.strftime("%y/%m/%d %H:%M") %> </td>
    <td> <%= author(modify_command) %> </td>
  </td>
  <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @modifycommands %>  

<br />
<%= link_to('戻る', @owner_account.owner ) if @owner_account %>
<% @link = link_to '編集履歴'%>