<h1>New modify_command</h1>

<%= error_messages_for :modify_command %>

<%= form_for(@modify_command) do |f| %>
  <p>
    <b>Original</b><br />
    <%= f.text_area :original %>
  </p>

  <p>
    <b>Change</b><br />
    <%= f.text_area :change %>
  </p>

  <p>
    <b>Modify type</b><br />
    <%= f.text_area :modify_type %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', modify_commands_path %>
