<p>
  <b>Original:</b>
  <%=h @modify_command.original %>
</p>

<p>
  <b>Change:</b>
  <%=h @modify_command.change %>
</p>

<p>
  <b>Modify type:</b>
  <%=h @modify_command.modify_type %>
</p>


<%= link_to 'Edit', edit_modify_command_path(@modify_command) %> |
<%= link_to 'Back', modify_commands_path %>
