  <% if @unit_registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_registry.errors.count, "error") %> prohibited this convert_source from being saved:</h2>

      <ul>
      <% @unit_registry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :owner_account_id %>

    <div class="field">
      <%= label_tag '太元書式' %><br />
      <%= text_area_tag :source , @unit_registry.object_definition.try(:definition)  , size: '100x20'%>
    </div>


