<%= content_for :css do %>
    <style>
        #command_resources li {
            border: 1px solid #FFFFFF;
        }
        #command_resources li:hover {
            border: 1px solid #CCCCCC;
        }
        #command_resources .ui-selecting {
            background: #FECA40;
        }

        #command_resources .ui-selected {
            background: #DDFFDD;
        }

        #command_resources {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        #command_resources .used {
            text-decoration: line-through;
        }

        /*#command_resources li {  padding: 0.2em; }*/

        div.column label, div.column input {
            display: block;
            float: left;
            margin-bottom: 10px;
        }

        div.column label {
            text-align: right;
            width: 180px;
            padding-right: 15px;
        }

        li input {
            /*        display: inline-block;
                    clear:both;*/
            margin-bottom: 0 !important;
        }

        div.column br {
            clear: left;
        }

        #registration {
            overflow: scroll;
            position: absolute;
            width: 45%;
            min-height: 400px;
            max-height: 80%;
            left: 50%;
            top: 100px;
            border: 2px solid;
        }
        #registration.fixed {
            position: fixed;
            left: 50%;
            top: 20px;
        }

        .middle {
            display: inline-block;
            vertical-align: middle;
        }


    </style>
<% end %>

<%= content_for :javascript do %>
    <%= javascript_include_tag 'unit_registries' %>
    <script>
        window.MainUnits = <%= raw @main_units.map{|u| {character_no: @owner_account.number , name: u.name} }.to_json %>
        window.CommandResources = <%= raw @unit_and_command_resources.to_json %>
        window.Definition =<%= raw(@definition.try(:to_json) ||  'null' )%>
    </script>
<% end %>
<p/>
<div id="container">

  <div class="column" style="float: left">
    <p>

    <h2>メインユニット</h2>
    <label for="unit_selection">登録済みユニット一覧：</label>
    <select id="main_unit_selection" style="width: 50%" size="<%= (size = @main_units.size) < 5 ? 5 : size %>">
      <%= options_for_select(@main_units.map { |u|
                               [(uid = "#{@owner_account.number}:#{u.name}"), uid]
                             })
      %>
    </select>
    </p>
    <p>

    <h2>フェロー</h2>
    <label for="character_no_selection">検索（国民番号：名称） </label><input id="character_no_selection" autocomplete="off"/>
    <br/>
    <label for="unit_selection">ユニット候補：</label>
    <select id="unit_selection" style="width: 50%" size="10">
      <%= options_for_select(@members.map { |u|
                               [(uid = "#{@owner_account.number}:#{u.name}"), uid]
                             })
      %>
  </select><br/>
    <label for="authority_url">関連URL:<br/>（フェロー認定・藩国装備等） </label><input id="authority_url"/>  <br/>
    <label> </label><input type='button' id='add_unit_button' value='ユニット追加 ▶▶' disabled style="top: 50%" style="align: right"/>
    <br/>

    </p>

    <p>
    <h2>追加アイテム・乗り物等</h2>
    <label for="additional_object_name">識別名</label> <input id="additional_object_name"><br/>
    <label for="additional_object_definition">アイドレス定義名</label> <input id="additional_object_definition"> <br/>
    <label for="additional_object_note">備考</label> <input id="additional_object_note"> <br/>
    <label> </label><input type='button' id='add_object_button' value='アイテム・乗り物追加 ▶▶' disabled style="top: 50%" style="align: right"/>
    </p>
  </div>

</div>
<div id="registration" >
  <div >
    ユニット構成（フェロー・Ｉ＝Ｄ等）：<br/>
    <ul id="included_members"></ul>
    <br/>
  </div>
  <div>
    登録するインクルード：
    <ol id='included_command_resources'>

    </ol>

  </div>
</div>
<div id="container2" style="clear:both">
  <div class="column" style="float: left">
    <hr/>
    <h2>インクルード</h2>

    <span id='loading_message' style='color:green;'> <img src='<%= image_path('icons/loading.gif') %> ' alt=""> コマンドリソースを読み込み中... </span>
    </p>
    <label> インクルード後の名称： </label><input id="include_name"/> <br/>
    <label>タグ： </label><select id="tag_selection" style="width: 200px"> </select> <br/>

    <label>コマンドリソース内容： </label>【<span id="new_name"></span>：<span id="sum_power"></span>：<span id="new_tag"></span>】<br/>
    <label> 選択数：</label><span id="num_selected"></span> <br/>

    <ul id="command_resources" style="margin-left:100px">
    </ul>
    <br/>
    <input type='button' id='add_include_button' value='インクルード追加' disabled/>

  </div>

  <p/>
</div>
<%= hidden_field_tag :include_def %>

<%#select id="tag_selection" multiple size="15" style="width: 200px"/> <br/> %>


