<h1>ユニット登録の編集</h1>

<%= form_for( @unit_registry ,as: :unit_registry , url: owner_account_unit_registry_path(@owner_account , @unit_registry) , method: :put) do |f| %>
    <div class="field">
      <%= f.label '種別：' %>
      <%= {'ConvertSource'=> 'コンバート' , 'AceUnitRegistry'=> 'インクルード' , 'IncludeRegistry'=> 'インクルード'}[@unit_registry.type] %>

      <%= f.hidden_field :type %>
    </div>

    <div class="field">
      <%= f.label '定義名' %><br />
      <%= f.text_field :name  , size: 60%>
    </div>

  <% if @unit_registry.type != 'IncludeRegistry' %>
        <%= render partial: 'form' , locals: {f: f} %>
  <% else %>

    <%= render partial: 'include'  , locals: {f: f} %>
  <% end %>

    <div class="field" style="clear:both">
      <%= f.label '備考' %><br />
      <%= f.text_area :note  , size: '80x6' %>
    </div>
    <div class="field">
      <%= f.label '根拠URL' %><br />
      <%= f.text_field :authority_url , size: 80%>
    </div>

    <div class="actions" style="clear:both">
      <%= f.submit '更新' %>
    </div>
<% end %>

<%= link_to '[詳細]', owner_account_unit_registry_path(@owner_account , @unit_registry) %> |
<%= link_to '[一覧に戻る]', owner_account_unit_registries_path(@owner_account) %>

<% @link = link_to '編集'  %>