<h1>ユニット登録:<%= @owner_account.number %>：<%= @owner_account.name %></h1>

<table>
  <tr>
    <th>有効</th>
    <th>定義名</th>
    <th>種別</th>
    <th>備考</th>
    <th></th>
    <% if has_role?(:admin) %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @unit_registries.each do |unit_registry| %>
  <tr>
    <td><%= unit_registry.available ? '✔': '' %></td>
    <td><%= unit_registry.name %></td>
    <td><%= case unit_registry.type
           when 'ConvertSource'
             'コンバート'
           when 'AceUnitRegistry'
             'ＡＣＥ定義'
           when 'IncludeRegistry'
             'インクルード'
        end
    %></td>
    <td><%= unit_registry.note %></td>
    <td><%= link_to '[詳細]', owner_account_unit_registry_path(@owner_account , unit_registry ) %></td>
    <% if has_role?(:admin) %>
    <%# if has_role?(OwnerRole) %>
    <% if unit_registry.available %>
    <td><%= link_to '[無効化]', disable_owner_account_unit_registry_path(@owner_account , unit_registry) ,data: {confirm: "ユニット定義：#{unit_registry.name} を無効化しますか？"}%></td>
    <% else %>
    <td><%= link_to '[有効化]', rebuild_owner_account_unit_registry_path(@owner_account , unit_registry) ,data: {confirm: "ユニット定義：#{unit_registry.name} を有効化しますか？"}%></td>
    <% end %>
    <td><%= link_to '[編集]', edit_owner_account_unit_registry_path(@owner_account ,unit_registry) %></td>
    <%end%>
    <% if has_role?(:admin) %>
    <td><%= link_to '[削除]', owner_account_unit_registry_path(@owner_account , unit_registry) , method: :delete, data: { confirm: "ユニット定義：#{unit_registry.name} を削除しますか？" } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[新規作成]', new_owner_account_unit_registry_path(@owner_account) if has_role?(:admin) %> <%# #has_role?(OwnerRole) %>

<% @link = '' %>