<script>
//    jQuery(function() {
//        $('#unit_registry_type').change(function () {
//            var flag = $(this).val() == 'IncludeRegistry'
//            console.log(flag);
//            $('#form1').toggle(!flag);
//            $('#form2').toggle(flag);
//        })
//    })
</script>

<h1>新規ユニット定義登録</h1>

<%= form_for(@unit_registry , {as: :unit_registry , url:  owner_account_unit_registries_path(@owner_account , method: :post)}) do |f| %>
    <div class="field">
      <%= f.label '種別' %>
      <%= f.select(:type , options_for_select('コンバート' => :ConvertSource , 'ＡＣＥ定義' => :AceUnitRegistry , 'インクルード' => :IncludeRegistry) ) %>
    </div>

    <div class="field">
      <%= f.label '定義名' %><br />
      <%= f.text_field :name  , size: 60%>
    </div>

    <div id="form1">
      <%= render partial: 'form'  , locals: {f: f} %>
    </div>

    <div id="form2" style="display:none">
      <%= render partial: 'include'  , locals: {f: f} %>
    </div>

    <div class="field" style="clear:both">
      <%= f.label '備考' %><br />
      <%= f.text_area :note  , size: '80x6' %>
    </div>
    <div class="field">
      <%= f.label '根拠URL' %><br />
      <%= f.text_field :authority_url , size: 80%>
    </div>
    <div class="actions" style="clear:both">
      <%= f.submit '登録' %>
    </div>
<% end %>

<%= link_to '[一覧に戻る]', owner_account_unit_registries_path(params[:owner_account_id]) %>
<% @link = link_to '新規登録' %>