<p>
  <b>タイトル:</b>
  <%= @unit_registry.name %>
</p>

<p>
  <% if @unit_registry.type != 'IncludeRegistry' %>
      <b>太元書式:</b>
  <pre>
<%= @unit_registry.object_definition.definition %>
  </pre>
  <% else %>
      <b>インクルード定義：</b>
      <pre>
        <%= @unit_registry.source %>
      </pre>
      <p>
        <b>メインユニット：</b>
      <ul>
        <li><%= @unit_registry.definition[:main_member][:character_no] %>
          ：<%= @unit_registry.definition[:main_member][:name] %></li>
      </ul>
      </p>

      <p>
        <b>フェロー:</b>
      <ul>
        <% for f in @unit_registry.definition[:members] %>
            <li><%= f[:character_no] %>：<%= f[:name] %> </li>
        <% end %>
      </ul>
      </p>
      <p>
        <b>インクルード：</b>
      <ul>
        <% for i in @unit_registry.definition[:includes] %>
            <li>
              <%= (crd = i[:command_resource])[:name] %>：<%= crd[:power] %>：<%= crd[:tag] %>
              <ul>
                <% group = i[:sources].map { |cr_id| CommandResource.find(cr_id) }.group_by { |cr| cr.owner_account } %>
                <% for owner_account in group.keys %>
                    <li>
                      <%= owner_account.number %>：<%= owner_account.name %>
                      <ul>
                        <% for cr in group[owner_account] %>
                            <li><%= cr.to_form %> (<%= source_link_to cr %> )</li>
                        <% end %>
                      </ul>
                    </li>
                <% end %>
              </ul>

            </li>
        <% end %>
      </ul>

  <% end %>
  </p>

  <p>
    <b>コマンドリソース:</b>
  <ul>
    <% for cr in @unit_registry.command_resource_definitions %>
        <li> <%= cr[:name] %>：<%= cr[:power] %>：＃<%= cr[:tag] %> </li>
    <% end %>
  </ul>
  </p>

  <p>
    <b>備考:</b><br/>
    <%= to_note_str @unit_registry.note %>
  </p>

  <p>
    <b>根拠URL:</b>
    <%= @unit_registry.authority_url %>
  </p>


  <% if has_role?(:admin) %>
      <%= link_to '[編集]', edit_owner_account_unit_registry_path(@owner_account, @unit_registry) %> |
  <% end %>
  <%= link_to '[戻る]', owner_account_unit_registries_path(@owner_account) %>

  <% @link = link_to '' %>