<p>
  <b>Name:</b>
  <%=h @role.name %>
</p>

<p>
  <b>Jname:</b>
  <%=h @role.jname %>
</p>

<p>
  <b>Description:</b>
  <%=h @role.description %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>