<% content_for :javascript do -%>
  <%= javascript_include_tag "evchk_parser" %>

  <script type="text/javascript">
    var CompResult = Class.create();
  CompResult.prototype = {
    initialize : function(flag , left , right){
      this.result = flag;
      this.left = left;
      this.right = right;
    } ,

    row_tag : function(){
      result = "<tr style='background-color:" + (this.result ? '#BBFFBB' : '#FFBBBB') + "'><td>"
      //    result = "" + this.left + this.right + "</td><td>"
      if (this.left) {
        result += format(this.left);
      }
      result += "</td><td>"
      if (this.result){
        result += "＝"
      }else if (this.left && this.right){
        result += this.left.value > this.right.value ? '＞' : '＜'
      }
      result +=  "</td><td>"
      if (this.right){
        result += format(this.right);
      }
      result += "</td></tr>"
      return result
    }

  };
  var log = ""
  function format(item){
    if(item){
      return item.value ? item.name + ":" + item.value : item.name;
    }else{
      return "";
    }
    //  return item.name ;
  }

  function eql(left,right){
    if( !left ||  !right){
      return false ;
    }
    return left.name == right.name && left.value == right.value;
  }

  function same_name(left,right){
    if( !left ||  !right){
      return false ;
    }
    return left.name == right.name;
  }

  function compare(left , right) {
    results = []
    left.each(function(l_item){
      var right_item = right.detect(function(r_item){return  eql(l_item , r_item) });
  
      if (right_item){
        results.push(new CompResult (true , l_item , right_item));
      }else{
        right_item = right.detect(function(r_item){return  same_name(l_item , r_item) });
        if(right_item){
          results.push(new CompResult (false , l_item , right_item));
        }else{
          results.push(new CompResult (false , l_item , null));
        }
      }
      if (right_item){
        right = right.reject(function(item){
          return eql(right_item , item);
        })
      }
    })

    results = results.concat(right.collect(function(item){
      return  new CompResult (false , null , item);
    })
  )
    return results;
  }

  function update_table(results){

    log = ""
    table = "<TABLE border=1>";

    results.each( function(result){
      table += result.row_tag()
    });
    table += "</TABLE>"

    $('result').innerHTML = table;
  }

  function update_table2(results){
    ellipsis = [];
    append = [];
    not_match = [];

    text = ""


    results.each(function(result){
      if(!result.result){
        if (result.left && result.right){
          not_match.push(result);
        }else if(result.left){
          ellipsis.push(result);
        }else{
          append.push(result);
        }
      }
    })
    
    if(ellipsis.size() > 0){
      text += "<p>■記載省略<br/>\n"
      ellipsis.each(function(result){
        text += format(result.left) + "<br/>\n"
      })
      text += "</p>"
    }

    if(append.size() > 0){
      text += "<p>■独自記載<br/>\n"
      append.each(function(result){
        text += format(result.right) + "<br/>\n"
      })
      text += "</p>"
    }

    if(not_match.size() > 0){
      text += "<p>■不一致（太元出力 - 編成表記載）<br/>\n"
      not_match.each(function(result){
        text += result.left.name +"： " + result.left.value  ;

        text += result.left.value > result.right.value ? ' ＞ ' : ' ＜ '
        text += result.right.value ;
        diff = result.right.value - result.left.value;
        if(! isNaN(diff)){
          text += "(" + (result.left.value > result.right.value ? '-' : '+') + diff  + ")"
        }
        text += "<br/>\n";
      })
      text += "</p>"
    }
    $('result2').innerHTML = text;

  }


  function update_result(){
      log = ""

    left = evchk_parser.parse($F('src') + "\n");
    right = evchk_parser.parse($F('dst') + "\n");

    results = compare(left,right)
    update_table(results);
    update_table2(results);

  }

  function test(){
    $('result').innerHTML = "";
    results = [];
    html = "<TABLE>"
    left = evchk_parser.parse($F('dst'))
    left.each(function(item){
      cr = new CompResult(true , item , null)
      results.push(cr)
      html += cr.row_tag();
    })
    $('result').innerHTML = html;
  }
  function test2(){
    $('result').innerHTML = [1,2,3,4,5].find(function(item){return item == 4;}).toString();

  }
  </script>


<% end -%>

<h2>評価値比較ツール</h2>
<%= form_tag :action => 'eval_comparison' do %>
  <div style="float:left" >
    <span style="font-weight:bold">比較元（太元出力）</span><br/>
    <%= text_area_tag :src ,h(@source),:rows => 20 ,:cols=>60  %>
  </div>
  <div>
    <span style="font-weight:bold">比較先（編成表記載）</span><br/>
    <%= text_area_tag :dst ,h(@source),:rows => 20 ,:cols=>60 %>
  </div>
  <%= button_to_function('比較' , 'update_result()') %>
<% end %>
<%= observe_field 'src' ,
  :function => "update_result()" ,
  :frequency => 0.3
%>
<%= observe_field 'dst' ,
  :function => "update_result()" ,
  :frequency => 0.3
%>

<div id="result" style="float:left">

</div>
<div id="result2" >

</div>

<div id="debug"></div>