
<table border=1>
  <tbody>
  <tr>
    <th>日時</th> <th> 事由 </th> <th> マイル収入 </th> <th> マイル支出 </th><th> 備考 </th> <th> 申請 </th> <th> 根拠 </th> <th> ターン </th> 
  </tr>

<% sum = 0 %>
<% for changes in owner_account.mile_changes.sort_by{|chg| chg.created_at } %>
  <tr>
  	<td><%= changes.created_at.strftime('%y/%m/%d') %></td>
  	<td><%= changes.reason %></td>
  	<td><%= changes.mile if  changes.mile && changes.mile > 0%></td>
  	<td><%= changes.mile if  changes.mile && changes.mile <= 0%></td>
  	<td><%= to_note_str changes.note %></td>
  	<td align=center><%= changes.application_url ? url2link(changes.application_url,'●') : '' %></td>
  	<td align=center><%= changes.ground_url ? url2link(changes.ground_url,'●') :''%></td>
  	<td><%= h changes.turn %></td>
<%   if controller.has_role?(:accountant) -%>
    <td><%= link_to '編集', edit_mile_change_path(owner_account , changes) %></td>
    <td><%= link_to '削除', mile_change_path(owner_account ,changes), :confirm => "マイル履歴１件を削除します。\nよろしいですか？", :method => :delete %></td>
<%   end %>
      </tr>
<% sum += changes.mile.to_i%>  
<% end %>
  <tr>
  <th colspan = 2>合計</th>
	
  <td><%= sum %></td>
  </tr>
</tbody>
</table>