<table border=1>
  <tbody>
  <tr>
  	<th>日時</th> <th> type </th> <th> original </th> <th> change </th> <th> target_type </th> <th>target</td>
  </tr>

<% sum = 0 %>
<% for changes in owner_account.mile_changes.sort_by{|chg| chg.created_at } %>
  <tr>
  	<td><%= changes.created_at.strftime('%y/%m/%d') %></td>
  	<td><%= changes.reason %></td>
  	<td><%= changes.mile %></td>
  	<td><%= changes.application_url %></td>
  	<td><%= changes.ground_url %></td>
    <td><%= link_to '編集', edit_owner_account_mile_change_path(owner_account , changes) %></td>
    <td><%= link_to '削除', changes, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% sum += changes.mile%>  
<% end %>
  <tr>
  <th colspan = 2>合計</th>
	
  <td><%= sum %></td>
  </tr>
</tbody>
</table>