<% 
account = OwnerAccount.find(params[:owner_account_id] )
characters = account.owner.characters(:include => 'owner_account') 
accounts = [account] + characters.sort_by{|c|c.character_no }.map{|c|c.owner_account }%>
<%= options = accounts.map{|a| 
  number = case a.owner_type
  when 'Nation'
    a.owner.id
  when 'Character'
    a.owner.character_no
  end
  ["#{number}:#{a.owner.name}" , a.id] }
  options_for_select(options)
 %>
 
