<h1>編集内容の確認</h1>

<% @owner_account = OwnerAccount.find_all_by_id(params[:owner_account][:id].to_i)[0]
  dict = {'weapons' => '兵器管理' , 'move' => '移送' , 'alter' => '数量変更' , 'caches' => '財務管理' , 'miles' => 'マイル管理'}
#  @edit_params = ActiveRecord::Base.new
%>
<p>
  編集種別：<%= dict[params[:edit_params][:target]] %> 
</p>
<% params_for_url = {} %>
<% params_for_url[:edit_params]={:target => params[:edit_params][:target]}%>
<% params_for_url[:owner_account]={:id => params[:owner_account][:id] }%>
<%   if @owner_account.owner_type == 'Character' && params[:edit_params][:target] != 'miles' %>
  <div style='color:red'>PC口座に兵器登録・財務登録は行えません。</div>
<% else %>
<% case params[:edit_params][:target]
   when 'weapons' %>
<% weapon = params[:weapons] %>
<% params_for_url[:weapons] = weapon %>
<p>
    対象口座：<%= @owner_account.owner.name %>
  </p>
  <p>
    兵器編集種別：<%= dict[ weapon[:app_type] ]%>
  </p>
<% if weapon[:app_type] == 'move' %>
  <p>
    移送先：<%= OwnerAccount.find(weapon[:move_dest]).owner.name %>
  </p>
<% end %>
  <p>
    兵器名：
<%= Specification.find(weapon[:weapon_id]).name %>
  </p>
  <p>
    兵器数変動：<%= weapon[:number] %>
  </p>
  <p>
    イベント番号：<%= weapon[:event_no] %>
  </p>
  <p>
    イベント名・事由：<%= weapon[:event_name] %>
  </p>
  <p>
    ターン：<%= weapon[:turn] %>
  </p>
  <p>
    備考：<%= weapon[:note] %>
  </p>
  <p>
    関連URL：<%= weapon[:reference_url] %>
  </p>
  
  <p>
    編集前の<%= '移送元' if weapon[:app_type] == 'move'%>所有数：<%= @results[:source_number] %>　＞＞　
    編集後の<%= '移送元' if weapon[:app_type] == 'move'%>所有数：
    <strong> <%= raw negative_warned_tag(@results[:edited_source_number]) %> </strong>
  </p>
<% if weapon[:app_type] == 'move' %>
  <p>
    編集前の移送先所有数：<%= @results[:dest_number] %>　＞＞ 
    編集後の移送先所有数：<strong> <%=negative_warned_tag(@results[:edited_dest_number]) %> </strong>
  </p>
<% end %>

<% when 'caches'%>
<% caches = params[:caches] %>
<% params_for_url[:caches] = caches %>
  <p>
    イベント番号：<%= caches[:event_no] %>
  </p>
  <p>
    イベント名・事由：<%= caches[:event_name] %>
  </p>
  <p>
    エントリURL：<%= caches[:entry_url] %>
  </p>
  <p>
    リザルトURL：<%= caches[:result_url] %>
  </p>
  <p>
    参照URL：<%= caches[:reference_url] %>
  </p>
  <p>
    資金：<%= caches[:fund] %> , 資源：<%= caches[:resource] %> , 食料：<%= caches[:food] %> ,
    燃料：<%= caches[:fuel] %> , 高性能燃料：<%= caches[:hqfuel] %> , 生物資源：<%= caches[:amusement] %> , 犬or猫士：<%= caches[:num_npc] %> 
  </p>
  <p>
    編集前：[ 
    資金：<%=  @results[:cash_record][:fund] %> , 資源：<%= @results[:cash_record][:resource] %> , 食料：<%= @results[:cash_record][:food] %> ,
    燃料：<%= @results[:cash_record][:fuel] %> , 高性能燃料：<%= @results[:cash_record][:hqfuel] %> ,
    生物資源：<%= @results[:cash_record][:amusement] %> , 犬or猫士：<%= @results[:cash_record][:num_npc] %> ]<br/>
  </p>
  <p>
    編集後：[ 
    資金：<strong> <%= negative_warned_tag(@results[:edited_cash_record][:fund] )%></strong>  ,
    資源：<strong> <%= negative_warned_tag(@results[:edited_cash_record][:resource]) %></strong> ,
    食料：<strong> <%= negative_warned_tag(@results[:edited_cash_record][:food] )%></strong> ,
    燃料：<strong> <%= negative_warned_tag(@results[:edited_cash_record][:fuel] )%></strong> , 
    高性能燃料：<strong> <%= negative_warned_tag(@results[:edited_cash_record][:hqfuel] )%></strong> , 
    生物資源：<strong> <%= negative_warned_tag(@results[:edited_cash_record][:amusement]) %></strong> , 
    犬or猫士：<strong> <%= negative_warned_tag(@results[:edited_cash_record][:num_npc]) %></strong> ]<br/>
  </p>
  <p>
    備考：<%= caches[:note].to_s.gsub("\n","<br/>\n") %>
  </p>
  <p>
    ターン：<%= caches[:turn] %>
  </p>
  <pre>
    <%= @results[:cash_record].to_yaml %>
  </pre>
<% when 'miles'%>
<%  miles = params[:miles] %>
<% params_for_url[:miles] = miles %>
  <p>
    事由：<%= miles[:reason] %>
  </p>
  <p>
    マイル変動：<%= miles[:mile] %>
  </p>
  <p>
    備考：<%= miles[:note] %>
  </p>
  <p>
    申請URL：<%= miles[:application_url] %>
  </p>
  <p>
    根拠：<%= miles[:ground_url] %>
  </p>
  
  <p>
    編集前マイル残高：<%= @owner_account.miles %>　＞＞　
    編集後：<strong><%= negative_warned_tag(@results[:edited_miles]) %></strong>
  </p>
  
<% end %>  
<%= form_tag process_edit_owner_account_path(@owner_account) do |f|   %>
<%    edit_params = params[params[:edit_params][:target]]
    for key in edit_params.keys %>
      <%= hidden_field_tag  "#{params[:edit_params][:target]}[#{key}]" ,  edit_params[key] %>
<%  end %>

  <%= hidden_field_tag "edit_params[target]" , params[:edit_params][:target] %>
<%= submit_tag '編集実行' %>

  <p>
  このページのURL：<%= link_to url_for({:only_path => false }.merge(params_for_url)) , url_for(params_for_url) %>
    </p>  
<%   end %>
<% end %>