<h1>Editing owner_account</h1>

<%= error_messages_for :owner_account %>

<%= form_for(@owner_account) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @owner_account %> |
<%= link_to 'Back', owner_accounts_path %>
