<h1>口座取り扱い</h1>
<script type="text/javascript">
  jQuery(function(){
      var current_turn = <%= Property[:current_turn]%> ;
      function org_id_changed(){
          var org_select_id = $("#org_select_id").val();
          $.getScript(String(org_select_id) + "/update_owner_account_list" );
    }
      $('#org_select_id').change(org_id_changed);
      $('#loading_message').hide();

      $('#owner_account_id').change(function(){
          if ($('#owner_account_id option:selected').attr('owner_type') != 'Character' ){
              $('a#link_to_cache_records').attr('href' , '/owner_accounts/'+ $('#owner_account_id option:selected').val() + '/cash_records?turn='+current_turn ) ;
              $('a#link_to_weapon_list').attr('href' , '/owner_accounts/'+ $('#owner_account_id option:selected').val() + '/weapons') ;
              $('a#link_to_weapon_registry').attr('href' , '/owner_accounts/'+ $('#owner_account_id option:selected').val() + '/weapons_registries') ;

              $('#weapon_selection').autocomplete({source: [{value:1 , label:'test1'} , {value:2 , label:'test2'}] });
          }
          $('a#link_to_mile_changes').attr('href' , '/owner_accounts/'+ $('#owner_account_id option:selected').val() + '/mile_changes?turn='+current_turn) ;
          $.getScript('/owner_accounts/update_form_parts?target_id=' + $('#owner_account_id option:selected').val());
      });

      $('#weapon_selection').autocomplete({
          minLength: 0,
          source: <%= raw yell_weapon_list.to_json%>,
          select: function(event, ui){
              $('#weapon_selection').val(ui.item.label);
              $('#link_weapon_id').val(ui.item.value);
              return false;
          }
      });
      org_id_changed();

  });
    </script>

<p><label for="job_idress_name">所属国・組織：</label>
  <% 
  @nations = OwnerAccount.find_all_by_owner_type('Nation' , :order => 'owner_id' ) 
  nations = @nations.dup
#  nations += OwnerAccount.find_all_by_owner_type('Organization' , :order => 'owner_id' ).dup
  nations_and_ids = [['(藩国を選択してください)',0]]
  nations_and_ids +=  nations.map{|n| [ "#{n.owner.class == Nation ? n.owner.id.to_s + ':' : ''}#{n.owner.name}" ,  n.id]}
  nations_and_ids += [['(騎士団)','Knights'] , ['(個人騎士団)','IndividualKnights'],['(会社)','Corporation'],
                      ['(冒険組合)','AdventurersGuild'],['(前線基地)','AdvanceBase']]
  @edit_type = {:app_type => :alter , :target => :weapons}
  %>
  
  <%= select_tag "org_select_id" , options_for_select(nations_and_ids , cookies[:org_select_id] ? 
        (cookies[:org_select_id] =~ /^\d+$/ ? cookies[:org_select_id].to_i : cookies[:org_select_id]) : 0 )%>


<%= form_tag confirm_owner_accounts_path  ,:name => 'form1' ,:method => :get do %>
    <label for="owner_account_select">対象口座</label>
    <span id="owner_account_list">
      <select id="owner_account_id" name="owner_account[id]">
      </select>
    </span> 
    <%= link_to '[財務表]' , '' ,:target => :cache ,:id=>'link_to_cache_records'%>
    <%= link_to '[マイル]' , '' ,:target => :mile ,:id=>'link_to_mile_changes'%>
    <%= link_to '[兵器一覧]' , '' ,:target => :mile ,:id=>'link_to_weapon_list'%>
    <%= link_to '[兵器履歴]' , '' ,:target => :mile ,:id=>'link_to_weapon_registry'%>
    <span id='loading_message' style='color:green;' > 口座リストを読み込み中... </span>
  </p>
  <%#= observe_field(
                  :owner_account_id, 
        #            :update => :result , 
                  :url => { :action => :update_form_parts} ,
                  :with => 'target_id') %>
  <div id='result'> </div>
  <h3><label for='edit_params_target_caches'><%= radio_button :edit_params , :target , :caches %>  財務管理 </label></h3>
  <div>
    イベント番号： <%= text_field :caches , :event_no , :size => 4%>
    イベント名・事由：<%= text_field :caches , :event_name , :size => 80 %> <br/>
    エントリURL：<%= text_field :caches , :entry_url , :size => 80 %>  <br/>
    リザルトURL：<%= text_field :caches , :result_url , :size => 80 %>  <br/>
    参照URL：<%= text_field :caches , :reference_url , :size => 80 %>  <br/>
    資金：<%= text_field :caches , :fund , :size => 3 %>
    資源：<%= text_field :caches , :resource , :size => 3 %>
    食料：<%= text_field :caches , :food , :size => 3 %>
    燃料：<%= text_field :caches , :fuel , :size => 3 %>
    高性能燃料：<%= text_field :caches , :hqfuel , :size => 3 %>
    生物資源：<%= text_field :caches , :amusement, :size => 3 %>
    犬or猫士：<%= text_field :caches , :num_npc, :size => 3 %>  <br/>
    備考：<%= text_area :caches , :note, :cols => 60 , :rows => 4%>  <br/>
    ターン：<%= text_field :caches , :turn, :size => 3 ,:value => Property['current_turn'].to_s%>
  
  </div>
  <h3><label for='edit_params_target_weapons'><%= radio_button :edit_params , :target , :weapons %> 兵器管理</label></h3>
  <div>
    兵器品目：
    <%#= raw selection_suggest_input_tag 'weapons_weapon_id', yell_weapon_select_list, 'weapons_suggestor_container', 'weapons_weapon_name', 'weapons_suggest' %>
    <input id="weapon_selection" />
    <input id="link_weapon_id" name="weapons_weapon_id" />

    数量：<%= text_field :weapons ,  :number ,  :size => 3 , :disabled => true  %> 
    申請種別：
    <label for='weapons_app_type_alter'> <%= radio_button :weapons , :app_type , :alter , :checked => 'checked' , :disabled => true %>数量変更(追加or削除) </label>
  
    <label for='weapons_app_type_move'> <%= radio_button :weapons , :app_type , :move , :disabled => true %>移送：移送先 </label>
  
          <%= select :weapons , :move_dest , nations_and_ids , :disabled => true %><br/>
    イベント番号：<%= text_field :weapons, :event_no , :size=> 10 ,:disabled => true %> 
    イベント名・事由：<%= text_field :weapons, :event_name , :size=> 80 ,:disabled => true %> 
    ターン：<%= text_field :weapons , :turn, :size => 3 ,:value => Property['current_turn'].to_s%> <br/>
    備考：<%= text_area :weapons, :note , :cols => 60 , :rows => 4 , :disabled => true %> <br/>
    関連URL:<%= text_field :weapons, :reference_url, :size=>80 ,:disabled => true %>
  </div>
  <div id='weapons_table'> </div>

  <h3><label for='edit_params_target_miles'><%= radio_button :edit_params , :target , :miles , :checked => 'checked' %>  マイル管理 </label></h3>
<table>
<tr>      
  <td align=right>  事由：</td> 
  <td> <%= text_field :miles , :reason ,:size => 60%>  </td>
  </tr>
  <tr>
    <td align=right>マイル変動：</td>
    <td><%= text_field :miles , :mile , :size => 3 %> </td>
  </tr>
  <tr>
    <td align=right>備考：</td>
    <td><%= text_area :miles , :note , :rows => 5 , :cols => 60  %> </td>
  </tr>
  <tr>
    <td align=right>申請URL：</td>
    <td><%= text_field :miles , :application_url , :size => 80 %> </td>
  </tr>
  <tr>
    <td align=right>根拠URL：</td>
    <td><%= text_field :miles , :ground_url , :size => 80 %> </td>
  </tr>
</table>

  <p>
    <%= submit_tag '確認' ,:id=>'submit' , :disabled => cookies[:org_select_id].nil? || cookies[:org_select_id].to_i == 0 %>
  </p>

<% end %>

<ul>
  <li><%= link_to "マイル・根源力のテキスト一括入力" ,:controller => :packaged_register , :action => :register_form %></li>
  <li><%= link_to '兵器品目管理' , specifications_path %> </li>
  <li><%= link_to 'その他組織口座開設' , new_organization_path %> </li>
</ul>
<% @link = link_to '金庫番トップ'%>
<% @title = '金庫番トップ' %>
