<h1>Listing owner_accounts</h1>

<table>
  <tr>
  </tr>

<% for owner_account in @owner_accounts %>
  <tr>
    <td><%= link_to 'Show', owner_account %></td>
    <td><%= link_to 'Edit', edit_owner_account_path(owner_account) %></td>
    <td><%= link_to 'Destroy', owner_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New owner_account', new_owner_account_path %>
