<h1>New owner_account</h1>

<%= error_messages_for :owner_account %>

<%= form_for(@owner_account) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', owner_accounts_path %>
