<h2> <%= @owner_account.owner.name %> マイル口座</h2>
<% if controller.has_role?(:accountant) -%>
<%= button_to '新規マイル出納', new_mile_change_path(@owner_account) , :method => :get %>
<% end -%>

<%= render :partial => 'mile_changes' ,
   :locals => {:owner_account => @owner_account } %>
<br/>
<% case @owner_account.owner_type 
  when 'Character' 
  %>
  <%= link_to '[ 個人詳細 ]', @owner_account.owner %>
  <%  @nation = @owner_account.owner.nation %> 
  <%= link_to '[ 国民一覧 ]', nation_characters_path(@nation) %>
<% 
  when 'Nation'
      @nation = @owner_account.owner
  %>
  <%= link_to '[ 藩国メニュー ]', @nation %>
<%
  when 'Organization'
%>
  <%= link_to '[組織一覧]' , associated_nations_path %>
<%
  end
%>

<%= link_to '[ 金庫番トップ ]' , facade_owner_accounts_path if has_role?(:accountant) %>

<% @link = link_to 'マイル口座'%>
