//page.assign("document.form1.owner_account_id.length" , 0)
$('#owner_account_id').children().remove();

<% if params[:owner_account_id] == '0' %>
      $('#submit').attr('disabled',true);
      $('#link_to_cache_records').html("<%= link_to( '[財務表]' , '' ,:id=>'link_to_cache_records' )%> ");
      $('#link_To_mile_changes').html("<%= link_to( '[マイル]' , '' ,:id=>'link_to_mile_changes' ) %>");
<%   return
   end

   if params[:id] =~ /^\d+$/

        account = OwnerAccount.find(params[:id] )
        accounts = [["#{account.owner === Nation ? account.owner.id.to_s + ':' : ''}#{account.owner.name}" , "#{account.id}" , 'Nation']]
        if account.owner.class == Nation
            characters = account.owner.characters(:include => 'owner_account')
            accounts += characters.sort_by{|c|c.character_no }.map{|c|["#{c.character_no}:#{c.name} ", "#{c.owner_account.id}" , c.class.name]}
        end
    else
        Organization
        organization_class = params[:id].constantize

        if organization_class < Organization
            organizations = organization_class.find(:all)
            account = organizations[0].owner_account
            accounts = organizations.collect{|o| [o.name , o.owner_account.id.to_s,o.class.name]}
        else
            accounts = []
            account = nil
        end
   end

   i = 0
   accounts.each{ |a|
        val = cookies[:owner_account_id]
        flag = (val && val.to_i == a[1].to_i) ? 'true' : 'false'
%>
        $('#owner_account_id').append($('<option />').val('<%= j a[1] %>').text('<%= a[0] %>').attr('selected' , <%= flag.to_s %>).attr('owner_type' ,'<%=a[2] %>') );
        <%
        i += 1
    }
   %>


     $('#loading_message').hide();
     $('#submit').attr('disabled',false);
     $('#link_to_cache_records').html('<%= link_to( '[財務表]' ,
        owner_account_cash_records_path(account,:turn => Property[:current_turn] ) , :target => :cache ,:id=>'link_to_cache_records' ) %>');

    <%= set_disable_for_facade(false) %>
    <%= update_tables_in_facade(account) if account %>

     $('#submit').attr('disabled' , false);

    <% if account %>
     $('#link_to_mile_changes').html("<%= j link_to( '[マイル]' ,
        owner_account_mile_changes_path(account,:turn => 'last') , :target => :mile ,:id=>'link_to_mile_changes' ) %>");

    <% end %>
     $('#link_to_weapon_list').html("<%=j link_to( '[兵器一覧]' , weapons_path(account) , :target => :weapon , :id=>'link_to_weapon_list' ) %> ");
     $('#link_to_weapon_registry').html("<%= j link_to( '[兵器履歴]' , owner_account_weapon_registries_path(account) , :target => :weapon ,:id=>'link_to_weapon_registry' ) %> ");

