
//page.set_disable_for_facade(flag)
<%= set_disable_for_facade(@flag) %>

$('#submit' , '#edit_params_target_weapons' , 'edit_params_target_cashes').val('disabled' , <%=@flag %>);

<% if @flag %>
$('#edit_params_target_mils').val('checked' , true)
<% end %>

//page.update_tables_in_facade(@selected)
<%= update_tables_in_facade(@selected)  %>

//page.update_links(@selected)
