<p><label for="email">Email</label><br/>
<%= user.text_field :email %></p>

<p><label for="name">ユーザ名</label><br/>
<%= user.text_field :name %></p>

<p><label for="password">パスワード</label><br/>
<%= user.password_field :password %></p>

<p><label for="password_confirmation">パスワード確認</label><br/>
<%= user.password_field :password_confirmation %></p>

<p><label for="password_confirmation">OpenID URL</label><br/>
<%= user.text_field :identity_url ,:size => 80%></p>
