<%= error_messages_for :user %>
<%
  table = Role.arel_table

  role_selection =  Role.order(:id).collect{|r| [r.jname , r.id]}
%>
<%= form_for  @user , :url => {:action => :update_user , :id => @user } do |f| -%>
<p><label for="login">ユーザID</label><br/>
<%= f.text_field :login %></p>

  <%= render :partial => 'user' ,:object => f %>

  <p><%# <label for="password_role">権限</label><br/>

  <p><%= submit_tag '変更' %></p>
<% end -%>

<table>  
<% for role in @user.roles %>
<tr>
  <td> <%= role.jname %> </td>  
  <td> <%= link_to '削除' , :action => :remove_role , :id => @user , :role_id => role %> </td>  
</tr>

<% end %>
</table>
<%= form_tag :action => :add_role ,:id => @user do %>
  <%= select_tag :role_id , options_for_select(role_selection) %>  
  <%= submit_tag '役割追加' %>
<% end %>  
