<%= error_messages_for :user %>
<%
  list = []
  for n in Nation.find(:all).sort_by{|n| n[:id]}
      list << [n.id.to_s + n.name , n.id]
  end

  role_selection =  Role.find(:all, :order => 'id').collect{|r| [r.jname , r.id]}
%>
<%= form_for @user , :url => {:action => :update_user , :id => @user } do |f| -%>
<p><label for="login">ユーザID</label>：<%= @user.login %> <br/>
  <%= render :partial => 'user' ,:object => f %>

  <p><%# <label for="password_role">権限</label><br/>
  <%# <%= f.select :role , list %></p>

  <p><%= submit_tag '変更' %></p>
<% end -%>

<h3>所有する権限</h3>
<% if @user.roles.size == 0%>
 （なし）
<% else %>
<ul>
<% for role in @user.roles %>
  <li><%= role.jname %> </li>
<% end %>
</ul>

<% end %>