<%= form_tag do -%>
<p><label for="login">ユーザID</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">パスワード</label><br/>
<%= password_field_tag 'password' %></p>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->
<p><label for="openid_url">OpenID (所有している場合はこちらを入力して下さい）</label><br/>
<%= text_field_tag 'openid_url' ,cookies[:openid_url] ,:size => '80' %>
</p>
<p><%= submit_tag 'Log in' %></p>
<% end -%>
