<%= error_messages_for :user %>
<%
  list = []
  for n in Nation.order(:id)
    list << [n.id.to_s + n.name , n.id]
  end

%>
<%= form_for @user , url: '/account/signup' do |f| -%>
<p><label for="login">ユーザID</label><br/>
<%= f.text_field :login %></p>

<p><label for="name">ユーザ名</label><br/>
<%= f.text_field :name %></p>

<p><label for="password">パスワード</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">パスワード確認</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%# <label for="password_role">権限</label><br/>
<%# <%= f.select :role , list %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>

<% @link = raw (link_to 'サインアップ' )%>