
<% for user in @users %>
  
  <ul>
    <li> <%= link_to user.login , :controller => :account , :action => :edit , :id => user %> / <%= user.name %>
    
       <%= link_to '権限編集' , :controller => :account , :action => :edit_roles , :id => user %>
       <%= link_to '削除',:controller => :account , :action => :destroy , :id => user , :confirm => "ユーザ#{user.login}を削除します。\nよろしいですか？", :method => :delete %>
    </li>
  </ul>  
<% end %>
