  <%= simple_format(bond.errors) if bond %>

  <p>
    <strong><%= f.label :bond_type ,'勲章種別：'%></strong> <%= f.select :bond_type ,['微笑青空勲章','優月夜曲勲章','その他']%>
  </p>

<hr/>
  <div>
    <h2>キャラクター</h2>
  <div>
    <%= f.label :character_ace_id , 'PLACE'  %> （空欄ならPLACEなし）<br />
    <%= selection_suggest_input_tag({:name => 'bond_character_ace_id'} , 
          select(:bond , :character_ace_id ,
            ObjectDefinition.all(
              :conditions => ["object_type = 'ＡＣＥ'"] , 
              :order => 'hurigana' 
            ).collect{|p| [ p.name, p.id ] }, { :include_blank => true })
        ) %>
    <%= link_to '[ACE定義新規作成]',new_object_definition_path({}) , :target => '_blank'%>
    <br/>
    (対象となるPLACEが選択肢にない場合は、先にPLACEの定義を登録してください。)
  </div>
  <p>
    <%= f.label :old_character_name ,'キャラクター旧名' %> （空欄なら改名なし）<br />
    <%= f.text_field :old_character_name %>
  </p>
  <p>
    <%= f.label :character_name_changing_url ,'キャラクター改名根拠のURL' %><br />
    <%= f.text_field :character_name_changing_url ,:size => 80 %>
  </p>
</div>
<hr/>
<div>
  <h2> 対象ＡＣＥ</h2>
    <%= f.label :ace_id , '対象ACE' %><br />
    <%= selection_suggest_input_tag({:name => 'bond_ace_id'} , aces_select_tag) %>    <%= link_to '[ACE新規登録]', new_ace_path ,:target => '_blank'%>
    <br/>
    (対象となるACEが選択肢にない場合は、先にACEを登録してください。)
  
  <p>
    <%= f.label :old_ace_name ,'ACE旧名'%> （空欄なら改名なし）<br />
    <%= f.text_field :old_ace_name %>
  </p>
  <p>
    <%= f.label :ace_name_changing_url ,'個人ACE改名根拠のURL' %><br />
    <%= f.text_field :ace_name_changing_url  ,:size => 80 %>
  </p>
  </div>
<hr/>

  <p>
    <%= f.label :date_note ,'日付等'%><br />
    <%= f.text_area :date_note ,:cols => 60 , :rows => 3%>
  </p>
  <p>
    <%= f.label :note ,'備考'%><br />
    <%= f.text_area :note ,:cols => 60 , :rows => 5%>
  </p>
  <p>
    <%= f.submit "登録" %>
  </p>
