<h1>個人ACE登録の編集</h1>

<%= form_for(:bond , @bond , :url=>character_bond_path(params[:character_id],@bond), :html => {:method => :put} ) do |f| %>
  <%= render :partial => 'form' , :locals => {:f => f , :bond => @bond} %>
<% end %>

<%= link_to '[詳細]', character_bond_path(params[:charcter_id],@bond )%> |
<%= link_to '[戻る]', character_bonds_path(params[:id]) %>
