<% character = Character.find(params[:character_id])%>
<h1><%= character.name %> 個人ACE 一覧</h1>

<%= link_to '[新規登録]', new_character_bond_path(params[:character_id]) if has_role?(:item_officer)%>
<table border=1>
  <tr>
    <th>関係種別</th>
    <th>キャラクター</th>
    <th>対象ACE</th>
    <th>キャラ旧名</th>
    <th>キャラ改名根拠URL</th>
    <th>PLACE定義</th>
    <th>ACE旧名</th>
    <th>ACE改名根拠URL</th>
    <th>日付</th>
  </tr>

<% for bond in @bonds %>
<% next if bond.ace.nil? %>
  <tr>
    <td><%=h bond.bond_type %></td>
    <td><%= link_to bond.character.name , bond.character %></td>
    <td><%= link_to bond.ace.name , bond.ace%></td>
    <td><%=h bond.old_character_name %></td>
    <td><%=h bond.character_name_changing_url %></td>
    <td><%=link_to bond.character_ace.name , object_definition_path(bond.character_ace) if bond.character_ace %></td>
    <td><%=h bond.old_ace_name %></td>
    <td><%=h bond.ace_name_changing_url %></td>
    <td><%=h bond.date_note %></td>
    <td><%= link_to '[詳細]', character_bond_path(params[:character_id],bond) %></td>
    <% if has_role?(:item_officer) -%>
    <td><%= link_to '[編集]', edit_character_bond_path(params[:character_id],bond) %></td>
    <td><%= link_to '[関係解消]', character_bond_path(params[:character_id],bond), :confirm => bond.ace.name + 'との関係を解消します。よろしいですか？', :method => :delete %></td>
    <% end  -%>
  </tr>
<% end %>
</table>

