<h1>個人ACE新規登録</h1>

<%= form_for(:bond , :url=>character_bonds_path(params[:character_id])) do |f| %>
  <%= render :partial => 'form' , :locals => {:f => f , :bond => nil} %>
<% end %>

<%= link_to '[戻る]', character_bonds_path(params[:character_id]) %>
