<p>
  <b>勲章種別:</b>
  <%=h @bond.bond_type %>
</p>

<p>
  <b>キャラクター旧名:</b>
  <% if @bond_old_character_name.blank? %>
    (改名なし)
  <% else %>
     <%= h @bond.old_character_name %> 
     <%= link_to_if !@bond.character_name_changing_url.blank? ,  '[根拠]' , @bond.character_name_changing_url %>
  <% end %>
</p>

<p>
  <b>キャラクター名:</b>
  <%=h @bond.character.name %>
</p>

<p>
  <b>PLACE:</b>
  <% if  @bond.character_ace  -%>
    <%=h @bond.character_ace.name %>
     <%= link_to_if @bond.character_ace ,  '[定義]' , @bond.character_ace %>
  <% else -%>
     (なし)
  <% end -%>
</p>

<p>
  <b>対象ACE:</b>
  <%=h @bond.ace.name %> <%= link_to '[定義]' , @bond.ace%>
</p>

<p>
  <b>対象ACE旧名:</b>
  <% if @bond.old_ace_name.blank? %>
    (改名なし)
  <% else %>
    <%=h @bond.old_ace_name %> <%= link_to '[根拠]', @bond.ace_name_changing_url%>
  <% end  %>
</p>

<p>
  <b>日付等:</b>
  <%=h @bond.date_note %>
</p>

<p>
  <b>備考:</b>
  <%=h @bond.note %>
</p>


<%= link_to '[編集]', edit_character_bond_path(params[:character_id],@bond) %> |
<%= link_to '[戻る]', character_bonds_path(params[:character_id]) %>
