  <p>
    <b>名称</b><br />
    <%= text_field :organization , :name , :size => 30%>
  </p>

  <p>
    <b>識別番号</b><br />
    <%= text_field :organization , :org_no , :size => 10%>
  </p>
  <p>
    <b>種別</b><br />
    <%= select :organization , :type , [['騎士団','Knights'],
                          ['個人騎士団','IndividualKnights'],
                          ['冒険組合','AdventurersGuild'],
                          ['前線基地','AdvanceBase'] ,
                          ['会社','Corporation'] ,
                          ['ACE','Ace'] ,
                          ['その他組織','OtherOrg']
    ] %>
  </p>

<p> <b>母体組織</b><br />
    <%= text_field :organization , :parent_organization , :size => 60 %>
</p>

<p> <b>備考</b><br />
    <%= text_area :organization , :note , :cols => 80 , :rows => 15 %>
</p>
