<h1>組織詳細編集</h1>

<%= error_messages_for :organization %>

<%= form_for(@organization , :url => organization_path(@organization)) do |f| %>
  <%= render :partial => 'form' , :locals => {:f => f}%>
  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<% @title = '組織詳細編集' %>
<%= link_to '[詳細]', organization_path(@organization) %> |
<%= link_to '[戻る]', organizations_path %>
