<h1>組織一覧<%= (':' + _(params[:type]) )if params[:type] %>  </h1>

<%= link_to_if has_role?(:herald) || has_role?(:accountant) ,'[新規登録]', new_organization_path %>

<%= link_to  '[騎士団]' , :type => 'Knights' %> 
<%= link_to  '[個人騎士団]' , :type => 'IndividualKnights' %> 
<%= link_to  '[冒険組合]' , :type => 'AdventurersGuild' %> 
<%= link_to  '[前線基地]' , :type => 'AdvanceBase' %> 
<%= link_to  '[企業]' , :type => 'Corporation' %> 
<%= link_to  '[ACE]' , :type => 'Ace' %> 
<%= link_to  '[全て]' %> 
<table>
  <tr>
    <th>名称</th>
    <th>種別</th>
  </tr>
<%
  if params[:type]
    targets = @organizations.find_all{|o| o[:type] == params[:type]}
  else
    targets = @organizations
  end

%>

<% for organization in targets.sort_by{|org| org[:type].to_s + sprintf('%04d',org.id) }  %>
  <tr>
    <td><%=h organization.name %></td>
    <td><%=_(organization.type) %></td>
    <td><%= link_to '詳細', organization_path(organization) %></td>
    <td><%= link_to '編集', edit_organization_path(organization) if has_role?(:herald) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[管理者画面へ戻る]' , :controller => :admin , :action => :index if has_role?(:herald)%>

<% @title = '組織管理' %>
<% @link = link_to '組織一覧' %>