<h1>新規組織登録</h1>

<%= error_messages_for :organization %>

<%= form_for(@organization) do |f| %>
  <%= render :partial => 'form' , :locals => {:f => f}%>
    <p>
    <%= f.submit "登録" %>
  </p>
<% end %>

<%= link_to '[組織一覧に戻る]', organizations_path %>
<%@link = link_to '新規組織登録' %>