<p>
  <b>名称:</b>
  <%=h @organization.name %>
  <p><b>母体組織：</b><%= h @organization.parent_organization %>
  </p>
  <p><b>備考：</b><br/>
<%= auto_link (lf2br @organization.note )%>
  </p>
<hr>
<ul>
<li><%= link_to '[財務表]', cash_records_path(@organization.owner_account)%>  </li>
   <li><%=   link_to '[マイル口座]' ,owner_account_path(@organization.owner_account) %> </li>
   <li><%=  link_to '[保有兵器表]' , owner_account_weapons_path(@organization.owner_account) %> </li>
   <li><%=  link_to '[兵器登録履歴]' , owner_account_weapon_registries_path(@organization.owner_account) , :action => :list , :nation_id => @nation %> </li>
   <li><%=  link_to '[アイテム登録履歴]' , owner_account_object_registries_path(@organization.owner_account) , :action => :list , :nation_id => @nation %> </li>
   <li><%=  link_to '[編集履歴]' , owner_account_modify_commands_path(@organization.owner_account) %> </li>
 </ul>
</p>

<% @link = '' %>
<%= link_to_if has_role?(:herald), '[編集]', edit_organization_path(@organization) %> |
<%= link_to '[戻る]', organizations_path %>
