<%= error_messages_for 'operation_node' %>

<!--[form:operation_node]-->
<p><label for="troop_name">Name</label><br/>
<%= text_field 'troop', 'name'  %></p>

<p><label for="troop_note">Note</label><br/>
<%= text_area 'troop', 'note'  %></p>

<!--[eoform:operation_node]-->

