  <tr>
  <% for column in SoldierNode.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>

<% for soldier in @soldiers %>
  <tr>
  <% for column in SoldierNode.content_columns %>
    <td><%=h soldier.send(column.name) %></td>
  <% end %>
  </tr>
<% end %>
