<h1>Editing operation_node</h1>

<%= form_tag :action => 'update', :id => @operation_node do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @operation_node %> |
<%= link_to 'Back', :action => 'list' %>
