<h1>Listing troops</h1>

<table>
  <tr>
  <% for column in OperationNode.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for troop in @troops %>
  <tr>
  <% for column in TroopNode.content_columns %>
    <td><%=h troop.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => troop %></td>
    <td><%= link_to '構成変更', :action => 'edit', :id => troop %></td>
    <td><%= link_to '戦力評価', :controller => 'operations/plans' ,:action => 'plan', :id => troop.operation %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => troop }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<% link_to 'Previous page', { :page => @troop_pages.current.previous } if @troop_pages.current.previous %>
<% link_to 'Next page', { :page => @troop_pages.current.next } if @troop_pages.current.next %> 
<br />

<%= link_to 'New troop', :action => 'new' ,:operation_id => troop.operation %>
