<h1>動員登録・除名</h1>
<form>
<%= select_tag "nation", options_for_select(@nations) %>
<%= observe_field "nation" , :on => :change , :url => {:action => 'update_players_table'} %>
</form>
<table id='players_table'>
  <%= render :partial => 'players_table' %>
</table>

<br />
