<% for column in OperationNode.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @operation_node.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @operation_node %> |
<%= link_to 'Back', :action => 'list' %>
