<% if flash[:notice] -%>
<div align="center">
  <div class="flashNotice">
    <%= localize(:common, :notice_header) -%>
    <p><%= flash[:notice].to_s.gsub(/\r?\n/, '<BR>') %></p>
  </div>
</div>
<% flash[:notice] = nil -%>
<% end -%>

