<h1>定義の編集</h1>

<%= error_messages_for :i_definition %>

<%= form_for(@i_definition) do |f| %>
  <p>
    <b>定義</b><br />
    <%= f.text_area :definition, :rows => 15 , :cols => 80 %>
  </p>


  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to '[表示]', @i_definition %> |
<%= link_to '[一覧]', i_definitions_path %>
