<h1>ｉ言語定義一覧</h1>
<%= will_paginate(@items) %>

<table>
  <tr>
    <th>名称</th>
    <th>種別</th>
  </tr>

<% for i_definition in @i_definitions %>
  <tr>
    <td><%=link_to i_definition.name , i_definition%></td>
    <td><%=h i_definition.object_type %></td>
    <td><%#= link_to 'Show', i_definition %></td>
    <td><%#= link_to 'Edit', edit_i_definition_path(i_definition) %></td>
    <td><%#= link_to 'Destroy', i_definition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate(@items) %>

<br />

<%#= link_to 'New i_definition', new_i_definition_path %>
