<h1>ｉ言語定義の登録</h1>

<%= error_messages_for :i_definition %>

<%= form_for(@i_definition) do |f| %>
  <p>
    <b>Object</b><br />
    <%= f.text_field :object_id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Type</b><br />
    <%= f.text_field :object_type %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', i_definition_path %>
