<p>
  <b>Ｌ：名称:</b>
  <%=h @i_definition.name %>
</p>

<p>
  <b>種別：</b>
  <%=h @i_definition.object_type %>
</p>
<p>  <b>定義：</b>
<pre>
<%=h @i_definition.definition %></pre>
</p>

<% if @i_definition.compiled_hash['エラー'] %>
<pre><%= @i_definition.compiled_hash.to_yaml %></pre>
<% end %>

<%= link_to '[戻る]', i_definitions_path %>
<%= link_to '[編集]', edit_i_definition_path(@i_definition) if has_role?(:admin) %>
<% @link = link_to('ｉ言語定義' , i_definitions_path) + ' > ' +  link_to(@i_definition.name)  %>