    <td> <%= radio_button_tag 'target_row' , weapon_registry.id ,selected  , :onClick => "row_radio_clicked(#{weapon_registry.position});"%> </td>
    <td> <%= weapon_registry.event_no %></td>
    <td> <%= weapon_registry.event_name %></td>
    <td> <%= link_to weapon_registry.name ,owner_account_weapon_registries_path(weapon_registry.owner_account , :name => weapon_registry.name )%></td>
    <td> <%= weapon_registry.number %></td>
    <td align='center' > <%= (weapon_registry.reference_url && ! weapon_registry.reference_url.empty?) ? link_to('●',weapon_registry.reference_url) : ''  %></td>
    <td> <%= raw to_note_str(weapon_registry.note ,'[参照]') if weapon_registry.note %> </td>
    <td> <%= weapon_registry.turn %></td>
<% if has_role?(:accountant)%>
    <td><%= link_to '編集', edit_owner_account_weapon_registry_path(weapon_registry.owner_account , weapon_registry) %></td>
    <td><%= link_to '削除', owner_account_weapon_registry_path(weapon_registry.owner_account , weapon_registry), :confirm => '削除します。よろしいですか？', :method => :delete %></td>
<% end %>
