<h1> 兵器登録履歴の修正 </h1>

<%= error_messages_for :weapon_registry %>

<%= form_for(@weapon_registry , :url => owner_account_weapon_registry_path(params[:owner_account_id],params[:id])) do |f| %>
  <p>
    イベント番号：<%= f.text_field :event_no %>
  </p>
  <p>
    イベント名：<%= f.text_field :event_name %>
  </p>
  <p>
    兵器名称：<%= f.text_field :name %>
  </p>
  <p>
    変動量：<%= f.text_field :number %>
  </p>
  <p>
    備考：<%= f.text_area :note ,:rows => 4 , :cols => 60%>
  </p>
  <p>
    参照URL：<%= f.text_field :reference_url ,:size => 100 %>
  </p>
  <p>
    ターン：<%= f.text_field :turn %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to '[ 戻る ]',  owner_account_weapon_registries_path(params[:owner_account_id])%>

<% @title = '兵器登録履歴' %>
