<h1><%= h @owner_account.owner.name %> 兵器登録履歴</h1>
<%= raw "(#{params[:name]} についてのみ表示) <br/>" if params[:name] %>
<%= render :partial => 'shared/move_position_func',
    :locals => {:controller => "owner_accounts/#{@owner_account.id}/weapon_registries" ,
                :length => @owner_account.weapon_registries.size } %>

<%= turn_link(params[:turn]) %>
<table border=1 cellspacing=0>
  <tr>
    <th> </th>
    <th> EvNo　</th>
    <th> イベント名・事由　</th>
    <th> 兵器名称　</th>
    <th> 増減数 </th>
    <th> 詳細 </th>
    <th> 備考 </th>
    <th> ターン </th>
  </tr>

<% for wr in @weapon_registries %>
  <tr id="row_<%=wr.position %>" >
    <%= render :partial => 'weapon_registry' , :locals => {:weapon_registry => wr ,:selected => false} %>
  </tr>
<% end %>
</table>
<br />
<% if has_role?(:accountant)%>
<%= move_button :up %> 
<%= move_button :down %>
<% end %>
<%= link_as_return_to @owner_account %>
<%= link_to '[金庫番トップ]' , facade_owner_accounts_path if has_role?(:accountant) %>
<% @title = '兵器登録履歴' %>