<h1>New weapon_registry</h1>

<%= error_messages_for :weapon_registry %>

<%= form_for(@weapon_registry) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', weapon_registries_path %>
