<td> <%= wr.name %></td>
<td> <%= wr.number %></td>
<td> <%= wr.note.gsub("\n","<br/>\n") if wr.note %> 

<%= link_to 'Edit', edit_owner_account_weapon_registry_path(@weapon_registry.owner_account , @weapon_registry) %> |
<%= link_to 'Back', owner_account_weapon_registries_path(params[:owner_account_id]) %>
