<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>CashRecordDetail: <%= controller.action_name %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
</head>
<body>

<%= render :partial=>"common/notice" if flash[:notice] -%>
<%= render :partial=>"common/error"  if flash[:error] -%>

<%= @content_for_layout %>

</body>
</html>
