<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>財務表: <%= controller.action_name %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
</head>
<body>
<div class='menu' style="width: 100%">
<% @nation_id , @character = prepare_ids() %>
 <span style="float: left" >
     &nbsp;
     <%= link_to "トップ" , :controller => :nations %>
	 <% if params[:id] != 'top' %>
       > <%= link_to(@owner_account.owner.name ,@owner_account.owner ) %>
       > <%= raw "  > " + @link if @link %>
	 <% end %>
 </span>
     <%= render :partial => "shared/login_link" %>
 &nbsp;
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
<%= render :partial => "shared/bottom_links" %>
</body>
</html>
