<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>キャラクター <%= controller.action_name %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
</head>
<body>
<div class='menu' style="background-color: #d0d0d0;width: 100%">
<% @nation_id , @character = prepare_ids() %>
 <span style="float: left" >
     &nbsp;
     <%= link_to "トップ" , :action => :top , :controller => :nations %>
     <%= raw " > " + link_to(Nation.find(@nation_id).name , :action => :show , :controller => :nations , :id => @nation_id ) if @nation_id %>
     <%= raw " > " + link_to("国民一覧" , nation_characters_path(@nation_id ) ) if @nation_id%>
     <%= raw " > " + link_to("#{@character.character_no}:#{@character.name}" , @character) if @character%>
     <%= raw " > " + @link if @link %>
 </span>
     <%= render :partial => "shared/login_link" %>
 &nbsp;
</div>


<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<%= render :partial => "shared/bottom_links" %>

</body>
</html>
