<% @title = 'ターン別着用アイドレス登録' %>
<% @path_link = make_route_link(Nation.find(params[:nation_id]).owner_account) %>
<%= render :partial => "shared/common_layout" ,:locals =>{:path_link => @path_link }%>

