<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>お知らせ: <%= controller.action_name %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<div class='menu' style="width: 100%">
 <span style="float: left" >
     &nbsp;
     <%= link_to "トップ" , :action => :top , :controller => :nations %>
     > <%= link_to '管理者メニュー' , :action => :index ,:controller => :admin %>
     <%= raw " > " + @link if @link %>
 </span>
     <%= render :partial => "shared/login_link" %>
 &nbsp;
</div>

<%= yield  %>


<%= render :partial => "shared/bottom_links" %>

</body>
</html>
