
<% @title = 'マイル口座:'%>
<% if params[:owner_account_id]
     @path_link =make_route_link(@owner_account)
     @title += @owner_account.owner.name
   end
%>

<%= render :partial => "shared/common_layout" ,:locals =>{:path_link => @path_link }%>

