<%
  @title = @npc_type + '管理'
  -%>
<% @path_link = ' > ' + link_to(@nation.name, @nation) + ' > ' +  link_to(@npc_type + '名管理' , npc_name_list_path(@nation)) -%>
<%= render :partial => "shared/common_layout" ,:locals =>{:path_link => @path_link }%>