<% @title = '組織管理' %>

<%
if @organization
  @path_link = ' > ' + link_to('組織一覧',organizations_path() )
  @path_link += make_route_link(@organization.owner_account) if @organization.owner_account
end
  
%>

<%= render :partial => "shared/common_layout" ,:locals =>{:path_link => @path_link }%>