<% @title = '検索' %>
<%
  @path_link = ' > ' + (link_to '検索' , :controller => :search , :action => :form ) unless @path_link
%>

<%= render :partial => "shared/common_layout" ,:locals =>{:path_link => @path_link }%>