<% @title = '編成評価計算機'
 @monju_title = '太元：'
 @option_js = %w[
 ]

  content_for :css do %>
 <style type="text/css">
 <!--
 .ui-tabs  .ui-tabs-panel {
     padding-left: 1px;
     padding-right: 1px;
     background-image: url(<%= asset_path 'spinelz/tab_bar.gif' %>) ;
     background-repeat: repeat-x;
     background-position: top;
     padding-top: 20px;
 }

 .ui-tabs .ui-tabs-nav li a {
    padding: 3px;
 }
 .ui-widget-header {
     background: #ffffff;
 }
 -->
 </style>
<% end  %>
<%= render :partial => "shared/common_layout" ,:locals =>{:path_link => @path_link }%>