<% @title = '評価値比較ツール'
 @monju_title = '編成チェック：'
 @option_style_sheets = "spinelz/tabBox"
 @option_js = %w[
    spinelz/tabBox
    spinelz_lib/spinelz_util
    spinelz_lib/builder
    spinelz_lib/slider.js
 ]
 %>
<%= render :partial => "shared/common_layout" ,:locals =>{:path_link => @path_link }%>