<% content_for :javascript do %>
    <%= javascript_include_tag "jquery.multiselect." + I18n.locale.to_s %>
    <%= javascript_include_tag "jquery.multiselect.filter." + I18n.locale.to_s %>
<% end %>

<% @title = 'ユニット登録' %>

<% paths = []
   if @owner_account
     if @owner_account.owner.class == Character
       nation = @owner_account.owner.nation
       paths << link_to(nation.name , nation_path(nation))
     end
     paths << link_to(@owner_account.owner.name, @owner_account.owner)
     paths << link_to(@title , owner_account_unit_registries_path(@owner_account))
     paths << link_to(@unit_registry.name  , owner_account_unit_registry_path(@owner_account , @unit_registry)) if @unit_registry.try(:id)
   end

   @path_link = (' > ' + paths.join(' > ')).html_safe
%>
<%= render :partial => "shared/common_layout", :locals => {:path_link => @path_link} %>