<% @title = 'イグドラシル' %>
<% content_for :javascript do %>
    <%= javascript_include_tag 'dynatree' %>
    <%= javascript_include_tag 'ytree' %>
<% end %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'dynatree' %>
<% end %>

<% paths = []
   if @owner_account
     if @owner_account.owner.class == Character
       nation = @owner_account.owner.nation
       paths << link_to(nation.name , nation_path(nation))
     end
     paths << link_to(@owner_account.owner.name, @owner_account.owner)
     paths << link_to(@title , owner_account_yggdrasills_path(@owner_account))
     paths << link_to(@yggdrasill.idress_name , owner_account_yggdrasill_path(@owner_account, @yggdrasill)) if @yggdrasill.try(:id)
   else
     paths << link_to(@yggdrasill.yggdrasill_path(@owner_account, @yggdrasill)) if @yggdrasill
   end

   @path_link = (' > ' + paths.join(' > ')).html_safe
%>
<%= render :partial => "shared/common_layout", :locals => {:path_link => @path_link} %>